{{ 'collection-product.css' | asset_url | stylesheet_tag }}
{{ 'battery-category-menu.css' | asset_url | stylesheet_tag }}

<style>

btn:focus, a:focus
{
         outline: none;
}
.navbar-toggler:focus
{
         outline: none !important;
         box-shadow: none;
}
  
.navbar-brand {
font-size:25px!important;
  
}
.navbar-collapse {
    color: black!important;
    margin: 0 50px;
    font-size: large;
    margin-left: 225px;
    margin-right: -150px;
}
  #batteryCategoryMenuContainer {
    width: 100%;
    position: fixed;
    z-index: 1;
    background-color: #f8f9fa;
    padding-left: 30px;
    padding-right: 20px;
}
 
</style>
<!--<nav class="navbar navbar-expand-lg navbar-light bg-light position-fixed shadow-sm" style="z-index:2; width:100%; min-height:30px!important; margin-top:0px">
  <div class="container-fluid">
 
   <a class="navbar-brand fw-bold mx-auto d-lg-none" id="active-nav" style="margin-top:0!important; font-size:30px!important"> Automotive </a>
  
      <button class="navbar-toggler border-0 position-absolute float-end" style="outline:none; top:15px; right:0;" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
   <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-justify-right" viewBox="0 0 16 16">
  <path fill-rule="evenodd" d="M6 12.5a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5zm-4-3a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5zm0-3a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5zm0-3a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5z"/>
</svg>
    </button>
    <div class="collapse navbar-collapse page-width" id="navbarText">
      <ul class="navbar-nav mb-2 mb-lg-0 fw-bold">
        <li class="nav-item">
                <a class="nav-link" aria-current="page" href="/pages/automobile-batteries">Automotive</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/pages/motorcycle-batteries" >Motorcycle</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/pages/truck-batteries">Heavy Commercial</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/pages/outdoor-sports-batteries">Marine & Leisure</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/pages/solar-storage-batteries">Industrial</a>
            </li>
      </ul>
     
    </div>
  </div>
</nav>-->
<div id="batteryCategoryMenuContainer">
  <div id="batteryCategoryMenu">
    <div class="battery-category">
      <a href="/pages/automobile-batteries" class="battery-category-link">Automotive</a>
    </div>
    <div class="battery-category">
      <a href="/pages/motorcycle-batteries" class="battery-category-link">Motorcycle</a>
    </div>
    <div class="battery-category">
      <a href="/pages/truck-batteries" class="battery-category-link">Heavy Commercial</a>
    </div>
    <div class="battery-category">
      <a href="/pages/outdoor-sports-batteries" class="battery-category-link">Marine & Leisure</a>
    </div>
    <div class="battery-category">
      <a href="/pages/solar-storage-batteries" class="battery-category-link">Industrial</a>
    </div>
  </div>
</div>
{%comment%}
<!--navbar-->
    <nav class="navbar-light bg-light shadow-sm position-fixed 	d-none d-md-block d-lg-block" style="z-index:2; width:100%;">
        <ul class="nav justify-content-center">
            <li class="nav-item fw-bold">
                <a class="nav-link" aria-current="page" href="/pages/automobile-batteries">Automotive</a>
            </li>
            <li class="nav-item fw-bold">
                <a class="nav-link" href="/pages/motorcycle-batteries" >Motorcycle</a>
            </li>
            <li class="nav-item fw-bold">
                <a class="nav-link" href="/pages/truck-batteries">Heavy Commercial</a>
            </li>
            <li class="nav-item fw-bold">
                <a class="nav-link" href="/pages/outdoor-sports-batteries">Marine & Leisure</a>
            </li>
            <li class="nav-item fw-bold">
                <a class="nav-link" href="/pages/solar-storage-batteries">Industrial</a>
            </li>

        </ul>
    </nav>

{%endcomment%}

<script>
 

 
  $(function($) {
 let url = window.location.href;
  $('.battery-category-link').each(function() {
   if (this.href === url) {
  	 $(this).parent().addClass('active');
     
     $('#active-nav').text($(this).text());
     

  }
 });
});
 
 
 
</script>


{% schema %}
{
"name": "Battery Navigation",
"settings": [],
"presets": [
{
"name": "Battery Navigation",
"category": "ADVANCED LAYOUT"
}
]
}
{% endschema %}