<style>

  
  .mr-5 {
    margin-right: 5px!important;
  }
  .mb-20 {
    margin-bottom: 20px;
  }
  .mb-40 {
    margin-bottom: 40px;
  }
  .mb-50 {
    margin-bottom: 50px;
  }
  .mt-10 {
    margin-top: 10px;
  }
  .mt-70 {
    margin-top: 70px;
  }
  
  
.career-footer {
    width: 100%;
    height: auto;
    left: 0px;
    background: #d91f2b;
    position: relative;
    padding-top: 18px;
    padding-bottom: 0;
  
  } 
  .material-symbols-outlined {
    position: relative;
    top: 5px;
    padding: 0px;
    margin-left: 10px;
  }
  .career-footer-title {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 600;
    font-size: 19px;
    line-height: 28px;
    color: #FFFFFF;
    text-align: left;
  }
  .career-footer-info {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 200;
    font-size: 15px;
    line-height: 14px;
    color: #FFFFFF;
    padding-left: 7px;
    padding-top: 4px;
  }
  .career-footer-logo {
    width: 300%;
    height: auto;
    margin-left: 17px;
  }
  .telephone {
    font-family:'Raleway' ;
    font-size: 14px;
    color: #fff;
    text-decoration: none;
    line-height:1;
  }
  .text-regular-16 {
    text-decoration: none;
    color:#fff;
    font-weight:200;
  }
  .show-on-small {
    display:none!important;
  }
  .hide-on-small {
    display:block!important;
  }
.table>:not(caption)>*>* {
    padding: 0;
}
  /* For desktop: */
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

@media only screen and (max-width: 768px) {
  .show-on-small {
    display:block!important;
  }
  .hide-on-small {
    display:none!important;
  }
  .col-3 {
    width: 100%;
  }

  .career-footer-logo {
    width: 194%!important;
    height: auto;
    text-align: center;
    margin: 0 !important;
    position: relative;
    bottom: 15px;
    left: -8px;
  }
  
  .career-footer-title {
    text-align: center;
    font-size:22px;
    margin-bottom: 10px;
    margin-top: 5px;
  }
  
  .footer-address {
    color: #fff;
    margin-bottom: 0px;
    font-size: 15px
  }
  .footer-title {
    color: white;
    font-weight: 500;
    font-size: 22px;
  }
  .career-footer-info {
    text-align: center;
    position: relative;\
    bottom: 28px;
  }
  .network {
    color:#fff;
    font-weight:500;
    font-size: 19px;
    margin-right: 10px;
  }
}
  @media only screen and (max-width: 1170px) {
  .career-footer-logo {
    width: 350%;
    margin: 0 38px;
  }
  }



</style>

  <div class="hide-on-small mt-40">
     
   <footer>
  <div class="career-footer d-flex">
    
    <div class="container">
       <div class="row">
    <div class="col-4">
      <div>
        <div class="career-footer-title">
        Location
      </div>
      <div class="career-footer-info">
        <p style="font-weight: 700;">Headquarters:</p><p>Ramcar Center 80-82 Roces Ave. Diliman, Q.C. Philippines</p>
        <p style="font-weight: 700;">Manufacturing Plant:</p><p></p> Sta. Maria Industrial Park, Brgy. Bulac, Sta. Maria, Bulacan</p>
      </div>
      </div>
      <div>
        <div class="career-footer-title">
      Contact Us!
      </div>
      <div class="career-footer-info">
            <table class="table table-borderless" style="border:none;">
        <tbody style="font-size: 16px;color: #fff;">
          <tr>
                  <th scope="row" style="font-weight: 600;font-size: 15px;line-height: 1;">Email:</th>
                  <td class="text-light-16 lh-28 telephone">recruitment@motolite.com</td>
                </tr>
          <!--
          <tr>
                  <th scope="row" style="font-weight: 600;font-size: 15px;line-height: 1;">Smart</th>
                  <td><a href="tel:0918-843-6686" class="text-light-16 lh-28 telephone">(+63) 918-843-6686</a></td>
                </tr>
          <tr>
                  <th scope="row"  style="font-weight: 600;font-size: 15px;line-height: 1;">Globe</th>
                  <td ><a href="tel:0917-891-6686" class="text-light-16 lh-28 telephone">(+639) 917-891-6686</a></td>
                </tr>
                   <tr>
                  <th scope="row"  style="font-weight: 600;font-size: 15px;line-height: 1;">NCR</th>
                  <td><a href="tel:283706686" class="text-light-16 lh-28 telephone">8370-6686</a></td>
                </tr>
          
                <tr>
                  <th scope="row"  style="font-weight: 600;font-size: 15px;line-height: 1;">Provincial</th>
                  <td ><a href="tel:1-800-10-370-6686" class="text-light-16 lh-28 telephone">1-800-10-370-6686</a></td>
                </tr>
                 -->
              </tbody>
            </table>
      </div>
      </div>
    </div>

 <div class="col-2">
      <div class="career-footer-title">
       Follow Us!
      </div>
      <div class="d-flex d-inline">
        <a href="https://www.facebook.com/MotoliteCareersPH/" target="_blank"><img src="https://cdn.shopify.com/s/files/1/0615/7982/1304/files/facebook-6-64_1.png?v=1676591552" class="mr-5"/></a>
        <a href="https://www.linkedin.com/company/philippine-batteries-incorporated/mycompany/" target="_blank"><img src="https://cdn.shopify.com/s/files/1/0615/7982/1304/files/linkedin-app-white-icon.png?v=1714365494" /></a>
        <!--<a href=" https://www.instagram.com/motoliteph/?__coig_restricted=1" target="_blank"><img src="https://cdn.shopify.com/s/files/1/0615/7982/1304/files/instagram-6-64_1.png?v=1676591551" class="mr-5"/></a>
        <a href="https://twitter.com/Motolite_Ph" target="_blank"><img src="https://cdn.shopify.com/s/files/1/0615/7982/1304/files/twitter-3-64_1.png?v=1676591552"/></a>-->
      </div>
    </div>
         
    <div class="col-3">
      <div>
        <div class="career-footer-title">
        Visit our official Store!
      </div>
       <div class="col-3">
          <div class="career-footer-info">
            <a href="https://www.lazada.com.ph/shop/motolite/?spm=a2o4l.10450891.search.1.42423d88B0V5iU&_keyori=ss&from=suggest_sis&sis_suggestion_click=Motolite%20Flagship%20Store%2Cmotolite&sugg=motolite_0_1" target="_blank"" class="text-regular-16">Lazada </a>
          </div>
          <div class="career-footer-info">
            <a href="https://shopee.ph/motoliteexpresshatid" target="_blank" class="text-regular-16">Shoppee</a>
          </div>
        </div>
      </div>
      
      <div class="col-5">
        <div>
        <div class="career-footer-title">
        Quick Links
      </div>
          <div class="career-footer-info">
            <a href="/pages/faq" class="text-regular-16">FAQs </a>
          </div>
          <div class="career-footer-info">
            <a href="/pages/Privacy" class="text-regular-16">PRIVACY</a>
          </div>
        </div>
      </div>
    </div>
   
    <div class="col-1">
      <img src="https://cdn.shopify.com/s/files/1/0615/7982/1304/files/Motolite_Logo.png?v=1676591747" class="career-footer-logo"/>
    </div>
  </div>
  </div>
</footer>
      </div>
  </div>


 <div class="mt-40 show-on-small">
   <div class="career-footer">
      <div class="row" style="margin-left: 40px; margin-right: 40px;">
        <div class="d-flex justify-content-center">
          <div class="col-12">
            <div class="career-footer-title">
        Location
      </div>
            <p class="text-center footer-address"style="font-weight: 700;">Headquarters:</p>
            <p class="text-regular-18 lh-18 text-center footer-address" style="margin-bottom: 8px;">Ramcar Center 80-82 Roces Ave. Diliman, Q.C. Philippines</p>
            <p class="text-center footer-address" style="font-weight: 700;">Manufacturing Plant:</p>
              <p class="text-regular-18 lh-18 text-center footer-address">Sta. Maria Industrial Park, Brgy. Bulac, Sta. Maria, Bulacan</p>
          </div>
        </div>
          
        <div class="d-flex justify-content-center mt-40" style="margin-top: 27px;">
          <div class="row"  >
          <div class="col-12">
            
              <h4 class="text-center footer-title">Contact Us</h4>
              <p  class="text-center text-light telephone" style=" word-wrap: break-word;font-size: 15px"><b>Email:</b> recruitment@motolite.com</p>
            
          </div>
        
          
          <div class="col-12">
            <div>
              <h4 class="text-center footer-title">Follow Us!</h4>
            </div>
            <div class="justify-content-center" style="position: relative;left: 101px;">
              <a href="https://www.facebook.com/motoliteexpresshatid/" target="_blank"><img src="https://cdn.shopify.com/s/files/1/0615/7982/1304/files/facebook-6-64_1.png?v=1676591552" class="mr-5"/></a>
               <a href="https://www.linkedin.com/company/philippine-batteries-incorporated/mycompany/" target="_blank"><img src="https://cdn.shopify.com/s/files/1/0615/7982/1304/files/linkedin-app-white-icon.png?v=1714365494" /></a>
       
              </div>
          </div>
        
      
        </div>
          </div>

    </div>
<br>
       <div class="row"  style="margin-left: 40px; margin-right: 40px;">
          <div class="col-6">
            <div style="margin-bottom: -15px;">
              <h4 class="text-center footer-title">Visit our Official Store</h4>
            </div>
            <br>
            <div class="justify-content-center">
             <div class="col-3">
          <div class="career-footer-info">
            <a href="https://www.lazada.com.ph/shop/motolite/?spm=a2o4l.10450891.search.1.42423d88B0V5iU&_keyori=ss&from=suggest_sis&sis_suggestion_click=Motolite%20Flagship%20Store%2Cmotolite&sugg=motolite_0_1" target="_blank"" class="text-regular-16">Lazada </a>
          </div>
          <div class="career-footer-info">
            <a href="https://shopee.ph/motoliteexpresshatid" target="_blank" class="text-regular-16">Shopee</a>
          </div>
        </div>
            </div>
          </div>
     
       
          <div class="col-6">
            <div>
              <h4 class="text-center footer-title">Quick links</h4>
            </div>
            <div class="d-flex justify-content-center">
            <a href="/pages/faq" class="text-regular-16">FAQs </a>
            </div>
           <div class="d-flex justify-content-center">
             <a href="/pages/Privacy" class="text-regular-16">PRIVACY</a>
            </div>
            
          </div>
       </div>
         
       

<div class="d-flex justify-content-center mt-40" style="margin-top: 27px;">
           <div class="row">
          <div class="col-7">
      <img src="https://cdn.shopify.com/s/files/1/0615/7982/1304/files/Motolite_Logo.png?v=1676591747" class="career-footer-logo"/>
    </div>
     
            </div>
 </div>
         