<style type="text/css">
  .template-404 .title + * {
    margin-top: 1rem;
    font-family: raleway;
  }

  @media screen and (min-width: 750px) {
    .template-404 .title + * {
      margin-top: 2rem;
      font-family: raleway;
    }
  }
</style>

<div class="template-404 page-width page-margin center">
  <h1 class="title">
    {{ 'templates.404.title' | t }}
  </h1>
  <p style="margin-bottom:2rem;">
    Please check your link and try again, or search for it from the HOMEPAGE link below.
  </p>
  <a href="https://motolitestore.myshopify.com" class="button">
    Continue to Homepage
  </a>
</div>
