<link rel="stylesheet" href="{{ 'maintenace-free-battery.css' | asset_url }}">
<link rel="stylesheet" href="{{ 'global.css' | asset_url }}">


 <section class="buy-maintenance-battery global-padding">
      <div class="wrapper">
        <div class="container-fluid">
          <div class="content d-flex align-items-center">
            <div class="text">
              <h2>Why Should You Buy a Maintenance-free Car Battery</h2>
              <p>
                Our maintenance-free car battery is built for busy drivers who
                prioritize convenience and safety. Here's why you should buy one
                for a worry-free driving experience:
              </p>
            </div>
            <div class="image">
              <img
                src="https://cdn.shopify.com/s/files/1/0615/7982/1304/files/Buy-Maintenance-free.jpg?v=1728617415"
                alt="Buy a Maintenance-free"
              />
            </div>
          </div>
          <div class="row">
            <div class="col-xl-6">
              <div class="card">
                <div class="image">
                  <img
                    src="https://cdn.shopify.com/s/files/1/0615/7982/1304/files/Start-stop_Technology.png?v=1728548068"
                    alt="Convenience"
                  />
                </div>
                <h3>Convenience</h3>
                <p>
                  Gone are the days of grappling with a car battery under the
                  hood, meticulously checking fluid levels, and topping them off
                  with distilled water. This routine maintenance, while
                  necessary for batteries, can be time-consuming. Fortunately,
                  Motolite's maintenance-free car battery eliminates these
                  chores.
                </p>
                <p>
                  Our battery’s sealed design traps the electrolyte within,
                  preventing the need for monitoring or top-offs. You can save
                  more time for the things that matter, like enjoying extra sleep
                  in the morning, or a weekend road trip you've been planning.
                </p>
              </div>
            </div>
            <div class="col-xl-6">
              <div class="card">
                <div class="image">
                  <img
                    src="https://cdn.shopify.com/s/files/1/0615/7982/1304/files/Safer-Handling.png?v=1728617503"
                    alt="Safer Handling"
                  />
                </div>
                <h3>Safer Handling</h3>
                <p>
                  Traditional car batteries contain sulfuric acid, a powerful
                  electrolyte crucial for their function. Unfortunately, this
                  acid is also highly corrosive and can cause severe burns if it
                  comes into contact with your skin or eyes.
                </p>
                <p>
                  Accidental spills can damage clothing, car parts, and even
                  your driveway. Motolite's maintenance-free car battery
                  eliminates this risk with its sealed design. The acid is
                  safely contained within the battery, so you don't have to
                  worry about spills or splashes during installation,
                  maintenance, or an accident.
                </p>
              </div>
            </div>
            <div class="col-xl-6">
              <div class="card">
                <div class="image">
                  <img
                    src="https://cdn.shopify.com/s/files/1/0615/7982/1304/files/Longer-Lifespan.png?v=1728617503"
                    alt="Longer Lifespan"
                  />
                </div>
                <h3>Longer Lifespan</h3>
                <p>
                  Traditional car batteries rely on a chemical reaction that
                  involves the gradual breakdown of water within the battery.
                  This water loss reduces the battery's ability to hold a charge
                  and shortens its lifespan.
                </p>
                <p>
                  Motolite's maintenance-free battery takes a smarter approach.
                  It traps the water inside the battery to prevent evaporation,
                  which is the culprit behind battery decline. You can expect
                  our battery to deliver reliable power for four to six years,
                  saving you money on replacements.
                </p>
              </div>
            </div>
            <div class="col-xl-6">
              <div class="card">
                <div class="image">
                  <img
                    src="https://cdn.shopify.com/s/files/1/0615/7982/1304/files/Durability_00644640-96aa-4fed-b303-7f5d2744672f.png?v=1728617502"
                    alt="Durability"
                  />
                </div>
                <h3>Durability</h3>
                <p>
                  Traditional batteries are susceptible to damage from bumps,
                  vibrations, and extreme temperatures. Loose internal
                  components can cause shorts and leaks, leading to a dead
                  battery at the worst possible time.
                </p>
                <p>
                  Motolite's maintenance-free car battery features robust
                  construction with reinforced casings and improved internal
                  connections. This extra strength helps it withstand the
                  rigors of daily driving, including rough roads, potholes, and
                  extreme weather conditions.
                </p>
              </div>
            </div>
            <div class="col-xl-6">
              <div class="card">
                <div class="image">
                  <img
                    src="https://cdn.shopify.com/s/files/1/0615/7982/1304/files/Environmentally.png?v=1728617502"
                    alt="Environmentally Friendly"
                  />
                </div>
                <h3>Environmentally Friendly</h3>
                <p>
                  While all batteries require proper disposal at the end of
                  their lifespan, Motolite's maintenance-free car battery offers
                  a significant environmental advantage. Due to its sealed
                  design, you can eliminate the risk of spills to minimize
                  environmental contamination.
                </p>
                <p>
                  Additionally, by extending the battery's lifespan, we help
                  reduce the overall number of batteries that end up in
                  landfills, contributing to a more sustainable future.
                  Choosing our maintenance-free car battery is a smart choice
                  for your vehicle and the environment, helping you make a
                  positive impact.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="additional-services global-padding">
      <div class="wrapper">
        <div class="container-fluid">
          <div class="header">
            <h2>Additional Services from Motolite</h2>
            <p>
              Here at Motolite, we offer a suite of valuable services designed
              to make ownership a breeze. Here's how we go the extra mile to
              ensure a smooth and worry-free driving experience:
            </p>
          </div>
          <div class="row">
            <div class="col-xl-6">
              <div class="card">
                <div class="image">
                  <img
                    src="https://cdn.shopify.com/s/files/1/0615/7982/1304/files/Warranty_fff14826-3e30-4ec9-a4fd-9632d732d6c7.png?v=1728617503"
                    alt="Warranty"
                  />
                </div>
                <h3>Warranty</h3>
                <p>
                  For 18-21 months, depending on the battery brand, we guarantee
                  it'll be free from defects in materials and workmanship. If a
                  covered failure occurs within this timeframe, we'll replace
                  your battery with a brand new one of the same size and type
                  for free.
                </p>
                <p>
                  To make it even more convenient, we offer a Motolite
                  E-warranty that allows you to track and manage your warranty
                  online.
                </p>
              </div>
            </div>
            <div class="col-xl-6">
              <div class="card">
                <div class="image">
                  <img
                    src="https://cdn.shopify.com/s/files/1/0615/7982/1304/files/free-free-intall.png?v=1728617502"
                    alt="Free Installation and Delivery"
                  />
                </div>
                <h3>Free Installation and Delivery</h3>
                <p>
                  We also offer free installation and delivery of your new
                  maintenance-free battery. Our trained technicians will ensure
                  a smooth and worry-free experience by handling the
                  installation process for you.
                </p>
                <p>
                  These include installing the battery carefully and performing
                  basic electrical checks to ensure everything functions
                  properly.
                </p>
              </div>
            </div>
            <div class="col-xl-6">
              <div class="card">
                <div class="image">
                  <img
                    src="https://cdn.shopify.com/s/files/1/0615/7982/1304/files/express-hatid.png?v=1728617502"
                    alt="Express Hatid"
                  />
                </div>
                <h3>Express Hatid</h3>
                <p>
                  Motolite's Express Hatid delivers and installs car batteries
                  24/7 in Metro Manila and key cities nationwide including Cebu.
                  We offer additional free services like battery diagnostics,
                  jumpstarting, recharging, and a basic electrical checkup when
                  you buy a battery.
                </p>
                <p>
                  Plus, you have flexible payment options with cash, debit, and
                  credit cards, including 0% interest installments for BDO
                  credit cards.
                </p>
              </div>
            </div>
            <div class="col-xl-6">
              <div class="card">
                <div class="image">
                  <img
                    src="https://cdn.shopify.com/s/files/1/0615/7982/1304/files/res-q.png?v=1728617503"
                    alt="Res-Q App"
                  />
                </div>
                <h3>Res-Q App</h3>
                <p>
                  Motolite's Res-Q App is your roadside hero in the Philippines,
                  offering 24/7 on-demand assistance for a flat tire, empty fuel
                  tank, dead battery, or overheating engine with just a few
                  taps. It also lets you track the technician's arrival time for
                  peace of mind.
                </p>
                <p>
                  Plus, our latest app update lets you trade-in your old battery
                  for a discounted new one right within the app, making car
                  maintenance a breeze.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>


    <section class="buy-motolite-battery global-padding">
      <div class="wrapper">
        <div class="container-fluid">
          <div class="content">
            <h2>Buy Your Motolite Battery Now!</h2>
            <p>
              Don't wait any longer to experience the convenience and peace of
              mind that Motolite maintenance-free car battery offers. Visit
              your nearest Motolite dealer or
              <a href="https://www.motolite.com" target="_blank" >browse through our website</a> to find the perfect
              maintenance-free battery for your car. Buy Now!
            </p>
            <a
              href="https://www.motolite.com/pages/contact-us"
              target="_blank"
              rel="noopener noreferrer"
              class="buy_now red_btn"
              >Buy Now!</a
            >
          </div>
        </div>
      </div>
    </section>


    
{% schema %}
{
"name": "Maintenance batteries",
"settings": [],
"presets": [
{
"name" : "Maintenance batteries"
}
]
}
{% endschema %}

{% stylesheet %}

{% endstylesheet %}

{% javascript %}
{% endjavascript %}


  