<section class="banner">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12 p-0">
        <div id="demo" class="carousel slide" data-bs-ride="carousel">
          <div class="carousel-indicators">
            <button
              type="button"
              data-bs-target="#demo"
              data-bs-slide-to="0"
              class="active"
              aria-current="true"
              aria-label="Slide 1"
            ></button>
            <button type="button" data-bs-target="#demo" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#demo" data-bs-slide-to="2" aria-label="Slide 3"></button>
            <button type="button" data-bs-target="#demo" data-bs-slide-to="3" aria-label="Slide 4"></button>
            <button type="button" data-bs-target="#demo" data-bs-slide-to="4" aria-label="Slide 5"></button>
            <button type="button" data-bs-target="#demo" data-bs-slide-to="5" aria-label="Slide 6"></button>
          </div>
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img
                src="https://cdn.shopify.com/s/files/1/0615/7982/1304/files/Rectangle_33-min.jpg?v=1686192073"
                alt="Kaagapay mo sa pagsisikap. Pangmatagalan."
                class="d-block"
                style="width:100%"
              >
              <div class="carousel-caption d-none d-md-block">
                <h2 class="text-uppercase">
                  Kaagapay mo <br>
                  sa pagsisikap. <br>
                  Pangmatagalan.
                </h2>
              </div>
            </div>
            <div class="carousel-item">
              <img
                src="https://cdn.shopify.com/s/files/1/0615/7982/1304/files/Rectangle_37-min.jpg?v=1686192073"
                alt="Motolite, your trusted ally to power long haul use."
                class="d-block"
                style="width:100%"
              >
              <div class="carousel-caption d-none d-md-block">
                <h2 class="text-uppercase">
                  Your trusted <br>
                  ally to power <br>
                  long haul use.
                </h2>
              </div>
            </div>
            <div class="carousel-item">
              <img
                src="https://cdn.shopify.com/s/files/1/0615/7982/1304/files/Rectangle_38-min.jpg?v=1686192073"
                alt="Motolite, the Philippines’ authority in all battery-related requirements."
                class="d-block"
                style="width:100%"
              >
              <div class="carousel-caption d-none d-md-block">
                <h1>
                  the Philippines’ <br>
                  authority in <br>
                  all battery-<br>
                  related <br>
                  requirements.
                </h1>
              </div>
            </div>
            <div class="carousel-item">
              <img
                src="https://cdn.shopify.com/s/files/1/0615/7982/1304/files/Rectangle_35-min.jpg?v=1686192073"
                alt="Providing you options for all your battery needs."
                class="d-block"
                style="width:100%"
              >
              <div class="carousel-caption d-none d-md-block">
                <h2 class="text-uppercase">
                  Providing you <br>
                  options for all <br>
                  your battery <br>
                  needs.
                </h2>
              </div>
            </div>
            <div class="carousel-item">
              <img
                src="https://cdn.shopify.com/s/files/1/0615/7982/1304/files/Rectangle_34-min.jpg?v=1686192073"
                alt="Motolite’s batteries are built for the country’s terrain and road conditions."
                class="d-block"
                style="width:100%"
              >
              <div class="carousel-caption d-none d-md-block">
                <h2 class="text-uppercase">
                  built for the <br>
                  country’s <br>
                  terrain and <br>
                  road conditions.
                </h2>
              </div>
            </div>
            <div class="carousel-item">
              <img
                src="https://cdn.shopify.com/s/files/1/0615/7982/1304/files/Rectangle_36-min.jpg?v=1686192073"
                alt="Oriental and Motolite Marketing Corporation."
                class="d-block"
                style="width:100%"
              >
              <div class="carousel-caption d-none d-md-block">
                <h2 class="text-uppercase">
                  your reliable <br>
                  source for all <br>
                  your marine <br>
                  needs.
                </h2>
              </div>
            </div>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#demo" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#demo" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
      </div>
    </div>
  </div>
</section>

<script>
  $(document).ready(function () {
    (function () {
      initializeCarousels();
      initializeContactForm();
    })();

    function initializeCarousels() {
      let extraSmallScreenMediaQuery = window.matchMedia('(max-width: 575px)');
      let smallScreenMediaQuery = window.matchMedia('(min-width: 576px) and (max-width: 767px)');
      let mediumScreenMediaQuery = window.matchMedia('(min-width: 768px) and (max-width: 991px)');
      let largeScreenMediaQuery = window.matchMedia('(min-width: 992px)');

      (function () {
        extraSmallScreenMediaMatched(extraSmallScreenMediaQuery);
        extraSmallScreenMediaQuery.addListener(extraSmallScreenMediaMatched);

        smallScreenMediaMatched(smallScreenMediaQuery);
        smallScreenMediaQuery.addListener(smallScreenMediaMatched);

        mediumScreenMediaMatched(mediumScreenMediaQuery);
        mediumScreenMediaQuery.addListener(mediumScreenMediaMatched);

        largeScreenMediaMatched(largeScreenMediaQuery);
        largeScreenMediaQuery.addListener(largeScreenMediaMatched);
      })();

      function carousel(elementId, numberOfItemsToDisplay) {
        let element = $(`#${elementId}`);
        let previousButton = element.find('.custom-carousel-previous-button');
        let nextButton = element.find('.custom-carousel-next-button');
        let items = element.find('.custom-carousel-item');
        let previousItemIndex = -1;
        let nextItemIndex = numberOfItemsToDisplay;

        for (let i = 0; i < items.length; i++) {
          if (i < numberOfItemsToDisplay) {
            $(items[i]).removeClass('d-none');
          } else {
            $(items[i]).addClass('d-none');
          }
        }

        previousButton.off();
        previousButton.click(function () {
          if (previousItemIndex >= 0) {
            $(items[--nextItemIndex]).addClass('d-none');
            $(items[previousItemIndex]).removeClass('d-none');

            previousItemIndex--;
          }
        });

        nextButton.off();
        nextButton.click(function () {
          if (nextItemIndex < items.length) {
            $(items[++previousItemIndex]).addClass('d-none');
            $(items[nextItemIndex]).removeClass('d-none');

            nextItemIndex++;
          }
        });
      }

      function extraSmallScreenMediaMatched(mediaQueryList) {
        if (mediaQueryList.matches) {
          carousel('batteryCategoryCarousel', 1);
          carousel('servicesCarousel', 1);
          carousel('advantagesCarousel', 1);
        }
      }

      function smallScreenMediaMatched(mediaQueryList) {
        if (mediaQueryList.matches) {
          carousel('batteryCategoryCarousel', 1);
          carousel('servicesCarousel', 1);
          carousel('advantagesCarousel', 2);
        }
      }

      function mediumScreenMediaMatched(mediaQueryList) {
        if (mediaQueryList.matches) {
          carousel('batteryCategoryCarousel', 2);
          carousel('servicesCarousel', 2);
          carousel('advantagesCarousel', 3);
        }
      }

      function largeScreenMediaMatched(mediaQueryList) {
        if (mediaQueryList.matches) {
          carousel('batteryCategoryCarousel', 3);
          carousel('servicesCarousel', 3);
          carousel('advantagesCarousel', 4);
        }
      }
    }

    function initializeContactForm() {
      const emptyOrWhitespacesStringPattern = /^\s*$/;

      let contactUsForm = $('#contact_form');
      let emailAddressInput = contactUsForm.find('#email');
      let emailAddressInputErrorMessage = emailAddressInput.siblings('.input-error-message');
      let contactNumberInput = contactUsForm.find('#contact_number');
      let contactNumberInputErrorMessage = contactNumberInput.siblings('.input-error-message');

      (function () {
        contactUsForm.find('#contact_form_submit').click(function () {
          emailAddressInputErrorMessage.text('');
          contactNumberInputErrorMessage.text('');

          let emailAddressValidationResult = validateEmailAddress(emailAddressInput.val());

          if (!emailAddressValidationResult.isValid) {
            emailAddressInputErrorMessage.text(emailAddressValidationResult.errorMessage);
          }

          let contactNumberValidationResult = validateContactNumber(contactNumberInput.val());

          if (!contactNumberValidationResult.isValid) {
            contactNumberInputErrorMessage.text(contactNumberValidationResult.errorMessage);
          }

          if (emailAddressValidationResult.isValid && contactNumberValidationResult.isValid) {
            contactUsForm.submit();
          }
        });
      })();

      function validateEmailAddress(emailAddress) {
        if (emptyOrWhitespacesStringPattern.test(emailAddress)) {
          return { isValid: false, errorMessage: 'Email Address is required.' };
        }

        if (!/^[^\s@]+@[^\s@]+\.[^\s@]+/.test(emailAddress)) {
          return { isValid: false, errorMessage: 'Invalid email address.' };
        }

        return { isValid: true };
      }

      function validateContactNumber(contactNumber) {
        if (emptyOrWhitespacesStringPattern.test(contactNumber)) {
          return { isValid: false, errorMessage: 'Contact Number is required.' };
        }

        if (!/^[0-9]*$/.test(contactNumber)) {
          return { isValid: false, errorMessage: 'Invalid Contact Number.' };
        }

        return { isValid: true };
      }
    }
  });
</script>
