{{ 'raffle-navigation.css' | asset_url | stylesheet_tag }}

<style>
  btn:focus, a:focus
  {
           outline: none;
  }
  .navbar-toggler:focus
  {
           outline: none !important;
           box-shadow: none;
  }

  .navbar-brand {
  font-size:25px!important;

  }
  }
  .navbar-collapse {
      margin: 0 50px;
      font-size: large;
  }
    .nav-item {
    margin-left: 220px;
      margin-right: -190px;

    }
</style>

<div id="batteryServicesNavContainer">
  <div id="batteryServicesNav">
    <div class="raffle">
      <a href="/pages/participating-outlets" class="raffle-link">Participating Outlets</a>
    </div>
    <div class="raffle">
      <a href="/pages/november-2023-winners" class="raffle-link"> Winners</a>
    </div>
  </div>
</div>
{% comment %}
  <!--navbar-->
      <nav class="navbar-light bg-light shadow-sm position-fixed 	d-none d-md-block d-lg-block" style="z-index:2; width:100%;">
          <ul class="nav justify-content-center">
              <li class="nav-item fw-bold">
                  <a class="nav-link" aria-current="page" href="/pages/participating-outlets">Participating Outlets</a>
              </li>
            <li class="nav-item fw-bold">
                  <a class="nav-link" aria-current="page" href="/pages/march2023-winners">Winners</a>
              </li>


          </ul>
      </nav>
{% endcomment %}

<script>
    $(function($) {
   let url = window.location.href;
    $('.battery-service-link').each(function() {
     if (this.href === url) {
    	 $(this).parent().addClass('active');

       $('#active-nav').text($(this).text());


    }
   });
  });
</script>

{% schema %}
{
"name": "Battery Navigation",
"settings": [],
"presets": [
{
"name": "Battery Navigation",
"category": "ADVANCED LAYOUT"
}
]
}
{% endschema %}
