:root {
    --red_text: #D5232B;
    --black_text: #212529
}

.grey_btn {
    padding: 13px 34px;
    border-radius: 5px;
    background: var(--grayish, linear-gradient(180deg, #FBFBFB 0%, #919191 100%));
    color: #212529;
    text-align: center;
    font-family: "Segoe UI";
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 20.625px;
    letter-spacing: 0.66px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.grey_btn:hover,
.gold_btn:hover,
.red_btn:hover {
    transition: .5s ease all;
    border-radius: 5px;
    background: var(--CTA-2, linear-gradient(180deg, #FF7A00 6.03%, #7D2D00 100%));
    color: #FFF;
    -webkit-transition: .5s ease all;
    -moz-transition: .5s ease all;
    -ms-transition: .5s ease all;
    -o-transition: .5s ease all;
}

.gold_btn {
    padding: 13px 34px;
    border-radius: 5px;
    background: var(--yellowish, linear-gradient(180deg, #F8C606 0%, #924E00 100%));
    color: #FFF;
    text-align: center;
    font-family: "Segoe UI";
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 20.625px;
    /* 128.906% */
    letter-spacing: 0.66px;
}

.red_btn {
    padding: 13px 34px;
    border-radius: 5px;
    background: var(--CTA-1, linear-gradient(180deg, #DC3545 0%, #450007 100%));
    color: #FFF;
    text-align: center;
    font-family: "Segoe UI";
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 20.625px;
    /* 128.906% */
    letter-spacing: 0.66px;
}

img {
    max-width: 100%;
}

h3 {
    color: #424242;
    font-family: 'Raleway', sans-serif;
    font-size: 25px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
        letter-spacing: 0.69px;
}

p {
    color: #807F7F;
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
    margin-bottom: 15px;
    letter-spacing: 0.66px;
}

p:last-of-type {
    margin-bottom: 0;
}