.article-card__info {
    padding: 3rem;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    background-color: #fff;
}

.title--primary {
    display:none;
}

.blog-articles {
  display: grid;
    grid-gap: 30px 10px;
    filter: drop-shadow(0px 4px 4px rgba(0,0,0,.25));
    padding-bottom: 50px;
}

@media screen and (min-width: 750px) {
.spaced-section {
    margin-top: 0;
}
  
  .blog-articles {
    grid-template-columns: 1fr 1fr;
  }

  .blog-articles--collage > *:nth-child(5n + 1),
  .blog-articles--collage > *:nth-child(4n + 2):last-child {
    grid-column: span 2;
    text-align: center;
  }

  .blog-articles--collage > *:nth-child(3n + 1) .article-card__image--small,
  .blog-articles--collage > *:nth-child(3n + 2):last-child .article-card__image--small {
    padding-bottom: 22rem;
  }

  .blog-articles--collage > *:nth-child(4n + 1) .article-card__image--medium,
  .blog-articles--collage > *:nth-child(4n + 2):last-child .article-card__image--medium {
    padding-bottom: 44rem;
  }

  .blog-articles--collage > *:nth-child(4n + 1) .article-card__image--large,
  .blog-articles--collage > *:nth-child(4n + 2):last-child .article-card__image--large {
    padding-bottom: 66rem;
  }
}

@media screen and (min-width: 990px) {
  .blog-articles--collage > *:nth-child(4n + 1) .article-card__image--small,
  .blog-articles--collage > *:nth-child(4n + 2):last-child .article-card__image--small {
    padding-bottom: 27.5rem;
  }

  .blog-articles--collage > *:nth-child(4n + 1) .article-card__image--medium,
  .blog-articles--collage > *:nth-child(4n + 2):last-child .article-card__image--medium {
    padding-bottom: 55rem;
  }

  .blog-articles--collage > *:nth-child(4n + 1) .article-card__image--large,
  .blog-articles--collage > *:nth-child(4n + 2):last-child .article-card__image--large {
    padding-bottom: 82.5rem;
  }
}
