{% section 'winners-navigation' %}
{{ 'raffle-winners.css' | asset_url | stylesheet_tag }}

 <!-- BANNER-->
<div class="container">
  <img src="https://cdn.shopify.com/s/files/1/0615/7982/1304/files/14.png?v=1712827236" class="img-fluid">
  <center>
 <!-- SAMSUNG A34-->
  <img src="https://cdn.shopify.com/s/files/1/0615/7982/1304/files/A34.png?v=1706783947" class="img-fluid">
</center>

<table width="100%" style="border: 1px solid white; box-shadow: none;text-align: center;color:#000;">
<tbody>
  <tr>
  <td style="font-family: Raleway;font-size: 2rem;font-weight: 700;">Gabby Lacuesta</td>
  <td style="font-family: Raleway;font-size: 2rem;font-weight: 700">Aireen Mariano</td>
  </tr>
  </table>
  <table width="100%" style="border: 1px solid white; box-shadow: none;text-align: center;color:#000;">
    <tr>
  <td style="font-family: Raleway;font-size: 2rem;font-weight: 700">Balwardo Alvarez</td>
  </tr>
  </table>
  
  <!-- 600 KFC GC-->
  
  <table width="100%" style="border: 1px solid white; box-shadow: none;text-align: center;color:#000;">
   <img src="https://cdn.shopify.com/s/files/1/0615/7982/1304/files/prize-BANNER3--1200X400.jpg?v=1681403020" class="img-fluid">
  <tr>
  <td class="giftcard_500">Jeff Juan</td>
  <td class="giftcard_500">Karl Christenson Dapitan </td>
  </tr>
    <tr>
  <td class="giftcard_500">Simon Lim</td>
  <td class="giftcard_500">Claudio Jr.  Chua La Torre</td>
  </tr>
    <tr>
  <td class="giftcard_500">Eder Ann  Lantang </td>
  <td class="giftcard_500">Maria Teresa Bonifacio</td>
  </tr>
    <tr>
  <td class="giftcard_500">Gil  Edeza</td>
  <td class="giftcard_500">Brian Bayang</td>
  </tr>
    <tr>
  <td class="giftcard_500">Renz Yu</td>
  <td class="giftcard_500">Rosamay  Belgar </td>
  </tr>
    <tr>
  <td class="giftcard_500">Reynaldo  Villar </td>
  <td class="giftcard_500">Marcelo Savitri</td>
  </tr>
    <tr>
  <td class="giftcard_500">Danilo Intal</td>
   <td class="giftcard_500">Richard Tollo</td>
  </tr>
    <tr>
 <td class="giftcard_500">Catherine Joyce Enrico</td>
  <td class="giftcard_500">Emily  Chua </td>
  </tr>
    <tr>
   <td class="giftcard_500">Malou Quejano</td>
   <td class="giftcard_500">Archie Paguian</td>
  </tr>
     <tr>
   <td class="giftcard_500">Gabriel  Oledan </td>
   <td class="giftcard_500">Virginia Viray</td>
  </tr>
    <tr>
  <td class="giftcard_500">Clint  Villanueva</td>
  <td class="giftcard_500">Ali Khan Mangondato</td>
  </tr>
    <tr>
  <td class="giftcard_500">Jeremy Ley</td>
  <td class="giftcard_500">Cecillo Conti</td>
  </tr>
  <tr>
    
  </table>
  <table width="100%" style="border: 1px solid white; box-shadow: none;text-align: center;color:#000;">
  <tr>
  <td class="giftcard_500">Joel Castro</td>
  </tr>
  </table>

   <!-- 100 KFC GC-->
  
  <table width="100%" style="border: 1px solid white; box-shadow: none;text-align: center;color:#000;">
  <img src="https://cdn.shopify.com/s/files/1/0615/7982/1304/files/prize-BANNER4--1200X400.jpg?v=1681403019" class="img-fluid">
  <tr>
  <td class="giftcard_100">Joel Manuel </td>
  <td class="giftcard_100">Ann Gelano</td>
  </tr>
  <tr>
  <td class="giftcard_100">Teddy Lopez</td>
  <td class="giftcard_100">Sandie Zarate</td>
  </tr>
  <tr>
  <td class="giftcard_100">Hans Oasan</td>
  <td class="giftcard_100">Verlyn Diaz</td>
  </tr>
  
  <tr>
  <td class="giftcard_100">Yvette Erika Wong</td>
   <td class="giftcard_100">Randy  Gallope</td>
  </tr>
  <tr>
 <td class="giftcard_100">Blitza  Sumalinog</td>
 <td class="giftcard_100">Ricky  Sarmiento</td>
  </tr>
  <tr>
  <td class="giftcard_100">Noel Carlo Bernal</td>
  <td class="giftcard_100">Estrella  Sanqui</td>
  </tr>
  <tr>
  <td class="giftcard_100">Gino  Del  Rosario</td>
  <td class="giftcard_100">Alice Ty</td>
  </tr>
 
  <tr>
  <td class="giftcard_100">Ken Alejo</td>
  <td class="giftcard_100">Carla Reyes</td>
  </tr>
  <tr>
  <td class="giftcard_100">Rhymark Lunar  Dela Cruz</td>
  <td class="giftcard_100">Ariel  Mateo</td>
  </tr>
  <tr>
  <td class="giftcard_100">Angelito Argao</td>
  <td class="giftcard_100">Audel Formanes</td>
  </tr>
  <tr>
  <td class="giftcard_100">Claire de Larrazabal</td>
  <td class="giftcard_100">Raymond Luna</td>
  </tr>
  
  <tr>
  <td class="giftcard_100">Vicente Almerol</td>
  <td class="giftcard_100">Edward Ryan  del Rosario </td>
  </tr>
  <tr>
  <td class="giftcard_100">Rayban Buenafe</td>
  <td class="giftcard_100">Ria Sara Cabria</td>
  </tr>
  <tr>
  <td class="giftcard_100">Edmar Pataueg</td>
  <td class="giftcard_100">Lamberto Pena</td>
  </tr>
  <tr>
  <td class="giftcard_100">Luxy Chan</td>
  <td class="giftcard_100">Johanna Caguin</td>
  </tr>
  <tr>
  <td class="giftcard_100">Chona  Leonila Morales Mejia</td>
   <td class="giftcard_100">Tom Avencena</td>
  </tr>
  <tr>
 <td class="giftcard_100">Alberto  Laxamana</td>
 <td class="giftcard_100">Rina  Cruz</td>
  </tr>
  <tr>
  <td class="giftcard_100">Andrea May de Chavez</td>
  <td class="giftcard_100">Christian Clemente</td>
  </tr>
  <tr>
  <td class="giftcard_100">Anna  Perez</td>
   <td class="giftcard_100">Lancelot Chua</td>
  </tr>
  <tr>
  <td class="giftcard_100">Jayson  Adeda</td>
  <td class="giftcard_100">Flora Villarosa</td>
  </tr>
  <tr>
  <td class="giftcard_100">Wesley Rodriguez</td>
   <td class="giftcard_100">Yonni Habulan</td>
  </tr>
  <tr>
 <td class="giftcard_100">Jerome Lim</td>
  <td class="giftcard_100">Asistio Martinez</td>
  </tr>
  <tr>
  <td class="giftcard_100">Eva Agustin</td>
  <td class="giftcard_100">Teresita Lugue</td>
  </tr>
  <tr>
  <td class="giftcard_100">Rossa Baldivino </td>
  <td class="giftcard_100">Niko Jay  Dela Cruz</td>
  </tr>
  <tr>
 <td class="giftcard_100">Carlo Esmeralda</td>
 <td class="giftcard_100">Jefferson Mallari</td>
  </tr>
  </tbody>
 </table>

  <h2 class="promo_mechanics">ANNOUNCEMENT OF WINNERS AND CLAIMING OF PRIZES</h2> 
  <ol>
  <li>Winners will be notified via registered mail, email, and SMS message based on their raffle entry information. Their names will also be posted on our <a href="https://www.facebook.com/motoliteexpresshatid"> Facebook Page</a>.</li>
<li>Winners must present all of the following upon claiming the prize at the Motolite Philippines head office located at Ramcar Center 80-82 Roces Ave. Diliman, Q.C. from 10AM to 5PM, Mondays thru Fridays – Except on Holidays. Prizes may also be claimed at Motolite Outlets based on mutual agreement between Oriental & Motolite Marketing Corporation (OMMC) & the prize winner.</li>
  </ol>
  <ol type="A" style="margin-left: 20px;">
    <li>Valid ID (i.e. Driver’s license, Passport, SSS ID, TIN ID, Company or School ID). The name on the Valid ID must correspond to the registered name in the promo. Valid Motolite RES-Q app installed on their smartphone (with the registered mobile number), with the correct plate number and battery serial number details in the RES-Q app.</li>
<li>Official notification text sent to the registered mobile number. Support notification also sent to registered e-mail address (if provided).</li>
<li>Authorized representatives shall be allowed to claim in behalf of the winning subscriber provided that he/ she is able to present the following:</li>
  </ol>
<ul style="margin-left: 35px;">
  <li>Copy of the registered subscriber’s valid ID (original and photocopy)</li>
<li>Authorized representative’s valid ID (original and photocopy)</li>
<li>Authorization letter (signature should match with the signature in the valid ID)</li>
<li>Official notification sent via email or text message from Motolite Philippines</li>
</ul>
  