{% section 'winners-navigation' %}
<STYLE>
  h2.outlets_title {
  font-weight: 600;
  font-family: sans-serif;
  margin-top: 70px;
  margin-bottom: 30px;
  color:red;
}
  .giftcard_500 {
   font-family: raleway;
  font-size: 2rem;
  font-weight: 700;    
  }
  .giftcard_100 {
   font-family: raleway;
    font-size: 2rem;
    font-weight: 700;
  }
  .img-fluid {
    width: 100%!important;
    height: auto;
    margin-top: 55px;
    margin-bottom: 7px;
  }
  .promo_mechanics {
  color: red;
    font-weight: 700;
    font-size: 33px;
    margin-top: 29px;
    margin-bottom: 14px;
    background-color: #d3dbe2;
    padding: 8px;
}
</STYLE>
<div class="container">
  <img src="https://cdn.shopify.com/s/files/1/0615/7982/1304/files/DRAW_DATE_COPY7.png?v=1691480358" class="img-fluid">
  <center>
<!--<h2 class="outlets_title">CUSTOMER E-WARRANTY RAFFLE - 1ST DRAW</h2>-->
  <img src="https://cdn.shopify.com/s/files/1/0615/7982/1304/files/prize-BANNER2--1200X400.jpg?v=1681403019" class="img-fluid">
</center>

<table width="100%" style="border: 1px solid white; box-shadow: none;text-align: center;color:#000;">
<tbody>
  <!-- SAMSUNG A53-->
   <tr>
  <td style="font-family: Raleway;font-size: 2rem;font-weight: 700;">Laiza Anne Hermoso</td>
  <td style="font-family: Raleway;font-size: 2rem;font-weight: 700">Victoria Asis</td>
  </tr>
  </table>
  <table width="100%" style="border: 1px solid white; box-shadow: none;text-align: center;color:#000;">
    <tr>
  <td style="font-family: Raleway;font-size: 2rem;font-weight: 700">Raul Castillo</td>
  </tr>
  </table>
  
  <!-- 600 KFC GC-->
  
  <table width="100%" style="border: 1px solid white; box-shadow: none;text-align: center;color:#000;">
   <img src="https://cdn.shopify.com/s/files/1/0615/7982/1304/files/prize-BANNER3--1200X400.jpg?v=1681403020" class="img-fluid">
  <tr>
  <td class="giftcard_500">Rene Sol</td>
  <td class="giftcard_500">Raymund Dos Remedios</td>
  </tr>
    <tr>
  <td class="giftcard_500">Amy Cheng</td>
  <td class="giftcard_500">Jonelle Labajo</td>
  </tr>
    <tr>
  <td class="giftcard_500">Christopher Po</td>
  <td class="giftcard_500">Kharyll Pagsuyuin</td>
  </tr>
    <tr>
  <td class="giftcard_500">Nino Villamayor</td>
  <td class="giftcard_500">Lauro Sy</td>
  </tr>
    <tr>
  <td class="giftcard_500">Willie Sinanin</td>
  <td class="giftcard_500">Edward Robert Gallaghel</td>
  </tr>
    <tr>
  <td class="giftcard_500">Fernandez Michael</td>
   <td class="giftcard_500">Carlo Castillo</td>
  </tr>
    <tr>
  <td class="giftcard_500">Bonifacio Belen</td>
   <td class="giftcard_500">Carna Bautista</td>
  </tr>
    <tr>
 <td class="giftcard_500">Dennis Felipe Espiritu</td>
  <td class="giftcard_500">Renel Quellan</td>
  </tr>
    <tr>
   <td class="giftcard_500">Mark Gil Amurao</td>
   <td class="giftcard_500">Mark Joshua Carmen</td>
  </tr>
    <td class="giftcard_500">Edgar Garganian</td>
  <td class="giftcard_500">Valerie Carpio</td>
  </tr>
    <tr>
  <td class="giftcard_500">Danilo Reyes</td>
  <td class="giftcard_500">Francis Diaz</td>
  </tr>
    <tr>
  <td class="giftcard_500">Erlinda Mercado</td>
  <td class="giftcard_500">Romwell Vardelon </td>
  </tr>
  </table>
  <table width="100%" style="border: 1px solid white; box-shadow: none;text-align: center;color:#000;">
  <tr>
  <td class="giftcard_500">Marc Anthony Montalba</td>
  </tr>
  </table>

   <!-- 100 KFC GC-->
  
  <table width="100%" style="border: 1px solid white; box-shadow: none;text-align: center;color:#000;">
  <img src="https://cdn.shopify.com/s/files/1/0615/7982/1304/files/prize-BANNER4--1200X400.jpg?v=1681403019" class="img-fluid">
  <tr>
  <td class="giftcard_100">Noah Ampil</td>
  <td class="giftcard_100">June Santelices</td>
  </tr>
  <tr>
  <td class="giftcard_100">Rene Orendain</td>
  <td class="giftcard_100">Mark John Orendain</td>
  </tr>
  <tr>
  <td class="giftcard_100">Marie Alum Makalintal</td>
  <td class="giftcard_100">Antonette Mojica</td>
  </tr>
  
  <tr>
  <td class="giftcard_100">Carrel Dela Cruz</td>
   <td class="giftcard_100">Judel Imperial</td>
  </tr>
  <tr>
 <td class="giftcard_100">Jeffrey Sy</td>
 <td class="giftcard_100">Joselito Velasco</td>
  </tr>
  <tr>
  <td class="giftcard_100">Irish Grace Antonio</td>
  <td class="giftcard_100">Elvie Zamora</td>
  </tr>
  <tr>
  <td class="giftcard_100">Rachel Perez Abrajano</td>
  <td class="giftcard_100">Josephine Valdez</td>
  </tr>
 
  <tr>
  <td class="giftcard_100">Elisha Real</td>
  <td class="giftcard_100">Jocelyn Belen</td>
  </tr>
  <tr>
  <td class="giftcard_100">Lopez Dee</td>
  <td class="giftcard_100">Manuel Mesina</td>
  </tr>
  <tr>
  <td class="giftcard_100">Roberto Sanchez</td>
  <td class="giftcard_100">Emmanuel Plan</td>
  </tr>
  <tr>
  <td class="giftcard_100">John Carlo Enano</td>
  <td class="giftcard_100">Andrew Bonae Esntaislao Valdez</td>
  </tr>
  
  <tr>
  <td class="giftcard_100">Raquel Solis</td>
  <td class="giftcard_100">Edelberto Cabezon</td>
  </tr>
  <tr>
  <td class="giftcard_100">Ariel Millendez</td>
  <td class="giftcard_100">Norbert Sipole</td>
  </tr>
  <tr>
  <td class="giftcard_100">Toti Borillo</td>
  <td class="giftcard_100">Rome Macasaet</td>
  </tr>
  <tr>
  <td class="giftcard_100">Rica Bien</td>
  <td class="giftcard_100">Roel Paulme</td>
  </tr>
  <tr>
  <td class="giftcard_100">Pedro Macaraig</td>
   <td class="giftcard_100">Jasper Latosquin</td>
  </tr>
  <tr>
 <td class="giftcard_100">Leiomar Guzman</td>
 <td class="giftcard_100">Jim Sampaga</td>
  </tr>
  <tr>
  <td class="giftcard_100">Ms.Anna so</td>
  <td class="giftcard_100">Jen Valenzuela</td>
  </tr>
  <tr>
  <td class="giftcard_100">Cora Vivar</td>
   <td class="giftcard_100">Margarey Tere</td>
  </tr>
  <tr>
  <td class="giftcard_100">Alvin Quintia</td>
  <td class="giftcard_100">Alex Pabulayan</td>
  </tr>
  <tr>
  <td class="giftcard_100">Jose Tamago</td>
   <td class="giftcard_100">Rhomy Santos</td>
  </tr>
  <tr>
 <td class="giftcard_100">Victor Saratan</td>
  <td class="giftcard_100">Nenita Simara</td>
  </tr>
  <tr>
  <td class="giftcard_100">Violeta Tan</td>
  <td class="giftcard_100">Ivy Bautista</td>
  </tr>
  <tr>
  <td class="giftcard_100">Mark Nunez</td>
  <td class="giftcard_100">Aubrey Alexis Beltran</td>
  </tr>
  <tr>
 <td class="giftcard_100">Seph Icaro</td>
 <td class="giftcard_100">John Balisi</td>
  </tr>
  </tbody>
 </table>

  <h2 class="promo_mechanics">ANNOUNCEMENT OF WINNERS AND CLAIMING OF PRIZES</h2> 
  <ol>
  <li>Winners will be notified via registered mail, email, and SMS message based on their raffle entry information. Their names will also be posted on our <a href="https://www.facebook.com/motoliteexpresshatid"> Facebook Page</a>.</li>
<li>Winners must present all of the following upon claiming the prize at the Motolite Philippines head office located at Ramcar Center 80-82 Roces Ave. Diliman, Q.C. from 10AM to 5PM, Mondays thru Fridays – Except on Holidays. Prizes may also be claimed at Motolite Outlets based on mutual agreement between Oriental & Motolite Marketing Corporation (OMMC) & the prize winner.</li>
  </ol>
  <ol type="A" style="margin-left: 20px;">
    <li>Valid ID (i.e. Driver’s license, Passport, SSS ID, TIN ID, Company or School ID). The name on the Valid ID must correspond to the registered name in the promo. Valid Motolite RES-Q app installed on their smartphone (with the registered mobile number), with the correct plate number and battery serial number details in the RES-Q app.</li>
<li>Official notification text sent to the registered mobile number. Support notification also sent to registered e-mail address (if provided).</li>
<li>Authorized representatives shall be allowed to claim in behalf of the winning subscriber provided that he/ she is able to present the following:</li>
  </ol>
<ul style="margin-left: 35px;">
  <li>Copy of the registered subscriber’s valid ID (original and photocopy)</li>
<li>Authorized representative’s valid ID (original and photocopy)</li>
<li>Authorization letter (signature should match with the signature in the valid ID)</li>
<li>Official notification sent via email or text message from Motolite Philippines</li>
</ul>
  