{{ 'section-career-footer.css' | asset_url | stylesheet_tag }}
 {{ 'career-footer.css' | asset_url | stylesheet_tag }}

<style>
  .mr-5 {
    margin-right: 5px;
  }
  .mb-20 {
    margin-bottom: 20px;
  }
  .mb-40 {
    margin-bottom: 40px;
  }
  .mb-50 {
    margin-top: 31px;
    margin-bottom: -39px;
  }
  .mt-10 {
    margin-top: 10px;
  }
  .mt-70 {
    margin-top: 70px;
  }
  .mt-20 {
    margin-top: 20px;
}
  .mr-10 {
    margin-right: 2px!important;
}
.ml-10 {
    margin-left: 1px!important;
}
    .search-job-container input {
    padding: 13px 25px 10px 30px;
    border: 2px solid rgba(0, 0, 0, 0.51);
    border-radius: 15px;
  }

.search-job-container:after {
    content: "\f002";
    font-family: FontAwesome;
    margin-left: -44px;
    /* margin-right: 25px; */
    background-color: #e22120!important;
    padding: 10px;
    color: #ffffff;
    border-radius: 10px;
}
  .location-container input {
     padding: 13px 25px 10px 30px;
        margin-left: 4px;
    border: 2px solid rgba(0, 0, 0, 0.51);
    border-radius: 15px;
  }

.location-container:after {
    content: "\f601";
    font-family: FontAwesome;
    margin-left: -44px;
    /* margin-right: 25px; */
    background-color: #e22120!important;
    padding: 10px;
    color: #ffffff;
    border-radius: 10px;
}
 .find-jobs-button {
    font-weight: 500;
    color: #fff !important;
    background: #e22120 !important;
    border-radius: 15px;
    min-height: 45px;
    padding: 0px 20px!important;
    font-size: 18px;
    border: 1px solid transparent;
    font-family: Raleway;
   margin-left: 5px;
  }
.opening {
  color:#D3363D;
  font-weight:700;
  font-family:sans-serif;
  margin: 25px 0;
}
  form.search-button input[type=text] {
  padding: 10px;
  font-size: 17px;
  border: 2px solid grey;
    float: left;
    width: 36%;
    background: #fff;
    border-radius: 17px;
}

form.search-button button {
  float: left;
  width: 20%;
  padding: 10px;
  background: #D3363D;
  color: white;
  font-size: 17px;
  border: 1px solid grey;
  border-left: none;
  cursor: pointer;
}

form.search-button button:hover {
  background: #0b7dda;
}

form.search-button::after {
  content: "";
  clear: both;
  display: table;
}
  .search-button {
    display: flex;
    padding: 73px;
    margin-left: 17px;
    margin-bottom:-100px;
}
  .fa__icon {
    position: relative;
    right: 47px;
    top: 3px;
    font-size: 27px;
    color: #e22120;
  }
  button.search {
    border-radius: 14px;
    width: 26%;
    padding: 8px;
    font-size: 2rem;
    background: #D3363D;
    color: #fff;
    border: none;
    position: relative;
    bottom: 27px;
    float: left;
    left: 72.5%;
  }
  .w3-button {
    box-sizing: border-box;
    position: relative;
    width: 227px;
    height: 64px;
    right: -38rem;
    top: 49px;
    background: #FFFFFF;
    border: 1px solid #808080;
    border-radius: 50px;
    font-size: 2rem;
    padding-right: 47px;
  }
.dropdown-arrow {
  height: 0;
  width: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid #333;
  position: relative;
  top: 14px;
  left: 54rem;
}
  .w3-button-filter2 {
    position: relative;
    width: 171px;
    height: 64px;
    left: 661px;
    bottom: 23px;
    background: #FFFFFF;
    border: 1px solid #808080;
    border-radius: 50px;
    font-size: 2rem;
    padding-right: 45px;
  }
  .dropdown-arrow1 {
  height: 0;
  width: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid #333;
  position: relative;
  left: 72rem;
  bottom: 60px;
}
   .w3-button-filter3 {
    position: relative;
    width: 171px;
    height: 64px;
    left: 77rem;
    bottom: 99px;
    background: #FFFFFF;
    border: 1px solid #808080;
    border-radius: 50px;
    font-size: 2rem;
    padding-right: 45px;
  }
  .dropdown-arrow2 {
  height: 0;
  width: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid #333;
  position: relative;
  left: 88.5rem;
    bottom: 133px;
}
    .w3-button-filter4 {
    position: relative;
    width: 293px;
    height: 64px;
    left: 94rem;
    bottom: 174px;
    background: #FFFFFF;
    border: 1px solid #808080;
    border-radius: 50px;
    font-size: 2rem;
    padding-right: 45px;
  }
  .dropdown-arrow3 {
  height: 0;
  width: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid #333;
  position: relative;
  left: 116rem;
  bottom: 208px;
}
    .w3-button-filter5 {
    position: relative;
    width: 171px;
    height: 64px;
    left: 122rem;
    bottom: 247px;
    background: #FFFFFF;
    border: 1px solid #808080;
    border-radius: 50px;
    font-size: 2rem;
    padding-right: 45px;
  }
  .dropdown-arrow4 {
  height: 0;
  width: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid #333;
  position: relative;
  left: 133rem;
  bottom: 282px;
}
  .select-dropdown {
    margin-left: -27rem;
    margin-bottom: -250px;
  }
  .table {
    border: 1px solid #dee2e6;
  }
  .table_next {
    border: 1px solid #dee2e6;
  }
  .table-trans-title {
   font-family: sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 17px;
    align-items: center;
    color: #D3363D;
  }
  tbody, td, tfoot, th, thead, tr {
    border-color: inherit;
    border-style: none;
    border-width: 0;
   border-top: none!important;
}
  .table>tbody>tr>td {
    border-top: none !important ;
   
  }
  
 .category-employment {
   width:12%;
 }
  .material-symbols-outlined {
    position: relative;
    top: 5px;
    padding:0px;
    margin-right: 10px;
  }
  .view {
    position: relative;
    top: 52px;
    border: none;
    background: #D3363D;
    color: #fff;
    border-radius: 15px;
    padding: 5px 13px;
    text-align: center;
  }
   .career-footer {
    width: 100%;
    /*height: 275px;*/
    left: 0px;
    bottom: 0px;
    background: linear-gradient(180deg, #D3363D 13.54%, #DE5D30 56.25%, #EF951E 100%);
    padding: 40px 50px;
     margin-top: 97px;
  } 
  .career-footer-title {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 600;
    font-size: 23px;
    line-height: 28px;
    color: #FFFFFF;
  }
  .career-footer-info {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 200;
    font-size: 16px;
    line-height: 16px;
    color: #FFFFFF;
    padding-left: 7px;
    padding-top: 4px;
  }
  .career-footer-logo {
    width: 245px;
    height: 74px;
  }
  .telephone {
    font-family: 'Raleway';
    font-size: 16px;
    color: #fff;
    text-decoration: none;
    line-height: 1;
  }
  .text-regular-16 {
    text-decoration: none;
    color:#fff;
    font-weight:200;
  }
  .table>:not(caption)>*>* {
    padding: 0;
}
 .btn-primary {
   background: #FFFFFF !important;
    border: 1px solid #808080!important;
    border-radius: 50px!important;
    font-size: 1.5rem!important;
    padding:10px 30px!important;
    position: relative;
    color:#000 !important;
    top: 52px;
    left: 99px;
}
  .dropdown-menu {
    position: absolute;
    top: 225% !important ;
    left: 65px !important;
  }
  .dropdown__button {
    padding: 19px;
  }
  .cancel {
    padding: 6px 23px;
    border-radius: 15px;
    background: #fff;
  }
  .filter {
    padding: 6px 23px;
    border-radius: 15px;
    background: #D3363D;
    color: #fff;
    border:none;
  }
  .input-menu {
    margin-left: 17px;
  }
  input[type=checkbox] {
    margin:15px;
  }
  @media all and (max-width: 767px) {
   .search-job-container input {
      width: 100%;
      margin-bottom: 10px;
    }
    .location-container input {
      width: 100%;
      margin-bottom: 10px;
    }
    .find-jobs-button {
      width: 100%;
    }
      }
  @media all and (min-width: 1440px) {
     .search-job-container input {
      width: 470px;
    }
    .location-container input {
      width: 470px;
    }
  }
  /* For desktop: */
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}
@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  .col-3 {
    width: 100%;
  }
  .career-footer-title {
    text-align: center;
    font-size:22px;
    margin-top: -15px;
  }
  .footer-address {
    color: #fff;
  }
  .footer-title {
    color: white;
    font-weight: 500;
    font-size: 18px;
  }
  .career-footer-info {
    text-align: center;
    position: relative;
    margin: 14px;
    bottom: 28px;
  }
  .network {
    color:#fff;
    font-weight:500;
  }
  .telephone {
    line-height: 1;
    margin-left: 12px;
  }
    }
</style>
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />

<div class="container">
<div class="row mb-50">
  <div class="d-flex justify-content-center d-inline flex-wrap">
      <div class="search-job-container mr-5">
          <input class="" type="text" placeholder="Job tile, keywords"  />
      </div>
      <div class="location-container mr-5">
          <input type="text" placeholder="Location"  />
      </div>
    <div>
      <button class="find-jobs-button">Find Jobs</button>
    </div>
  </div>
</div>

<!--<div class="select-dropdown">
<button class="w3-button">Date posted</button>
  <div class="dropdown-arrow"></div>
  <button class="w3-button-filter2">Job Type</button>
  <div class="dropdown-arrow1"></div>
   <button class="w3-button-filter3">Location</button>
  <div class="dropdown-arrow2"></div>
   <button class="w3-button-filter4">Work Arrangement</button>
  <div class="dropdown-arrow3"></div>
   <button class="w3-button-filter5">Sort by</button>
  <div class="dropdown-arrow4"></div>
</div>-->

 <div class="dropdown">
    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Date Posted
    </button>
    <ul class="dropdown-menu">
      <div class="input-menu">
      <input type="checkbox">All-time</li><br>
      <input type="checkbox">Past week</li><br>
      <input type="checkbox">Past month</li><br>
      <input type="checkbox">Past 3months</li><br>
      <input type="checkbox">Past year</li>
      </div>
    <div class="dropdown__button">
      <button class="cancel">Cancel</button>
   <button class="filter">Filter</button>
    </div>
    </ul>
   <span>
   <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Job Type
    </button>
    <ul class="dropdown-menu" style="top: 225% !important;left: 219px !important;">
      <input type="checkbox" style="margin: 15px;">Full-time Employment</li><div></div>
      <input type="checkbox" style="margin: 15px;margin-top: 0;">Internship</li>
    <div class="dropdown__button">
      <button class="cancel">Cancel</button>
   <button class="filter">Filter</button>
    </div>
    </ul>
   </span>
   <span>
     <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Location
    </button>
    <ul class="dropdown-menu" style="top: 225% !important;left: 365px !important;">
      <div class="input-menu">
      <input type="checkbox" style="margin: 15px;">Bulacan<br>
      <input type="checkbox" style="margin: 15px;margin-top: 0;">Metro Manila <br>
      </div>
    <div class="dropdown__button">
      <button class="cancel">Cancel</button>
   <button class="filter">Filter</button>
    </div>
    </ul>
   </span>
   <span>
       <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Work Arrangement
    </button>
    <ul class="dropdown-menu" style="top: 225% !important;left: 549px !important;">
      <div class="input-menu">
      <input type="checkbox" style="margin: 15px;">Remote<br>
      <input type="checkbox" style="margin: 15px;margin-top: 0;">Hybrid<br>
      <input type="checkbox"style="margin: 15px;margin-top: 0;">Onsite<br>
      </div>
    <div class="dropdown__button">
      <button class="cancel">Cancel</button>
   <button class="filter">Filter</button>
    </div>
    </ul>
   <span>
       <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Sort By
    </button>
    <ul class="dropdown-menu" style="top: 225% !important;left: 710px !important;">
      <div class="input-menu">
      <input type="checkbox" style="margin: 15px;">Job title (A-Z)<br>
      <input type="checkbox" style="margin: 15px;margin-top: 0;">Job title (Z-A)<br>
      <input type="checkbox" style="margin: 15px;margin-top: 0;">Job Type<br>
      <input type="checkbox" style="margin: 15px;margin-top: 0;">Date Posted<br>
     
      </div>
    <div class="dropdown__button">
      <button class="cancel">Cancel</button>
   <button class="filter">Filter</button>
    </div>
    </ul>
   <span>
  </div>

  




  <div class="container" style="margin-top: 56px;">
<div class="mt-20 mr-10 ml-10">
    <table class="table">
      
      <tbody>
        <tr>
          <td colspan="2"><small class="table-trans-title">Mechanical Engineer Intern</small><br>
            <medium>Bulacan</medium>
          </td>
          <td class="text-end"><a href="/pages/mechanical-engineer-intern"><button class="view">View<span class="material-symbols-outlined" style="position: relative;left: 15px;">
error</span></button></td></a>
        </tr>
        <tr>
        <td class="category-employment"><button style="border:none;"><span class="material-symbols-outlined">
business_center
</span>Internship</td></button>
        <td class="category-employment"><button style="border:none;"><span class="material-symbols-outlined">group
</span>Hybrid</td></button>
      </tr>
          
      </tbody>
    </table>

  <div class="mt-20 mr-10 ml-10">
    <table class="table">
      
      <tbody>
        <tr>
          <td colspan="2"><small class="table-trans-title">Industrial Engineer Intern</small><br>
            <medium>Metro Manila</medium>
          </td>
          <td class="text-end"><a href="/pages/sales-engineer"><button class="view">View<span class="material-symbols-outlined" style="position: relative;left: 15px;">
error</span></button></td></a>
        </tr>
        <tr>
        <td class="category-employment"><button style="border:none;"><span class="material-symbols-outlined">
business_center
</span>Internship</td></button>
        <td class="category-employment"><button style="border:none;"><span class="material-symbols-outlined">group
</span>Onsite</td></button>
      </tr>
          
      </tbody>
    </table>

  </div>
</div>
</div>
</div>


   <div class="hide-on-small mt-40">
      <div class="row">
   <footer>
  <div class="career-footer d-flex">
    <div class="col-4">
      <div>
        <div class="career-footer-title">
        Location
      </div>
      <div class="career-footer-info">
        <p>Oriental and Motolite Marketing Corporation</p>
        <p>Ramcar Center 80-82 Roces Ave. Diliman,</p>
        <p>Q.C. Philippines</p>
      </div>
      </div>
      <div>
        <div class="career-footer-title">
      Contact Us!
      </div>
      <div class="career-footer-info">
            <table class="table table-borderless" style="border:none;">
        <tbody style="font-size: 16px;color: #fff;">
          <tr>
                  <th scope="row" style="font-weight:100;">Smart</th>
                  <td><a href="tel:0918-843-6686" class="text-light-16 lh-28 telephone">(+63) 918-843-6686</a></td>
                </tr>
          <tr>
                  <th scope="row"  style="font-weight:100;">Globe</th>
                  <td ><a href="tel:0917-891-6686" class="text-light-16 lh-28 telephone">(+639) 917-891-6686</a></td>
                </tr>
                   <tr>
                  <th scope="row"  style="font-weight:100;">NCR</th>
                  <td><a href="tel:283706686" class="text-light-16 lh-28 telephone">8370-6686</a></td>
                </tr>
          
                <tr>
                  <th scope="row"  style="font-weight:100;">Provincial</th>
                  <td ><a href="tel:1-800-10-370-6686" class="text-light-16 lh-28 telephone">1-800-10-370-6686</a></td>
                </tr>
                 
                
              </tbody>
            </table>
      </div>
      </div>
    </div>
    <div class="col-3">
      <div>
        <div class="career-footer-title">
        Visit our official Store!
      </div>
       <div class="col-3">
          <div class="career-footer-info">
            <a href="https://www.lazada.com.ph/shop/motolite/?spm=a2o4l.10450891.search.1.42423d88B0V5iU&_keyori=ss&from=suggest_sis&sis_suggestion_click=Motolite%20Flagship%20Store%2Cmotolite&sugg=motolite_0_1" target="_blank"" class="text-regular-16">Lazada </a>
          </div>
          <div class="career-footer-info">
            <a href="https://shopee.ph/motoliteexpresshatid" target="_blank" class="text-regular-16">Shoppee</a>
          </div>
        </div>
      </div>
      <div>
        <div class="career-footer-title">
        Quick Links
      </div>
      <div class="col-3">
          <div class="career-footer-info">
            <a href="/pages/faq" class="text-regular-16">FAQs </a>
          </div>
          <div class="career-footer-info">
            <a href="/pages/Privacy" class="text-regular-16">PRIVACY</a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-2">
      <div class="career-footer-title">
        Location
      </div>
      <div class="d-flex d-inline">
        <a href="https://www.facebook.com/motoliteexpresshatid/" target="_blank"><img src="https://cdn.shopify.com/s/files/1/0615/7982/1304/files/facebook-6-64_1.png?v=1676591552" class="mr-5"/></a>
        <a href=" https://www.instagram.com/motoliteph/?__coig_restricted=1" target="_blank"><img src="https://cdn.shopify.com/s/files/1/0615/7982/1304/files/instagram-6-64_1.png?v=1676591551" class="mr-5"/></a>
        <a href="https://twitter.com/Motolite_Ph" target="_blank"><img src="https://cdn.shopify.com/s/files/1/0615/7982/1304/files/twitter-3-64_1.png?v=1676591552"/></a>
      </div>
    </div>
    <div class="col-2">
      <img src="https://cdn.shopify.com/s/files/1/0615/7982/1304/files/Motolite_Logo.png?v=1676591747" class="career-footer-logo"/>
    </div>
  </div>
</footer>
      </div>
  </div>


 <div class="mt-40 show-on-small">
   <div class="career-footer">
      <div class="row">
        <div class="d-flex justify-content-center">
          <div class="col-12">
            <div class="career-footer-title">
        Location
      </div>
            <h4 class="margin-top-20 text-center footer-address">Oriental and Motolite Marketing Corporation</h4>
            <div class="text-regular-18 lh-18 text-center footer-address">Ramcar Center 80-82 Roces Ave. Diliman, Q.C. Philippines</div>
          </div>
        </div>
          
        <div class="d-flex justify-content-center mt-40">
          <div class="row">
          <div class="col-7">
            <div>
              <h4 class="text-center footer-title">Contact Us</h4>
            </div>
            <br>
            <div class="d-flex justify-content-right">
              <span class="network">Smart</span><a href="tel:0918-843-6686" class="text-light-16 lh-28 telephone"> (+639) 18-843-6686</a>
            </div>
           <div class="d-flex justify-content-right"><span class="network">Globe</span>
              <a href="tel:0917-891-6686" class="text-light-16 lh-28 telephone"> (+639) 17-891-6686</a>
            </div>
            <div class="d-flex justify-content-right"><span class="network">NCR</span>
              <a href="tel:0283706686" class="text-light-16 lh-28 telephone"> (02)8370-6686</a>
            </div>
            <div class="d-flex justify-content-right"><span class="network">Provincial</span>
              <a href="tel:1-800-10-370-6686" class="text-light-16 lh-28 telephone"> 1-800-10-370-6686</a>
             
            </div>
          </div>
        
          
        
          <div class="col-5">
            <div>
              <h4 class="text-center footer-title">Visit our Official Store</h4>
            </div>
            <br>
            <div class="social-icons text-nowrap d-flex justify-content-center">
             <div class="col-3">
          <div class="career-footer-info">
            <a href="https://www.lazada.com.ph/shop/motolite/?spm=a2o4l.10450891.search.1.42423d88B0V5iU&_keyori=ss&from=suggest_sis&sis_suggestion_click=Motolite%20Flagship%20Store%2Cmotolite&sugg=motolite_0_1" target="_blank"" class="text-regular-16">Lazada </a>
          </div>
          <div class="career-footer-info">
            <a href="https://shopee.ph/motoliteexpresshatid" target="_blank" class="text-regular-16">Shoppee</a>
          </div>
        </div>
            </div>
          </div>
        </div>
          </div>

    </div>
     
       <div class="d-flex justify-content-center mt-40">
          <div class="col-6">
            <div>
              <h4 class="text-left footer-title">Quick links</h4>
            </div>
            <div class="d-flex justify-content-rightr">
            <a href="/pages/faq" class="text-regular-16">FAQs </a>
            </div>
           <div class="d-flex justify-content-right">
             <a href="/pages/Privacy" class="text-regular-16">PRIVACY</a>
            </div>
            
          </div>
         
          
        
         <div class="d-flex justify-content-center mt-50">
          <div class="col-12">
            <div>
              <h4 class="text-center footer-title">Follow Us!</h4>
            </div>
            <div class="social-icons text-nowrap d-flex justify-content-center">
              <a href="https://www.facebook.com/motoliteexpresshatid/" target="_blank"><img src="https://cdn.shopify.com/s/files/1/0615/7982/1304/files/facebook-6-64_1.png?v=1676591552" class="mr-5"/></a>
              <a href="https://www.instagram.com/motoliteph/" target="_blank"><img src="https://cdn.shopify.com/s/files/1/0615/7982/1304/files/instagram-6-64_1.png?v=1676591551" class="mr-5"/></a>
             <a href="https://twitter.com/Motolite_Ph" target="_blank"><img src="https://cdn.shopify.com/s/files/1/0615/7982/1304/files/twitter-3-64_1.png?v=1676591552"/></a>

              </div>
          </div>
        </div>
         </div>

<div class="d-flex justify-content-center mt-40">
           <div class="row">
          <div class="col-6">
      <img src="https://cdn.shopify.com/s/files/1/0615/7982/1304/files/Motolite_Logo.png?v=1676591747" class="career-footer-logo"/>
    </div>
     
            </div>
 </div>
         
   

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>