{% section 'company-navigation' %}
{% section 'image-company-banner' %}
<script src="{{ 'collapse.js' | asset_url }}"></script>
<style>
  @media (min-width: 1600px){
    .container {
      max-width: 1560px;
    }
  }
  h1 {
    font-size: 6rem!important;
    color: #212529;
    font-weight: 800;
    padding-top: 3rem;
      padding-bottom: 2rem;
  }
  .text-motolite {
    color: #d5232b;
  }
  .mb-5 {
  margin-bottom: 3rem !important;
  margin-top: 0;
  /*padding-left: 6rem;
    padding-right: 6rem;*/
    font-size: 1.75rem;
    color: #212529;
  }
  p.about { 
  color: #212529;
  font-family: Raleway!important;
    padding-left:6rem;
      padding-right: 6rem;
    font-size:1.2em;
  }
  .text-danger {
    font-size: 2rem;
    
  }
  p {
  color: #212529;
    font-family: raleway!important;
  }
  .btn-motolite:hover {
    background-color: #bf1f27;
    color: #fff;
  }
  .btn-motolite {
    background-color: #d5232b;
    color: #fff;
    text-transform: uppercase;
    border-radius: 0;
    font-weight: 700;
    font-size: 3rem;
  }
  .section-timeline .timeline-item:hover .badge-pill {
    background-color: #d5232b !important;
    border-color: #d5232b !important;
  }
  .border-right {
    border-right: 1px solid #dee2e6 !important;
  }
  .pt-40 {
    padding-top: 40px;
  }
  .banner__heading {
    margin-bottom: 0;
    font-family: system-ui;
    font-weight: 700;
    color: #fff;
  }
   @media screen and (min-width: 750px){
.banner__box>*+.banner__text {
    margin-top: 0;
    color: #fff;
    font-size: 2.2rem;
  font-family: system-ui;
}}
.banner__content {
    padding: 0;
    display: flex;
    position: relative;
    width: 100%;
    align-items: center;
    justify-content: center;
    z-index: 0;
}
@media all and (min-width: 1366px) {
 p.about {
    color: #212529;
    font-family: Raleway!important;
    padding-left: 3rem;
    padding-right: 3rem;
    font-size: 1.5em;
  }
}
@media all and (min-width: 1400px) {
}
</style>
<div class="row">
  <div class="container">
    <h1 class="text-uppercase mb-5 text-center mt-40">About <span class="text-motolite">Motolite</span></h1>
  <p class="mb-5 font-size-lg about">
    Motolite Batteries are proudly manufactured by Philippine Batteries Inc., one of the largest manufacturers, exporters and distributors of automotive, motorcycle, and industrial battery products and solutions in the Asia-Pacific Region.
  </p>
  <p class="mb-5 font-size-lg about">
    The company, founded in 1919, is celebrating 100 years of providing consumers with world-class power solutions, making it one of the region’s longest-serving battery manufacturers. 
  </p>
    <p class="mb-5 font-size-lg about">
      PBI is currently the largest, most fully integrated, and technologically advanced battery manufacturer in the region with a state-of-the-art manufacturing plant located in (CITY). The TS16969 and ISO-certified facility has the potential to produce almost 750,000 battery units per month.   Housed in an 18-hectare fully engineered facility, the plant produces world-class maintenance-free automotive and motorcycle batteries. The plant also produces dry-charged low maintenance batteries, industrial batteries, plates, sulfuric acid and separators. PBI employs a fully-integrated closed-loop manufacturing and distribution process that covers material sourcing, component design and production, assembly, charging, distribution and recycling.
    </p>
    <p class="mb-5 font-size-lg about">
      PBI is also the biggest investor in manufacturing facilities in the entire ASEAN region, giving Motolite a formidable edge over its competitors. PBI exports its products to North America, Australia and the Asia-Pacific Region and proudly serves the US, European, Australian, Middle East, and Asian markets. PBI is considered the industry leader in productivity, capacity, technology and innovation.
    </p>
  <!--<div class="text-center">
    <button class="btn btn-motolite btn-expand" type="button" data-toggle="collapse" data-target="#about-motolite-expanded" aria-expanded="false" aria-controls="about-motolite-expanded">Learn More
    </button>
  </div>-->
  </div>
</div>
<section class="section section-timeline py-5 py-lg-6">
  <div class="container">
    <h1 class="text-uppercase mb-5 text-center text-dark">Our <span class="text-motolite">History</span></h1>




    <div class="row no-gutters timeline-item">

      <div class="col-md py-2">
        <div class="card">
          <img src="https://cdn.shopify.com/s/files/1/0615/7982/1304/files/timeline-1.jpg?v=1651572528" class="card-img-top" alt="">
          <div class="card-body">
            <h4 class="card-title text-danger">1919</h4>
            <p class="card-text">
              Ramcar started out as Caro Electrical Service
            </p>
          </div>
        </div>
      </div>

      <div class="col-md-1 text-center flex-column d-none d-md-flex">
        <div class="row h-50">
          <div class="col border-right">&nbsp;</div>
          <div class="col">&nbsp;</div>
        </div>
        <h5 class="m-2">
          <span class="badge badge-pill bg-light border">&nbsp;</span>
        </h5>
        <div class="row h-50">
          <div class="col border-right">&nbsp;</div>
          <div class="col">&nbsp;</div>
        </div>
      </div>
      <div class="col-md"></div>

    </div>




    <div class="row no-gutters timeline-item">

      <div class="col-md">  </div>
      <div class="col-md-1 text-center flex-column d-none d-md-flex">
        <div class="row h-50">
          <div class="col border-right">&nbsp;</div>
          <div class="col">&nbsp;</div>
        </div>
        <h5 class="m-2">
          <span class="badge badge-pill bg-light border">&nbsp;</span>
        </h5>
        <div class="row h-50">
          <div class="col border-right">&nbsp;</div>
          <div class="col">&nbsp;</div>
        </div>
      </div>

      <div class="col-md py-2">
        <div class="card">
          <img src="https://cdn.shopify.com/s/files/1/0615/7982/1304/files/timeline-2.jpg?v=1651687006" class="card-img-top" alt="">
          <div class="card-body">
            <h4 class="card-title text-danger">1929</h4>
            <p class="card-text">
              Became Ramcar Inc. 10 years later
            </p>
          </div>
        </div>
      </div>

    </div>




    <div class="row no-gutters timeline-item">

      <div class="col-md py-2">
        <div class="card">
          <img src="https://cdn.shopify.com/s/files/1/0615/7982/1304/files/timeline-3.jpg?v=1651687006" class="card-img-top" alt="">
          <div class="card-body">
            <h4 class="card-title text-danger">1949</h4>
            <p class="card-text">
              Introduced the Motolite brand
            </p>
          </div>
        </div>
      </div>

      <div class="col-md-1 text-center flex-column d-none d-md-flex">
        <div class="row h-50">
          <div class="col border-right">&nbsp;</div>
          <div class="col">&nbsp;</div>
        </div>
        <h5 class="m-2">
          <span class="badge badge-pill bg-light border">&nbsp;</span>
        </h5>
        <div class="row h-50">
          <div class="col border-right">&nbsp;</div>
          <div class="col">&nbsp;</div>
        </div>
      </div>
      <div class="col-md"></div>

    </div>




    <div class="row no-gutters timeline-item">

      <div class="col-md">  </div>
      <div class="col-md-1 text-center flex-column d-none d-md-flex">
        <div class="row h-50">
          <div class="col border-right">&nbsp;</div>
          <div class="col">&nbsp;</div>
        </div>
        <h5 class="m-2">
          <span class="badge badge-pill bg-light border">&nbsp;</span>
        </h5>
        <div class="row h-50">
          <div class="col border-right">&nbsp;</div>
          <div class="col">&nbsp;</div>
        </div>
      </div>

      <div class="col-md py-2">
        <div class="card">
          <img src="https://cdn.shopify.com/s/files/1/0615/7982/1304/files/timeline-4.jpg?v=1651687006" class="card-img-top" alt="">
          <div class="card-body">
            <h4 class="card-title text-danger">1977</h4>
            <p class="card-text">
              Began recycling lead-acid batteries
            </p>
          </div>
        </div>
      </div>

    </div>




    <div class="row no-gutters timeline-item">

      <div class="col-md py-2">
        <div class="card">
          <img src="https://cdn.shopify.com/s/files/1/0615/7982/1304/files/timeline-5.jpg?v=1651687006" class="card-img-top" alt="">
          <div class="card-body">
            <h4 class="card-title text-danger">1978</h4>
            <p class="card-text">
              Launched Powerhouse, the country’s first car battery in plastic casing
            </p>
          </div>
        </div>
      </div>

      <div class="col-md-1 text-center flex-column d-none d-md-flex">
        <div class="row h-50">
          <div class="col border-right">&nbsp;</div>
          <div class="col">&nbsp;</div>
        </div>
        <h5 class="m-2">
          <span class="badge badge-pill bg-light border">&nbsp;</span>
        </h5>
        <div class="row h-50">
          <div class="col border-right">&nbsp;</div>
          <div class="col">&nbsp;</div>
        </div>
      </div>
      <div class="col-md"></div>

    </div>




    <div class="row no-gutters timeline-item">

      <div class="col-md">  </div>
      <div class="col-md-1 text-center flex-column d-none d-md-flex">
        <div class="row h-50">
          <div class="col border-right">&nbsp;</div>
          <div class="col">&nbsp;</div>
        </div>
        <h5 class="m-2">
          <span class="badge badge-pill bg-light border">&nbsp;</span>
        </h5>
        <div class="row h-50">
          <div class="col border-right">&nbsp;</div>
          <div class="col">&nbsp;</div>
        </div>
      </div>

      <div class="col-md py-2">
        <div class="card">
          <img src="https://cdn.shopify.com/s/files/1/0615/7982/1304/files/timeline-010.jpg?v=1651687006" class="card-img-top" alt="">
          <div class="card-body">
            <h4 class="card-title text-danger">1995</h4>
            <p class="card-text">
              Pioneered development of maintenance-free batteries
            </p>
          </div>
        </div>
      </div>

    </div>




    <div class="row no-gutters timeline-item">

      <div class="col-md py-2">
        <div class="card">
          <img src="https://cdn.shopify.com/s/files/1/0615/7982/1304/files/motolite_balik_baterya.jpg?v=1651687006" class="card-img-top" alt="">
          <div class="card-body">
            <h4 class="card-title text-danger">2006</h4>
            <p class="card-text">
              Launched Balik-Baterya, a battery recycling program
            </p>
          </div>
        </div>
      </div>

      <div class="col-md-1 text-center flex-column d-none d-md-flex">
        <div class="row h-50">
          <div class="col border-right">&nbsp;</div>
          <div class="col">&nbsp;</div>
        </div>
        <h5 class="m-2">
          <span class="badge badge-pill bg-light border">&nbsp;</span>
        </h5>
        <div class="row h-50">
          <div class="col border-right">&nbsp;</div>
          <div class="col">&nbsp;</div>
        </div>
      </div>
      <div class="col-md"></div>

    </div>




    <div class="row no-gutters timeline-item">

      <div class="col-md">  </div>
      <div class="col-md-1 text-center flex-column d-none d-md-flex">
        <div class="row h-50">
          <div class="col border-right">&nbsp;</div>
          <div class="col">&nbsp;</div>
        </div>
        <h5 class="m-2">
          <span class="badge badge-pill bg-light border">&nbsp;</span>
        </h5>
        <div class="row h-50">
          <div class="col border-right">&nbsp;</div>
          <div class="col">&nbsp;</div>
        </div>
      </div>

      <div class="col-md py-2">
        <div class="card">
          <img src="https://cdn.shopify.com/s/files/1/0615/7982/1304/files/MEH_LOGO_OLD.jpg?v=1651687007" class="card-img-top" alt="">
          <div class="card-body">
            <h4 class="card-title text-danger">2008</h4>
            <p class="card-text">
              Started <sup>24</sup>⁄<sub>7</sub> Battery Delivery Service
            </p>
          </div>
        </div>
      </div>

    </div>




    <div class="row no-gutters timeline-item">

      <div class="col-md py-2">
        <div class="card">
          <img src="https://cdn.shopify.com/s/files/1/0615/7982/1304/files/timeline-023.jpg?v=1651687006" class="card-img-top" alt="">
          <div class="card-body">
            <h4 class="card-title text-danger">2018</h4>
            <p class="card-text">
              Introduced the roadside assitance app, Motolite RES-Q
            </p>
          </div>
        </div>
      </div>

      <div class="col-md-1 text-center flex-column d-none d-md-flex">
        <div class="row h-50">
          <div class="col border-right">&nbsp;</div>
          <div class="col">&nbsp;</div>
        </div>
        <h5 class="m-2">
          <span class="badge badge-pill bg-light border">&nbsp;</span>
        </h5>
        <div class="row h-50">
          <div class="col border-right">&nbsp;</div>
          <div class="col">&nbsp;</div>
        </div>
      </div>
      <div class="col-md"></div>

    </div>



  </div>
</section>
 {% section 'footer' %}