{% section 'winners-navigation' %}
{{ 'raffle-winners.css' | asset_url | stylesheet_tag }}
</STYLE>
<div class="container">
  <img src="https://cdn.shopify.com/s/files/1/0615/7982/1304/files/11.png?v=1706783948" class="img-fluid">
  <center>
 <!-- SAMSUNG A34-->
  <img src="https://cdn.shopify.com/s/files/1/0615/7982/1304/files/A34.png?v=1706783947" class="img-fluid">
</center>

<table width="100%" style="border: 1px solid white; box-shadow: none;text-align: center;color:#000;">
<tbody>
  <tr>
  <td style="font-family: Raleway;font-size: 2rem;font-weight: 700;">Maui Alvarez</td>
  <td style="font-family: Raleway;font-size: 2rem;font-weight: 700">Suzette Mendoz</td>
  </tr>
  </table>
  <table width="100%" style="border: 1px solid white; box-shadow: none;text-align: center;color:#000;">
    <tr>
  <td style="font-family: Raleway;font-size: 2rem;font-weight: 700">Alvin Vasallo</td>
  </tr>
  </table>
  
  <!-- 600 KFC GC-->
  
  <table width="100%" style="border: 1px solid white; box-shadow: none;text-align: center;color:#000;">
   <img src="https://cdn.shopify.com/s/files/1/0615/7982/1304/files/prize-BANNER3--1200X400.jpg?v=1681403020" class="img-fluid">
  <tr>
  <td class="giftcard_500">Mike Joseph Bellosillo</td>
  <td class="giftcard_500">Christian Cimanes</td>
  </tr>
    <tr>
  <td class="giftcard_500">Rex Bernard Collado</td>
  <td class="giftcard_500">Valery Gutierrez</td>
  </tr>
    <tr>
  <td class="giftcard_500">Aramis Inocando</td>
  <td class="giftcard_500">Frank Joseph Reyes</td>
  </tr>
    <tr>
  <td class="giftcard_500">Charmain Ancheta</td>
  <td class="giftcard_500">Christoval Aya-ay</td>
  </tr>
    <tr>
  <td class="giftcard_500">Roel Bustillo</td>
  <td class="giftcard_500">Joel R. Capiral</td>
  </tr>
    <tr>
  <td class="giftcard_500">Don Joaquin Ching</td>
   <td class="giftcard_500">Leonardo Cruz</td>
  </tr>
    <tr>
  <td class="giftcard_500">Bernardo De Leon</td>
   <td class="giftcard_500">Fantech</td>
  </tr>
    <tr>
 <td class="giftcard_500">Jansen Faustino</td>
  <td class="giftcard_500">Said Hasim</td>
  </tr>
    <tr>
   <td class="giftcard_500">Corazon Jose</td>
   <td class="giftcard_500">Rostom Lehoc</td>
  </tr>
    <td class="giftcard_500">Janie Lim</td>
  <td class="giftcard_500">Loreal Luna</td>
  </tr>
    <tr>
  <td class="giftcard_500">Eddie Nuque</td>
  <td class="giftcard_500">Mario Pillas</td>
  </tr>
    <tr>
  <td class="giftcard_500">Jacquiline Sanche</td>
  <td class="giftcard_500">Fernando Carlo Sanchez</td>
  </tr>
  <tr>
  
  </table>
  <table width="100%" style="border: 1px solid white; box-shadow: none;text-align: center;color:#000;">
  <tr>
  <td class="giftcard_500">Helen Sangalang</td>
  </tr>
  </table>

   <!-- 100 KFC GC-->
  
  <table width="100%" style="border: 1px solid white; box-shadow: none;text-align: center;color:#000;">
  <img src="https://cdn.shopify.com/s/files/1/0615/7982/1304/files/prize-BANNER4--1200X400.jpg?v=1681403019" class="img-fluid">
  <tr>
  <td class="giftcard_100">Jennifer Abacan</td>
  <td class="giftcard_100">Peter Jayson Bondo</td>
  </tr>
  <tr>
  <td class="giftcard_100">Manny Caintic</td>
  <td class="giftcard_100">Christine Joy Cruz</td>
  </tr>
  <tr>
  <td class="giftcard_100">Ofelia Dizon</td>
  <td class="giftcard_100">Lanie Garcia</td>
  </tr>
  
  <tr>
  <td class="giftcard_100">Patricia Kare</td>
   <td class="giftcard_100">Bienvenido Orcino</td>
  </tr>
  <tr>
 <td class="giftcard_100">Savier Sendania</td>
 <td class="giftcard_100">Aries Glenn Superable</td>
  </tr>
  <tr>
  <td class="giftcard_100">Sergie Tapay</td>
  <td class="giftcard_100">Carlos Vigare</td>
  </tr>
  <tr>
  <td class="giftcard_100">Jonathan Paraiso</td>
  <td class="giftcard_100">Conim Ramilo</td>
  </tr>
 
  <tr>
  <td class="giftcard_100">Angela Lucero</td>
  <td class="giftcard_100">Jesus Agbayani</td>
  </tr>
  <tr>
  <td class="giftcard_100">Mark Angelo Aglipay</td>
  <td class="giftcard_100">Wencedes Alonzo</td>
  </tr>
  <tr>
  <td class="giftcard_100">Joel Balines</td>
  <td class="giftcard_100">Ma.Edlla Banson</td>
  </tr>
  <tr>
  <td class="giftcard_100">Rachell Ann Buensalida</td>
  <td class="giftcard_100">Virginia Bustos</td>
  </tr>
  
  <tr>
  <td class="giftcard_100">Danilo Caluma</td>
  <td class="giftcard_100">Jeffrey Catogal</td>
  </tr>
  <tr>
  <td class="giftcard_100">Gely De Jesus</td>
  <td class="giftcard_100">Rogelio Dela Cruz</td>
  </tr>
  <tr>
  <td class="giftcard_100">Ronilo Erlano</td>
  <td class="giftcard_100">Michael Gagarra</td>
  </tr>
  <tr>
  <td class="giftcard_100">Benjie Ganitano</td>
  <td class="giftcard_100">Florence Garcia</td>
  </tr>
  <tr>
  <td class="giftcard_100">Sandra Herrera</td>
   <td class="giftcard_100">James Jerucas</td>
  </tr>
  <tr>
 <td class="giftcard_100">Vincent Jimene</td>
 <td class="giftcard_100">Samuel Kitongan</td>
  </tr>
  <tr>
  <td class="giftcard_100">Abel Lopez JR.</td>
  <td class="giftcard_100">Saturnino Luna JR. </td>
  </tr>
  <tr>
  <td class="giftcard_100">Neil Nico Manahan</td>
   <td class="giftcard_100">John Lester Manalo</td>
  </tr>
  <tr>
  <td class="giftcard_100">Samanta Mendiola</td>
  <td class="giftcard_100">Ruel Molina</td>
  </tr>
  <tr>
  <td class="giftcard_100">Ian Christian Nuntes</td>
   <td class="giftcard_100">Barbara Oliva</td>
  </tr>
  <tr>
 <td class="giftcard_100">Ronald Placido</td>
  <td class="giftcard_100">Red Pulumbarit</td>
  </tr>
  <tr>
  <td class="giftcard_100">Abra Salud</td>
  <td class="giftcard_100">Rex Seballos</td>
  </tr>
  <tr>
  <td class="giftcard_100">Genaro Sierra</td>
  <td class="giftcard_100">Bong Toledo</td>
  </tr>
  <tr>
 <td class="giftcard_100">Martin Veerayda</td>
 <td class="giftcard_100">Ramon Velarde</td>
  </tr>
  </tbody>
 </table>

  <h2 class="promo_mechanics">ANNOUNCEMENT OF WINNERS AND CLAIMING OF PRIZES</h2> 
  <ol>
  <li>Winners will be notified via registered mail, email, and SMS message based on their raffle entry information. Their names will also be posted on our <a href="https://www.facebook.com/motoliteexpresshatid"> Facebook Page</a>.</li>
<li>Winners must present all of the following upon claiming the prize at the Motolite Philippines head office located at Ramcar Center 80-82 Roces Ave. Diliman, Q.C. from 10AM to 5PM, Mondays thru Fridays – Except on Holidays. Prizes may also be claimed at Motolite Outlets based on mutual agreement between Oriental & Motolite Marketing Corporation (OMMC) & the prize winner.</li>
  </ol>
  <ol type="A" style="margin-left: 20px;">
    <li>Valid ID (i.e. Driver’s license, Passport, SSS ID, TIN ID, Company or School ID). The name on the Valid ID must correspond to the registered name in the promo. Valid Motolite RES-Q app installed on their smartphone (with the registered mobile number), with the correct plate number and battery serial number details in the RES-Q app.</li>
<li>Official notification text sent to the registered mobile number. Support notification also sent to registered e-mail address (if provided).</li>
<li>Authorized representatives shall be allowed to claim in behalf of the winning subscriber provided that he/ she is able to present the following:</li>
  </ol>
<ul style="margin-left: 35px;">
  <li>Copy of the registered subscriber’s valid ID (original and photocopy)</li>
<li>Authorized representative’s valid ID (original and photocopy)</li>
<li>Authorization letter (signature should match with the signature in the valid ID)</li>
<li>Official notification sent via email or text message from Motolite Philippines</li>
</ul>
  