{% section 'winners-navigation' %}
{{ 'raffle-winners.css' | asset_url | stylesheet_tag }}

 <!-- BANNER-->
<div class="container">
  <img src="https://cdn.shopify.com/s/files/1/0615/7982/1304/files/9.png?v=1706783947" class="img-fluid">
  <center>

<!-- Greenlight-->
  <center>
  <img src="https://cdn.shopify.com/s/files/1/0615/7982/1304/files/prize-BANNER1--1200X400.jpg?v=1681403019" class="img-fluid">
</center>

  <table width="100%" style="border: 1px solid white; box-shadow: none;text-align: center;color:#000;">
    <tr>
  <td style="font-family: Raleway;font-size: 2rem;font-weight: 700">Rosalino Garcia</td>
  </tr>
  </table>
    
 <!-- SAMSUNG A34-->
  <img src="https://cdn.shopify.com/s/files/1/0615/7982/1304/files/A34.png?v=1706783947" class="img-fluid">
</center>

<table width="100%" style="border: 1px solid white; box-shadow: none;text-align: center;color:#000;">
<tbody>
 
  <tr>
  <td style="font-family: Raleway;font-size: 2rem;font-weight: 700;">Avinido Cruz</td>
  <td style="font-family: Raleway;font-size: 2rem;font-weight: 700">Kristine Lisaca</td>
  </tr>
  </table>
  <table width="100%" style="border: 1px solid white; box-shadow: none;text-align: center;color:#000;">
    <tr>
  <td style="font-family: Raleway;font-size: 2rem;font-weight: 700">Eric Llagas</td>
  </tr>
  </table>
  
  <!-- 500+100 KFC GC-->
  
  <table width="100%" style="border: 1px solid white; box-shadow: none;text-align: center;color:#000;">
   <img src="https://cdn.shopify.com/s/files/1/0615/7982/1304/files/prize-BANNER3--1200X400.jpg?v=1681403020" class="img-fluid">
  <tr>
  <td class="giftcard_500">Yasmin Zuniga</td>
  <td class="g0iftcard_500">Paulyn Bayongan-Ebio</td>
  </tr>
    <tr>
  <td class="giftcard_500">Jaime Latumbo
</td>
  <td class="giftcard_500">Nicolas, Jr. Quijano
</td>
  </tr>
    <tr>
  <td class="giftcard_500">Rosalie Rivera</td>
  <td class="giftcard_500">Numeriano Sison</td>
  </tr>
    <tr>
  <td class="giftcard_500">Zoraida Tan</td>
  <td class="giftcard_500">Joshua Ventura</td>
  </tr>
    <tr>
  <td class="giftcard_500">Gio Zahar</td>
  <td class="giftcard_500">Monalisa Balagot</td>
  </tr>
    <tr>
  <td class="giftcard_500">Elgelver Pascual</td>
   <td class="giftcard_500">Divina Alpa Volz</td>
  </tr>
    <tr>
  <td class="giftcard_500">Lowe Sanchez</td>
   <td class="giftcard_500">Christian Elep</td>
  </tr>
    <tr>
 <td class="giftcard_500">Christopher Tang</td>
  <td class="giftcard_500"> Eva Cartagenas</td>
  </tr>
    <tr>
   <td class="giftcard_500">Janette Surla</td>
   <td class="giftcard_500">Jennifer Cara</td>
  </tr>
    <td class="giftcard_500">Charlie Remular</td>
  <td class="giftcard_500">Keith Avellano</td>
  </tr>
    <tr>
  <td class="giftcard_500">Saturnino Mejia</td>
  <td class="giftcard_500">Roberto Bagabaldo</td>
  </tr>
    <tr>
  <td class="giftcard_500">Digna Isedeno</td>
  <td class="giftcard_500">Ronald Banzon</td>
  </tr>
  <tr>
  
  </table>
  <table width="100%" style="border: 1px solid white; box-shadow: none;text-align: center;color:#000;">
  <tr>
  <td class="giftcard_500">Edmond Arong</td>
  </tr>
  </table>

   <!-- 100 KFC GC-->
  
  <table width="100%" style="border: 1px solid white; box-shadow: none;text-align: center;color:#000;">
  <img src="https://cdn.shopify.com/s/files/1/0615/7982/1304/files/prize-BANNER4--1200X400.jpg?v=1681403019" class="img-fluid">
  <tr>
  <td class="giftcard_100">Camilo Oliver Aquino</td>
  <td class="giftcard_100">Joel Bantiles</td>
  </tr>
  <tr>
  <td class="giftcard_100">Alvin Bassig</td>
  <td class="giftcard_100">Edwin Jr. Baticula</td>
  </tr>
  <tr>
  <td class="giftcard_100">Dennis Boc</td>
  <td class="giftcard_100">Danilo Castillo</td>
  </tr>
  
  <tr>
  <td class="giftcard_100">Jennifer Cerrada</td>
   <td class="giftcard_100">Ashly Dimazana</td>
  </tr>
  <tr>
 <td class="giftcard_100">Austin Gan</td>
 <td class="giftcard_100">Paul Hinlo</td>
  </tr>
  <tr>
  <td class="giftcard_100">Diana Jimenez</td>
  <td class="giftcard_100">Cecilia Lejarde</td>
  </tr>
  <tr>
  <td class="giftcard_100">Raymar Marque</td>
  <td class="giftcard_100">Joanna Marie Medina</td>
  </tr>
 
  <tr>
  <td class="giftcard_100">Nino Regio</td>
  <td class="giftcard_100">Jojane Ronapay</td>
  </tr>
  <tr>
  <td class="giftcard_100">Abel Tunacao</td>
  <td class="giftcard_100">Antonio Ventosa</td>
  </tr>
  <tr>
  <td class="giftcard_100">Aniana Rose Villegas</td>
  <td class="giftcard_100">Elizabeth Dela Cruz</td>
  </tr>
  <tr>
  <td class="giftcard_100">MJ Roque</td>
  <td class="giftcard_100">Hazel Millet</td>
  </tr>
  
  <tr>
  <td class="giftcard_100">Vera Anne Cortes</td>
  <td class="giftcard_100">Rafael Pangcoga</td>
  </tr>
  <tr>
  <td class="giftcard_100">Ritchie Salud</td>
  <td class="giftcard_100">Stephen John Ang</td>
  </tr>
  <tr>
  <td class="giftcard_100">Eduardo Ibazeta</td>
  <td class="giftcard_100">Jerone Altura</td>
  </tr>
  <tr>
  <td class="giftcard_100">Randy Isaac</td>
  <td class="giftcard_100">Irene Lee</td>
  </tr>
  <tr>
  <td class="giftcard_100">Taeyeon Kwon</td>
   <td class="giftcard_100">Romel Barrera</td>
  </tr>
  <tr>
 <td class="giftcard_100">Rico Balucan</td>
 <td class="giftcard_100">Arvin Joseph</td>
  </tr>
  <tr>
  <td class="giftcard_100">Julius Dumangas</td>
  <td class="giftcard_100">Joven Rosario</td>
  </tr>
  <tr>
  <td class="giftcard_100">Bibiano Lirio</td>
   <td class="giftcard_100">Ferdenand Libao</td>
  </tr>
  <tr>
  <td class="giftcard_100">Amir Kumar</td>
  <td class="giftcard_100">Melchor Balida</td>
  </tr>
  <tr>
  <td class="giftcard_100">Joel Mahusay</td>
   <td class="giftcard_100">Efren Bumay-et</td>
  </tr>
  <tr>
 <td class="giftcard_100">Alda Tablan</td>
  <td class="giftcard_100">Rodolfo Torino</td>
  </tr>
  <tr>
  <td class="giftcard_100">Ms.Krishiela Lopez</td>
  <td class="giftcard_100">Efren Delid</td>
  </tr>
  <tr>
  <td class="giftcard_100">Michael Mark A. Musa</td>
  <td class="giftcard_100">Cliford Tan</td>
  </tr>
  <tr>
 <td class="giftcard_100">Clay Punay</td>
 <td class="giftcard_100">Emmanuel Bautista</td>
  </tr>
  </tbody>
 </table>

  <h2 class="promo_mechanics">ANNOUNCEMENT OF WINNERS AND CLAIMING OF PRIZES</h2> 
  <ol>
  <li>Winners will be notified via registered mail, email, and SMS message based on their raffle entry information. Their names will also be posted on our <a href="https://www.facebook.com/motoliteexpresshatid"> Facebook Page</a>.</li>
<li>Winners must present all of the following upon claiming the prize at the Motolite Philippines head office located at Ramcar Center 80-82 Roces Ave. Diliman, Q.C. from 10AM to 5PM, Mondays thru Fridays – Except on Holidays. Prizes may also be claimed at Motolite Outlets based on mutual agreement between Oriental & Motolite Marketing Corporation (OMMC) & the prize winner.</li>
  </ol>
  <ol type="A" style="margin-left: 20px;">
    <li>Valid ID (i.e. Driver’s license, Passport, SSS ID, TIN ID, Company or School ID). The name on the Valid ID must correspond to the registered name in the promo. Valid Motolite RES-Q app installed on their smartphone (with the registered mobile number), with the correct plate number and battery serial number details in the RES-Q app.</li>
<li>Official notification text sent to the registered mobile number. Support notification also sent to registered e-mail address (if provided).</li>
<li>Authorized representatives shall be allowed to claim in behalf of the winning subscriber provided that he/ she is able to present the following:</li>
  </ol>
<ul style="margin-left: 35px;">
  <li>Copy of the registered subscriber’s valid ID (original and photocopy)</li>
<li>Authorized representative’s valid ID (original and photocopy)</li>
<li>Authorization letter (signature should match with the signature in the valid ID)</li>
<li>Official notification sent via email or text message from Motolite Philippines</li>
</ul>
  