<link rel="stylesheet" href="{{ 'battery-trade.css' | asset_url }}">
<link rel="stylesheet" href="{{ 'global.css' | asset_url }}">


<script type="text/javascript">

      window.ymConfig = {"bot":"x1722944534597","host":"https://r3.cloud.yellow.ai"};

    (function() {

        var w = window,

            ic = w.YellowMessenger;

        if ("function" === typeof ic) ic("reattach_activator"), ic("update", ymConfig);

        else {

            var d = document,

                i = function() {

                    i.c(arguments)

                };

            function l() {

                var e = d.createElement("script");

                e.type = "text/javascript", e.async = !0, e.src = "https://cdn.yellowmessenger.com/plugin/widget-v2/latest/dist/main.min.js";

                var t = d.getElementsByTagName("script")[0];

                t.parentNode.insertBefore(e, t)

            }

            i.q = [], i.c = function(e) {

                i.q.push(e)

            }, w.YellowMessenger = i, w.attachEvent ? w.attachEvent("onload", l) : w.addEventListener("load", l, !1)}

    })();

    </script>

 <section class="banner global-padding">
      <div class="wrapper">
        <div class="container-fluid">
          <div class="content">
            <h1 class="text-uppercase">Trade-in Car Battery Services in the Philippines</h1>
            <p>
              Car batteries keep our vehicles running and provide power to
              various electrical systems like lights, radio, and air
              conditioning. But, once they’ve served their purpose, there’s a
              sustainable way to make the most of them. 
            </p>
            <p>
              We at Motolite offer a car battery trade-in in the Philippines.
              Our commitment extends beyond selling batteries; we also
              prioritize responsible practices for end-of-life products. Through
              our trade-in program, you can ensure your old battery is recycled
              properly while getting a great deal on a brand-new one.
            </p>
          </div>
        </div>
      </div>
    </section>

    <section class="trade-in-car-battery global-padding">
      <div class="wrapper">
        <div class="container-fluid">
          <div class="header">
            <h2>How Does the Trade-in Car Battery Program Work</h2>
            <p>
              Replacing your car battery is inevitable. But, what happens to the
              old? Our car battery trade-in in the Philippines program makes the
              process hassle-free and eco-friendly. Here's a quick rundown on
              how it works:
            </p>
          </div>
          <div class="row">
            <div class="col-xl-4">
              <div class="card red-card">
                <div class="content">
                  <div class="image">
                    <img
                      src="https://cdn.shopify.com/s/files/1/0615/7982/1304/files/motorbike.png?v=1728552602"
                      alt="car battery"
                    />
                  </div>
                  <h3>Battery Assessment</h3>
                  <p>
                    Bring your old car battery to any participating Motolite
                    dealer or avail of our car battery trade-in in the
                    Philippines services
                    <a href="https://www.motolite.com/pages/res-q" target="_blank" >when you use our updated Res-Q app.</a> We will
                    assess your battery’s condition using specialized tools to
                    determine its remaining life. The trade-in value you receive
                    depends on the batter size.
                  </p>
                </div>
              </div>
            </div>
            <div class="col-xl-4">
              <div class="card red-card">
                <div class="content">
                  <div class="image">
                    <img
                      src="https://cdn.shopify.com/s/files/1/0615/7982/1304/files/car-battery.png?v=1728552603"
                      alt="Battery
                      Collection"
                    />
                  </div>
                  <h3>Battery Collection</h3>
                  <p>
                    Once the assessment is complete and you're happy with the
                    value of your car battery trade-in in the Philippines, we
                    will safely collect them. We’ll ensure proper handling
                    procedures are followed to prevent any environmental
                    hazards.
                  </p>
                </div>
              </div>
            </div>
            <div class="col-xl-4">
              <div class="card red-card">
                <div class="content">
                  <div class="image">
                    <img
                      src="https://cdn.shopify.com/s/files/1/0615/7982/1304/files/cone.png?v=1728552603"
                      alt="Receive Your New Battery"
                    />
                  </div>
                  <h3>Receive Your New Battery</h3>
                  <p>
                    With your old battery responsibly taken care of, you can
                    choose from a wide range of Motolite batteries to find the
                    perfect fit for your car's specific needs. You'll enjoy a
                    discount on your new battery—thanks to your trade-in, making
                    it a win-win for your wallet and the environment.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="recycle-battery global-padding">
      <div class="wrapper">
        <div class="container-fluid">
          <div class="header">
            <h2>How Do We Store and Recycle Your Car Batteries</h2>
            <p>
              Motolite's commitment to sustainability extends beyond our car
              battery trade-in in the Philippines. We have partnered with
              Evergreen Environmental Resources Inc. (EERI), a leading recycler,
              to ensure the collected used car batteries are properly disposed
              of and recycled.
            </p>
            <p>Here’s how we do this:</p>
          </div>
          <div class="row">
            <div class="col-xl-6">
              <div class="card">
                <div class="content">
                  <div class="image">
                    <img
                      src="https://cdn.shopify.com/s/files/1/0615/7982/1304/files/Start-stop_Technology.png?v=1728548068"
                      alt="Collection of Traded-in Batteries"
                    />
                  </div>
                  <h3>Collection of Traded-in Batteries</h3>
                  <p>
                    Motolite is committed to responsible battery disposal
                    through our Green Partnership Program. This initiative
                    ensures the collection of used batteries from our dealers,
                    facilitating their safe and efficient recycling.
                  </p>
                  <p>
                    We also have a designated pick-up schedule where they
                    collect used batteries from dealerships in bulk. This
                    ensures efficient transportation and minimizes the number of
                    trips required, keeping the environmental impact to a
                    minimum.
                  </p>
                </div>
              </div>
            </div>
            <div class="col-xl-6">
              <div class="card">
                <div class="content">
                  <div class="image">
                    <img
                      src="https://cdn.shopify.com/s/files/1/0615/7982/1304/files/High-Electrical-Demands.png?v=1728548068"
                      alt="Transportation to the Recycling Facility"
                    />
                  </div>
                  <h3>Transportation to the Recycling Facility</h3>
                  <p>
                    After being collected from dealerships and Motolite's
                    network of collection points in the Philippines, used car
                    batteries are transported securely to EERI’s
                    state-of-the-art recycling facility for processing.
                  </p>
                  <p>
                    We then work closely with our logistics partners to optimize
                    the transportation routes, minimize carbon emissions, and
                    adhere to all relevant safety and environmental regulations.
                  </p>
                </div>
              </div>
            </div>
            <div class="col-xl-12">
              <div class="card">
                <div class="content">
                  <div class="image">
                    <img
                      src="https://cdn.shopify.com/s/files/1/0615/7982/1304/files/cycling.png?v=1728554291"
                      alt="Recycling Process"
                    />
                  </div>
                  <h3>Recycling Process</h3>
                  <p>
                    At EERI, the used batteries collected from the car battery
                    trade-in program in the Philippines undergo a thorough
                    recycling process. EERI employs advanced techniques to
                    safely handle and process these batteries. The process
                    begins with the careful sorting and disassembly of the
                    batteries to separate hazardous components from recoverable
                    materials.
                  </p>
                  <p>
                    This meticulous process ensures that hazardous substances
                    are managed responsibly, minimizing environmental impact and
                    that valuable resources are efficiently recovered and
                    reused. EERI’s state-of-the-art recycling facility turns old
                    batteries into raw materials for new ones, supporting
                    sustainability and reducing waste.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="why-trade-car-battery global-padding">
      <div class="wrapper">
        <div class="container-fluid">
          <div class="content d-flex align-items-center">
            <div class="text">
              <h2>Why Should You Trade-in Your Car Battery</h2>
              <p>
                Replacing your car battery is inevitable, but how you handle the
                old one can make a difference. Motolite's car battery trade-in
                program in the Philippines offers a convenient and eco-friendly
                solution. Not only can you benefit financially, but you also
                contribute positively to environmental conservation.
              </p>
            </div>
            <div class="image">
              <img
                src="https://cdn.shopify.com/s/files/1/0615/7982/1304/files/superior.jpg?v=1728554325"
                alt="Why Should You Trade-in Your Car Battery"
              />
            </div>
          </div>
          <div class="row">
            <div class="card">
              <div class="content">
                <p>
                  When you trade in your old battery, you receive a discount on
                  a new Motolite battery, helping you save on your next
                  purchase. Additionally, your old battery is sent to EERI for
                  responsible recycling. They ensure that hazardous materials
                  are safely managed and valuable resources are recovered and
                  repurposed, reducing waste and supporting sustainability. 
                </p>
                <p>
                  This way, you’re not just upgrading your vehicle but also
                  making a meaningful impact on the environment.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="trade-in global-padding">
      <div class="wrapper">
        <div class="container-fluid">
          <div class="content">
            <h2>Trade-in Today!</h2>
            <p>
              Ready to upgrade and make a difference? Our trusted Res-Q app now
              features a seamless car battery trade-in option and affordable
              replacement service. With this update, you can easily exchange
              your old battery for a discount on a new Motolite battery,
              ensuring you save money while supporting eco-friendly practices.
            </p>
            <p>
              Don’t miss out on this opportunity to enhance your vehicle’s
              performance and contribute to a greener future. Contact us today
              through the Res-Q app to take advantage of this convenient,
              cost-effective, and environmentally friendly service!
            </p>
            <a href="https://www.motolite.com/pages/contact-us" target="_blank" rel="noopener noreferrer" class="buy_now red_btn">Trade In Today!</a>
          </div>
        </div>
      </div>
    </section>

          <footer>
  {% section 'footer' %}
</footer>

