<style>
         .banner-content {
         position: absolute;
         top: 38%;
         left: 52%;
         transform: translate(-50%, -50%);
         }
     .container {
       position: relative;
       text-align: center;
       }
       .fast-and-reliable {
       position: absolute;
       top: 50%;
       left: 50%;
       transform: translate(-50%, -50%);
     }
      .left-content {
       position: relative;
       bottom: 340px;
     }
     .red {
       color: #fff!important;
       font-size: 32px!important;
       font-family: Raleway;
       font-weight: 700!important;
       line-height: 28.313px!important;
       letter-spacing: .69px;
       padding: 12px 39px;
       max-width: 700px;
       background: #d5232b!important;
       margin-bottom: 29px;
       box-shadow: 5px 10px yellow;
     }
     .location {
       color:#d5232b!important;;
       display: contents;
       font-family: raleway;
       font-weight: 600;
       font-size: 32px!important;
     }
     .fa-caret-right {
       color:#d5232b!important;
       margin-bottom:10px;
       font-size:22px;
     }
     .content {
       display: grid;
       margin-left:76px;
     }
     li {
      color:#fff;
    }
      @media (max-width:767px) {
        .sim {
          margin-left:15px!important;
          font-size: 19px !important;
        }
      }



    .container-cebu {
      display: flex;
    }
    .banner-cebu{
          max-width: 100%;
      height: auto;
    }
    .logo-cebu {
      position: absolute;
      left: 72px;
      top: 130px;
      bottom: 0;
    }
    .content-top {
      position: absolute;
      left: 718px;
      top: 165px;
      width: 25%;
  }
    }
</style>

<script type="text/javascript">

      window.ymConfig = {"bot":"x1722944534597","host":"https://r3.cloud.yellow.ai"};

    (function() {

        var w = window,

            ic = w.YellowMessenger;

        if ("function" === typeof ic) ic("reattach_activator"), ic("update", ymConfig);

        else {

            var d = document,

                i = function() {

                    i.c(arguments)

                };

            function l() {

                var e = d.createElement("script");

                e.type = "text/javascript", e.async = !0, e.src = "https://cdn.yellowmessenger.com/plugin/widget-v2/latest/dist/main.min.js";

                var t = d.getElementsByTagName("script")[0];

                t.parentNode.insertBefore(e, t)

            }

            i.q = [], i.c = function(e) {

                i.q.push(e)

            }, w.YellowMessenger = i, w.attachEvent ? w.attachEvent("onload", l) : w.addEventListener("load", l, !1)}

    })();

    </script>

<!--
  <div class="container-cebu">
    <img
      src="https://cdn.shopify.com/s/files/1/0615/7982/1304/files/Banner-cebu2_new.jpg?v=1712108882"
      class="banner-cebu"
    >
    <img src="https://cdn.shopify.com/s/files/1/0615/7982/1304/files/Logo-cebu2_new.png?v=1712108881" class="logo-cebu">
  <center>
    <div class="content-top">
            <h2 class="text-cebu">NOW COVERING METRO-CEBU!</h2>
            <p>
              <a href="tel:0966-048-1862">0966-048-1862</a>
            </p>
            <p class="sim">Globe</p>
            <p>
              <a href="tel:0962-637-6639">0962-637-6639</a>
            </p>
            <p class="sim">Smart</p>
          </div>
  </center>
        </div>

  </div>
-->

<section class="banner">
  <div class="container-fuid">
    <div class="row">
      <div class="banner-logo">
        <img src="https://cdn.shopify.com/s/files/1/0615/7982/1304/files/Cebu-logo.png?v=1706471786" alt="">
      </div>
      <div class="top-content">
        <div class="top-content-left">
          <img src="https://cdn.shopify.com/s/files/1/0615/7982/1304/files/Cebu-logo.png?v=1706471786" alt="">
        </div>
        <div class="top-content-right">
          <h2 class="text-cebu">NOW COVERING METRO-CEBU!</h2>
           <p>
            <a href="tel:032-517-6686">032-517-6686</a>
          </p>
          <p class="sim">Landline</p>
          <p>
          <p>
            <a href="tel:0966-048-1862">0966-048-1862</a>
          </p>
          <p class="sim">Globe</p>
          <p>
            <a href="tel:0962-637-6639">0962-637-6639</a>
          </p>
          <p class="sim">Smart</p>
        </div>
      </div>

      <div class="left-content">
        <p class="red">FREE Battery Delivery & Installation</p>
        <div class="wrapper">
          <div class="content">
            <i class="fas fa-caret-right" style="margin-left:3px;">
              <p class="location" style="margin-left:20px">Cebu City</p>
            </i>
            <i class="fas fa-caret-right" style="margin-left:3px;">
              <p class="location">Mandaue City</p>
            </i>
            <i class="fas fa-caret-right" style="margin-left:3px;">
              <p class="location">Lapu-Lapu City</p>
            </i>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="banner-small-screen"></section>

<!--
  <div class="small-screen">
    <img src="https://cdn.shopify.com/s/files/1/0615/7982/1304/files/banner3.jpg?v=1706690449" class="banner-cebu">
  </div>
-->

<div class="hide-to-small">
  <div class="content_container">
    <img src="https://cdn.shopify.com/s/files/1/0615/7982/1304/files/rider-logo.png?v=1706508220">
    <h1 class="fast-reliable text-uppercase" style="text-align:center">
      NOW: FAST & RELIABLE CAR BATTERY DELIVERY IN METRO CEBU
    </h1>
    <p>
      No one wants to be stuck with a dead car battery in your garage or on the road. That’s why we at Motolite provide
      our customers with quick and convenient car battery delivery and installation. Trust our expert team and premium
      batteries to revive your ride, fast.
    </p>
  </div>
</div>

<div class="show-to-small">
  <div class="content_container">
    <img src="https://cdn.shopify.com/s/files/1/0615/7982/1304/files/rider-logo.png?v=1706508220">
    <h1 class="fast-reliable" style="text-align:center">Now: Fast & Reliable Car Battery Delivery in Metro Cebu</h1>
    <p>
      No one wants to be stuck with a dead car battery in your garage or on the road. That’s why we at Motolite provide
      our customers with quick and convenient car battery delivery and installation. Trust our expert team and premium
      batteries to revive your ride, fast.
    </p>
  </div>
</div>

<div class="hide-to-small">
  <section class="reliable-and-quick">
    <div class="container-fluid">
      <div class="wrapper">
        <div class="row">
          <div class="content-container">
            <div class="content1">
              <h1 class="text-uppercase" style="text-align:center">MOTOLITE EXPRESS HATID SERVICES</h1>
              <ul>
                <li><p>Free battery delivery and installation</p></li>
                <li><p>Available 24/7 in Metro Manila and key cities nationwide</p></li>
                <li>
                  <p>
                    Accepts cash, debit and credit card payments ( 3 months installment at 0% interest available for BDO
                    credit card )
                  </p>
                </li>
                <li>
                  <p>With trained technicians who can perform the following:</p>
                  <ul>
                    <li><p>battery diagnostics</p></li>
                    <li><p>battery jumpstart / recharging</p></li>
                    <li><p>basic electrical check-up</p></li>
                  </ul>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>

<div class="show-to-small">
  <section class="reliable-and-quick">
    <div class="container-fluid">
      <div class="wrapper">
        <div class="row">
          <div class="content-container">
            <div class="content1">
              <h1 class="text-uppercase" style="text-align:center">Motolite Express Hatid Services</h1>
              <ul>
                <li><p>Free battery delivery and installation</p></li>
                <li><p>Available 24/7 in Metro Manila and key cities nationwide</p></li>
                <li>
                  <p>
                    Accepts cash, debit and credit card payments ( 3 months installment at 0% interest available for BDO
                    credit card )
                  </p>
                </li>
                <li>
                  <p>With trained technicians who can perform the following:</p>
                  <ul>
                    <li><p>battery diagnostics</p></li>
                    <li><p>battery jumpstart / recharging</p></li>
                    <li><p>basic electrical check-up</p></li>
                  </ul>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>

<link rel="stylesheet" href="{{ 'express-hatid-cebu.css' | asset_url }}">
{% section 'footer' %}
