<!-- Example: Displaying the template name -->
{% comment %} Display template name {% endcomment %}

<script type="text/javascript">

      window.ymConfig = {"bot":"x1722944534597","host":"https://r3.cloud.yellow.ai"};

    (function() {

        var w = window,

            ic = w.YellowMessenger;

        if ("function" === typeof ic) ic("reattach_activator"), ic("update", ymConfig);

        else {

            var d = document,

                i = function() {

                    i.c(arguments)

                };

            function l() {

                var e = d.createElement("script");

                e.type = "text/javascript", e.async = !0, e.src = "https://cdn.yellowmessenger.com/plugin/widget-v2/latest/dist/main.min.js";

                var t = d.getElementsByTagName("script")[0];

                t.parentNode.insertBefore(e, t)

            }

            i.q = [], i.c = function(e) {

                i.q.push(e)

            }, w.YellowMessenger = i, w.attachEvent ? w.attachEvent("onload", l) : w.addEventListener("load", l, !1)}

    })();

    </script>

{% assign template_name = template.name %}
{% section 'batteries-services-navigation' %}
<link rel="stylesheet" href="{{ 'resq-new.css' | asset_url }}">  
<section class="banner">
    <div class="container-fluid">
        <div class="wrapper">
            <div class="row">
                <div class="content-container">
                    <h1 class="text-center text-uppercase">Your all-weather partner for roadside assistance and emergencies.</h1>
                    <p class="text-center">Your all-weather partner for roadside assistance and emergencies.</p>
                    <div class="download d-flex">
                        <a href="https://play.google.com/store/apps/details?id=com.motolite.motoliteuser&hl=en" target="_blank" rel="noopener noreferrer" class="google-play"><img src="https://cdn.shopify.com/s/files/1/0615/7982/1304/files/google_play.png?v=1687402647" alt=""></a>
                        <a href="https://itunes.apple.com/ph/app/motolite-res-q/id1099175316" target="_blank" rel="noopener noreferrer" class="app-store"><img src="https://cdn.shopify.com/s/files/1/0615/7982/1304/files/app_store.png?v=1687402647" alt=""></a>
                        <a href="https://appgallery1.huawei.com/#/app/C102451557" target="_blank" rel="noopener noreferrer" class="app-gallery"><img src="https://cdn.shopify.com/s/files/1/0615/7982/1304/files/app_gallery.png?v=1687402647" alt=""></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="resq">
    <div class="container-fluid">
        <div class="wrapper">
            <div class="row align-items-center justify-content-between">
                <div class="left-content">
                    <div class="content-container">
                        <h2>RES-Q</h2>
                        <img class="mobile" src="https://cdn.shopify.com/s/files/1/0615/7982/1304/files/resQ.png?v=1687402648" alt="RES-Q">
                        <p>At Motolite, we understand that experiencing a vehicle breakdown or any kind of roadside emergency can be a stressful ond inconvenient experience. That's why we offer roadside assistance service through Motolite Res-Q, an app that is designed to get you back on the road as quickly and safely as possible.</p>
                        <p class="light">With Motolite's Res-Q, you can have peace of mind knowing that help is just a phone call away.</p>
                    </div>
                </div>
                <div class="right-content">
                    <div class="image-container">
                        <img src="https://cdn.shopify.com/s/files/1/0615/7982/1304/files/resQ.png?v=1687402648" alt="RES-Q">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="how-to-use-motolite">
    <div class="container-fluid">
        <div class="wrapper">
            <div class="row">
                <div class="heading">
                    <h2 class="text-center text-uppercase">How to Use Motolite’s Roadside Assistance App: <span>RES-Q</span></h2>
                    <p class="text-center">Motolite's RES-Q app is your reliable and efficient partner during car emergencies. With just a few taps on your phone, you can request assistance and get back on the road in no time. Here's a step-by-step guide on how to use it:</p>
                </div>
                <div class="group">
                    <div class="row align-items-center justify-content-between">
                        <div class="content-left">
                            <ol>
                            <li><h3>Register your vehicle.</h3></li>
                            <p style="margin-bottom:50px">To access our RES-Q app, the first step is to register your vehicle. By providing your vehicle's details, you can ensure that the appropriate assistance will be sent to you in case of an emergency.</p>
                            <li><h3>Select the service you need.</h3></li>
                            <p>After registering your vehicle on the RES-Q app, you can select the specific type of service you need, such as jumpstarting a dead battery, assisting with overheating, changing a flat tire, or receiving fuel delivery. This way, you'll get the right assistance that caters to your specific needs.
                            </p>
                            </ol>
                        </div>
                        <div class="middle-content">
                            <img src="https://cdn.shopify.com/s/files/1/0615/7982/1304/files/map-mobile.png?v=1687402648" alt="Flexible Payment Options">
                            <div class="content">
                                <h3 class="text-center text-uppercase">Flexible Payment Options</h3>
                                <p class="text-center">You may pay with via Cash or Credit Card.</p>
                            </div>
                        </div>
                        <div class="content-right">
                            <ol start="3">
                            <li><h3>Verify your details and destination.</h3></li>
                            <p style="margin-bottom:50px">After selecting the service you need, you will be prompted to verify your details and destination. This is to ensure that our team has the necessary information to provide you with the best roadside assistance possible.</p>
                            <li><h3>Get RES-Q’ed!</h3></li>
                            <p>Once you’ve completed the previous steps, all you need to do is to wait for Motolite's trained technicians to come to your rescue. They will provide you with the necessary roadside assistance to resolve your vehicle whether it be battery, tire, fuel, or overheating issues. </p>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="what-does-motolite-emergency">
    <div class="container-fluid">
        <div class="wrapper">
            <div class="row">
                <div class="heading row justify-content-between align-items-center">
                    <div class="image-container">
                        <img src="https://cdn.shopify.com/s/files/1/0615/7982/1304/files/motolite-logo.png?v=1687402648" alt="Motolite logo">
                    </div>
                    <div class="content">
                        <h2 class="text-uppercase">What Does Motolite’s Emergency Roadside Assistance Cover?</h2>
                        <p>Motolite’s emergency roadside assistance covers a wide range of services that can help you during an unexpected breakdown of your vehicle battery.</p>
                    </div>
                </div>
                <div class="group">
                    <div class="row">
                        <div class="col-md-6 col-sm-12">
                            <div class="content-container">
                                <div class="heading d-flex">
                                    <img src="https://cdn.shopify.com/s/files/1/0615/7982/1304/files/Battery_Troubles.png?v=1687402647" alt="Battery Troubles">
                                    <h3>Battery Troubles</h3>
                                </div>
                                <p>At Motolite, we offer a complimentary battery check and maintenance service to keep your current Motolite battery in optimal condition. Our team of experts will assess your battery's health, taking into account any contributing factors from your vehicle. Based on our assessment, we will determine if your battery requires a recharge or replacement. In the event that a new battery is needed, we've got you covered. We'll deliver a brand new Motolite battery directly to your doorstep, completely free of charge.</p>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-12">
                            <div class="content-container">
                                <div class="heading d-flex">
                                    <img src="https://cdn.shopify.com/s/files/1/0615/7982/1304/files/Overheating_of_Engine_System.png?v=1687402648" alt="Overheating of Engine System">
                                    <h3>Overheating of Engine System</h3>
                                </div>
                                <p>If your car's engine is overheating, our technicians can assist you in safely cooling it down, allowing you to either return home or reach a secure location. For a comprehensive diagnosis of your engine system, we recommend bringing your vehicle to its designated service center. </p>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-12">
                            <div class="content-container">
                                <div class="heading d-flex">
                                    <img src="https://cdn.shopify.com/s/files/1/0615/7982/1304/files/Empty_or_Low_Fuel.png?v=1687402648" alt="Empty or Low Fuel">
                                    <h3>Empty or Low Fuel</h3>
                                </div>
                                <p>When you're in a situation where your gas tank is empty or running low, and there's no gas station nearby, rely on Motolite RES-Q for assistance. Our fast and dependable service is designed to provide you with enough gas to reach the nearest gas station and keep you moving.
                                </p>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-12">
                            <div class="content-container">
                                <div class="heading d-flex">
                                    <img src="https://cdn.shopify.com/s/files/1/0615/7982/1304/files/Tire_Assistance.png?v=1687402648" alt="Tire Assistance">
                                    <h3>Tire Assistance</h3>
                                </div>
                                <p>Don't let a flat tire ruin your day. Whether you're stuck on the side of the road or in your own driveway, we'll come to you and get you back on the road in no time. Our team of experts is always on standby, ready to provide you with fast and reliable tire assistance to help you change your tire. </p>
                            </div>
                        </div>
                        <div class="download d-flex">
                            <a href="https://play.google.com/store/apps/details?id=com.motolite.motoliteuser&hl=en" target="_blank" rel="noopener noreferrer" class="google-play"><img src="https://cdn.shopify.com/s/files/1/0615/7982/1304/files/google_play.png?v=1687402647" alt=""></a>
                            <a href="https://itunes.apple.com/ph/app/motolite-res-q/id1099175316" target="_blank" rel="noopener noreferrer" class="app-store"><img src="https://cdn.shopify.com/s/files/1/0615/7982/1304/files/app_store.png?v=1687402647" alt=""></a>
                            <a href="https://appgallery1.huawei.com/#/app/C102451557" target="_blank" rel="noopener noreferrer" class="app-gallery"><img src="https://cdn.shopify.com/s/files/1/0615/7982/1304/files/app_gallery.png?v=1687402647" alt=""></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="advantage-of-motolite">
    <div class="container-fluid">
        <div class="wrapper">
            <div class="row">
                <div class="heading">
                    <h2 class="tex-center">Advantages of Motolite’s RES-Q App</h2>
                    <p class="tex-center">With Motolite’s RES-Q application, you'll never have to worry about being stranded on the road again due to its numerous advantages.</p>
                </div>
                <div class="group">
                    <div class="row">
                        <div class="col-lg-4 col-md-6 col-sm-12">
                            <div class="content-container">
                                <img src="https://cdn.shopify.com/s/files/1/0615/7982/1304/files/Easily_Accessible_on_Mobile_Devices.png?v=1687402648" alt="Easily Accessible on Mobile Devices">
                                <h3 class="text-center">Easily Accessible on Mobile Devices</h3>
                                <p>Motolite's RES-Q App offers the convenience of getting roadside assistance anytime, anywhere with just a few clicks on your mobile device. It has a user-friendly interface that helps you get the services you need quickly and easily.</p>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-12">
                            <div class="content-container">
                                <img src="https://cdn.shopify.com/s/files/1/0615/7982/1304/files/real_time_location.png?v=1687402648" alt="Real-time Location System">
                                <h3 class="text-center">Real-time Location System</h3>
                                <p>With GPS technology, Motolite RES-Q ensures accurate tracking of your location when you need roadside assistance. We can provide you with real-time updates on the estimated time of arrival of our authorized service rider technicians. </p>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-12">
                            <div class="content-container">
                                <img src="https://cdn.shopify.com/s/files/1/0615/7982/1304/files/Easy_Maintenance.png?v=1687335800" alt="Free of Charge">
                                <h3 class="text-center">Free of Charge</h3>
                                <p>Motolite provides free roadside assistance for vehicles with Motolite batteries installed. For non-Motolite battery users, a minimal fee is charged. Note that this excludes fees for radiator coolant, fuel, and car battery purchases.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="what-makes-the-motolite-the-best">
    <div class="container-fluid">
        <div class="wrapper">
            <div class="row justify-content-end">
                <div class="col-lg-7 col-md-8 col-sm-12 col-sm-12">
                    <div class="heading">
                        <h2>What Makes Motolite the <span>Best Choice</span> for Roadside Assistance?</h2>
                        <p>In an emergency situation on the road, having a dependable roadside assistance partner is crucial. With Motolite's RES-Q app and a team of highly trained technicians available 24/7, you can have peace of mind knowing that help is just a tap away.</p>
                    </div>
                    <ul class="p-0">
                        <li>
                            <div class="d-flex">
                                <img src="https://cdn.shopify.com/s/files/1/0615/7982/1304/files/check_ribon.png?v=1687402648" alt="">
                                <div class="content">
                                    <h3>First App-Based Roadside Assistance Service in the Philippines</h3>
                                    <p>RES-Q is the country's first app-based service for roadside assistance, raising the bar with its innovative and efficient approach. With just a few taps on your mobile device, our team is ready to go the extra mile to provide the help you need, anytime and anywhere.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="d-flex">
                                <img src="https://cdn.shopify.com/s/files/1/0615/7982/1304/files/check_ribon.png?v=1687402648" alt="">
                                <div class="content">
                                    <h3>24/7 Roadside Assistance Service</h3>
                                    <p>Motolite's on-demand 24/7 roadside assistance service is your reliable companion whenever and wherever you need it. It is accessible for free on your mobile or tablet. All services are free for Motolite Battery Users. Please take note that consumables such as fuel have an associated charge.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="d-flex">
                                <img src="https://cdn.shopify.com/s/files/1/0615/7982/1304/files/check_ribon.png?v=1687402648" alt="">
                                <div class="content">
                                    <h3>Minimal Fee for Non-Motolite Battery Users</h3>
                                    <p>We understand that car troubles can happen to anyone, whether or not they are using a Motolite battery. That's why we offer a minimal fee for non-Motolite battery users, so you can rest assured that you are getting top-notch assistance from our skilled technicians.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="d-flex">
                               <img src="https://cdn.shopify.com/s/files/1/0615/7982/1304/files/check_ribon.png?v=1687402648" alt="">
                               <div class="content">
                                    <h3>Flexible Payment Options</h3>
                                    <p>Motolite offers multiple payment methods for battery purchases, including COD, G-Cash, local credit cards, debit cards, and ATM cards.</p>
                                    <p>For other services such as refueling, flat tire, and overheating, we currently accept cash payments only.</p>
                               </div>
                            </div>
                        </li>
                    </ul>
                    <div class="botton-text">
                        <p><span>Res-Q</span> is initially available in Metro Manila only.</p>
                        <p><i>Download now and enjoy hassle-free driving!</i></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="download-motolite">
    <div class="container-fluid">
        <div class="wrapper">
            <div class="row">
                <div class="content">
                    <h2 class="text-center text-uppercase">Download Motolite’s Roadside Assistance Service App and Enjoy Hassle-Free 
                        Driving Anytime, Anywhere! </h2>
                    <p>Don't let unexpected car problems ruin your day. Download Motolite's RES-Q app now and enjoy peace of mind while on the road. With just a few clicks, you can easily access our 24/7 roadside assistance service and get the help you need anytime, anywhere.</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="faq">
    <div class="container-fluid">
        <div class="wrapper">
            <div class="row">
                <h2 class="text-center">Frequently Asked <span> Questions</span></h2>
                <div class="accordion" id="accordionExample">

                    <div class="accordion" id="accordionExample">
                        <!-- Start of accordion item duplication loop -->
                        <div class="accordion-item">
                            <h2 class="accordion-heading m-0" id="accordion1">
                                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse1" aria-expanded="true" aria-controls="collapse1">
                                    Can I request any Res-Q service if I don't have or have a weak data signal?
                                </button>
                            </h2>
                            <div id="collapse1" class="accordion-collapse collapse" aria-labelledby="accordion1" data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    <p>Res-Q needs a stable data connection for you to request services and to track the location of our rider. If you don't have a stable data connection, please call our hotline at (+632) 8370-6686.</p>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-heading m-0" id="accordion2">
                                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse2" aria-expanded="true" aria-controls="collapse2">
                                    Can I pay
                            using my credit card?
                                </button>
                            </h2>
                            <div id="collapse2" class="accordion-collapse collapse" aria-labelledby="accordion2" data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    <p>Yes, we accept Visa and Mastercard credit cards issued in the Philippines.</p>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-heading m-0" id="accordion3">
                                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse3" aria-expanded="true" aria-controls="collapse3">
                                    How can I
                            pay for your services/products?
                                </button>
                            </h2>
                            <div id="collapse3" class="accordion-collapse collapse" aria-labelledby="accordion3" data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    <p>We accept COD (G-Cash payment is now accepted), local credit cards, debit cards, and ATM
                                        cards for battery purchases. We only accept cash payment for flat tire, refuel and
                                        overheat transactions.</p>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-heading m-0" id="accordion4">
                                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse4" aria-expanded="true" aria-controls="collapse4">
                                    Will I
                            receive order confirmation after placing an order?
                                </button>
                            </h2>
                            <div id="collapse4" class="accordion-collapse collapse" aria-labelledby="accordion4" data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    <p>Once you have successfully submitted your request, you will be able to see the progress
                                        of your transaction on your mobile device on the Res-Q App screen.</p>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-heading m-0" id="accordion5">
                                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse5" aria-expanded="true" aria-controls="collapse5">
                                    How do I
                            follow up for my order/service?
                                </button>
                            </h2>
                            <div id="collapse5" class="accordion-collapse collapse" aria-labelledby="accordion5" data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    <p>Once your order/ service has been assigned to a Technician Rider, you may be able to see
                                        his/her contact details in the App. If no Technician Rider has been assigned yet, you
                                        may call our hotline at (+632) 8370-6686.</p>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-heading m-0" id="accordion6">
                                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse6" aria-expanded="true" aria-controls="collapse6">
                                    Will I be
                            provided with a Sales Invoice/Official Receipt?
                                </button>
                            </h2>
                            <div id="collapse6" class="accordion-collapse collapse" aria-labelledby="accordion6" data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    <p>Yes, our Technician will provide you with a Sales Invoice/Official Receipt.</p>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-heading m-0" id="accordion7">
                                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse7" aria-expanded="true" aria-controls="collapse7">
                                    Are there
                            any delivery fees for battery purchase?
                                </button>
                            </h2>
                            <div id="collapse7" class="accordion-collapse collapse" aria-labelledby="accordion7" data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    <p>Delivery for Motolite battery purchase is free of charge.</p>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-heading m-0" id="accordion8">
                                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse8" aria-expanded="true" aria-controls="collapse8">
                                    Can you
                            deliver anywhere in the Philippines?
                                </button>
                            </h2>
                            <div id="collapse8" class="accordion-collapse collapse" aria-labelledby="accordion8" data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    <p>Not at this point. Our Res-Q Services are currently available in the following areas: 1.
                                        Metro Manila; 2. Carino, Baguio City; 3. Binan, Laguna; 4. San Pablo, Laguna; 5. Sta.
                                        Cruz, Laguna; 6. San Fernando, Pampanga; 7. Calicanto, Batangas; 8. Sto. Tomas,
                                        Batangas; 9. Dasmarinas, Cavite</p>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-heading m-0" id="accordion9">
                                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse9" aria-expanded="true" aria-controls="collapse9">
                                    My battery
                            was pulled out and is being recharged in an outlet. How do I check on the status and
                            when I would get my battery back?
                                </button>
                            </h2>
                            <div id="collapse9" class="accordion-collapse collapse" aria-labelledby="accordion9" data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    <p>Please call our hotline at (+632) 8370-6686 to check on the status of the battery
                                        recharging. You may also call our Mobile Numbers: Globe - 09178916686 / Smart -
                                        09188436686. Battery recharging normally takes up to 5 calendar days to complete. We
                                        will also get in touch with you when your battery is ready to be returned.</p>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-heading m-0" id="accordion10">
                                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse10" aria-expanded="true" aria-controls="collapse10">
                                    How do I
                            contact you for questions or feedback?
                                </button>
                            </h2>
                            <div id="collapse10" class="accordion-collapse collapse" aria-labelledby="accordion10" data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    <p>You may call our Customer Support Hotline: (+632) 8370-6686. You may also call our Mobile
                                        Numbers: Globe - 09178916686 / Smart - 09188436686 or email us at online@motolite.com.
                                        You may also reach out to us through our Official Facebook Page (Motolite Express
                                        Hatid).</p>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-heading m-0" id="accordion11">
                                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse11" aria-expanded="true" aria-controls="collapse11">
                                    In case of
                            overheating, will RES-Q services include replacement of hoses, or quick repairs on water
                            pump and/or radiator?
                                </button>
                            </h2>
                            <div id="collapse11" class="accordion-collapse collapse" aria-labelledby="accordion11" data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    <p>No, RES-Q roadside assistance for overheating only includes the addition of coolant/water
                                        to your radiator, to get you back on the road and to a nearest car service center.</p>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-heading m-0" id="accordion12">
                                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse12" aria-expanded="true" aria-controls="collapse12">
                                    In case of a
                            flat tire, will RES-Q services include vulcanizing?
                                </button>
                            </h2>
                            <div id="collapse12" class="accordion-collapse collapse" aria-labelledby="accordion12" data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    <p>RES-Q tire assistance only includes help in replacing a flat tire using your functional
                                        spare tire.</p>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-heading m-0" id="accordion13">
                                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse13" aria-expanded="true" aria-controls="collapse13">
                                    How long
                            will it take to fix a flat tire?
                                </button>
                            </h2>
                            <div id="collapse13" class="accordion-collapse collapse" aria-labelledby="accordion13" data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    <p>Replacing a tire properly will take about 30 minutes. This is due to having to take the
                                        tire off the car to inspect it properly.</p>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-heading m-0" id="accordion14">
                                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse14" aria-expanded="true" aria-controls="collapse14">
                                    What causes
                            car to overheat while driving?
                                </button>
                            </h2>
                            <div id="collapse14" class="accordion-collapse collapse" aria-labelledby="accordion14" data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    <ol>
                                        <li>Low coolant</li>
                                        <li>Faulty water-pump</li>
                                        <li>Faulty thermostat</li>
                                        <li>locked radiator</li>
                                        <li>Blocked coolant hose(s)</li>
                                        <li>Slipping fan-belt</li>
                                        <li>Head gasket failure</li>
                                    </ol>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-heading m-0" id="accordion15">
                                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse15" aria-expanded="true" aria-controls="collapse15">
                                    What is the
                            minimum fuel delivery?
                                </button>
                            </h2>
                            <div id="collapse15" class="accordion-collapse collapse" aria-labelledby="accordion15" data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    <p>Minimum fuel delivery is 4 liters.</p>
                                </div>
                            </div>
                        </div>
                            <!-- End of accordion item duplication loop -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% section 'footer' %}
<script>
$(document).ready(function() {
  $('.accordion-button').click(function() {
    $(this).toggleClass('collapsed');
  });
});
</script>