{% section 'winners-navigation' %}
{{ 'raffle-winners.css' | asset_url | stylesheet_tag }}
</STYLE>
<div class="container">
  <img src="https://cdn.shopify.com/s/files/1/0615/7982/1304/files/8.png?v=1706234731" class="img-fluid">
  <center>

<!-- SAMSUNG A34-->
  <img src="https://cdn.shopify.com/s/files/1/0615/7982/1304/files/A34.png?v=1706783947" class="img-fluid">
</center>

<table width="100%" style="border: 1px solid white; box-shadow: none;text-align: center;color:#000;">
<tbody>
  
  <tr>
  <td style="font-family: Raleway;font-size: 2rem;font-weight: 700;">Arly Benitez</td>
  <td style="font-family: Raleway;font-size: 2rem;font-weight: 700">Ramon S. Palomo</td>
  </tr>
  </table>
  <table width="100%" style="border: 1px solid white; box-shadow: none;text-align: center;color:#000;">
    <tr>
  <td style="font-family: Raleway;font-size: 2rem;font-weight: 700">Jess Baloloy </td>
  </tr>
  </table>
  
  <!-- 600 KFC GC-->
  
  <table width="100%" style="border: 1px solid white; box-shadow: none;text-align: center;color:#000;">
   <img src="https://cdn.shopify.com/s/files/1/0615/7982/1304/files/prize-BANNER3--1200X400.jpg?v=1681403020" class="img-fluid">
  <tr>
  <td class="giftcard_500">Grace Ang</td>
  <td class="giftcard_500">Felimon Abrencillo</td>
  </tr>
    <tr>
  <td class="giftcard_500">Shanaka Dalpathado</td>
  <td class="giftcard_500">Telma Marie Inton</td>
  </tr>
    <tr>
  <td class="giftcard_500">Anton Jose</td>
  <td class="giftcard_500">Charles Rivera</td>
  </tr>
    <tr>
  <td class="giftcard_500">William Romanilos</td>
  <td class="giftcard_500">Marlen Brigola</td>
  </tr>
    <tr>
  <td class="giftcard_500">Adonis Gildore</td>
  <td class="giftcard_500">Vanesa D. Virar</td>
  </tr>
    <tr>
  <td class="giftcard_500">Karyle Moncada</td>
   <td class="giftcard_500">Jerry Navarro</td>
  </tr>
    <tr>
  <td class="giftcard_500">Kim Dayandayan </td>
   <td class="giftcard_500">Joshua Paul Angustia</td>
  </tr>
    <tr>
 <td class="giftcard_500">Manuel Hectro Silog</td>
  <td class="giftcard_500">Jose Advincula</td>
  </tr>
    <tr>
   <td class="giftcard_500">Nena Divino</td>
   <td class="giftcard_500">Marcial Pimentel</td>
  </tr>
    <td class="giftcard_500">Cesar Legazpi</td>
  <td class="giftcard_500">Willie De Vera</td>
  </tr>
    <tr>
  <td class="giftcard_500">Martin Del Prado</td>
  <td class="giftcard_500">Albert Concepcion</td>
  </tr>
    <tr>
  <td class="giftcard_500">Romeo Antolin</td>
  <td class="giftcard_500">Danny Esguerra</td>
  </tr>
  <tr>
  
  </table>
  <table width="100%" style="border: 1px solid white; box-shadow: none;text-align: center;color:#000;">
  <tr>
  <td class="giftcard_500">Jeron Diaz</td>
  </tr>
  </table>

   <!-- 100 KFC GC-->
  
  <table width="100%" style="border: 1px solid white; box-shadow: none;text-align: center;color:#000;">
  <img src="https://cdn.shopify.com/s/files/1/0615/7982/1304/files/prize-BANNER4--1200X400.jpg?v=1681403019" class="img-fluid">
  <tr>
  <td class="giftcard_100">Daniel Carlos</td>
  <td class="giftcard_100">Mervin Lota</td>
  </tr>
  <tr>
  <td class="giftcard_100">Mark Marcial</td>
  <td class="giftcard_100">Niccolo Nesecito</td>
  </tr>
  <tr>
  <td class="giftcard_100">George Patagnan</td>
  <td class="giftcard_100">Clyde Santos</td>
  </tr>
  
  <tr>
  <td class="giftcard_100">Glen Sarreal</td>
   <td class="giftcard_100">Al Vinalon</td>
  </tr>
  <tr>
 <td class="giftcard_100">Katrina Pascual</td>
 <td class="giftcard_100">Raul Momol</td>
  </tr>
  <tr>
  <td class="giftcard_100">Mike Landicho</td>
  <td class="giftcard_100">Susan Sibugan</td>
  </tr>
  <tr>
  <td class="giftcard_100">Leonardo Consunai</td>
  <td class="giftcard_100">Jerald Cavan</td>
  </tr>
 
  <tr>
  <td class="giftcard_100">Patrick De Joya</td>
  <td class="giftcard_100">Jerwin Reyes</td>
  </tr>
  <tr>
  <td class="giftcard_100">Jomar Beeja</td>
  <td class="giftcard_100">Angeles Alvarez Jr.</td>
  </tr>
  <tr>
  <td class="giftcard_100">Joel Santillan</td>
  <td class="giftcard_100">Marlon Roque</td>
  </tr>
  <tr>
  <td class="giftcard_100">John Subel</td>
  <td class="giftcard_100">Rodel Gonzales</td>
  </tr>
  
  <tr>
  <td class="giftcard_100">Antonio Lopez</td>
  <td class="giftcard_100">Samuel Nuevo</td>
  </tr>
  <tr>
  <td class="giftcard_100">Slim Amaguin</td>
  <td class="giftcard_100">Antonio Casiro</td>
  </tr>
  <tr>
  <td class="giftcard_100">Joshua Collantes</td>
  <td class="giftcard_100">Ronaldo Martin</td>
  </tr>
  <tr>
  <td class="giftcard_100">Jenny Rose Lazaro</td>
  <td class="giftcard_100">Resty Santos</td>
  </tr>
  <tr>
  <td class="giftcard_100">Jack Fian</td>
   <td class="giftcard_100">Gloria Ong</td>
  </tr>
  <tr>
 <td class="giftcard_100">Mike Gorres</td>
 <td class="giftcard_100">Ralph Umali</td>
  </tr>
  <tr>
  <td class="giftcard_100">Mark Lim</td>
  <td class="giftcard_100">Dolores Almeria</td>
  </tr>
  <tr>
  <td class="giftcard_100">Martin Ian Mariano</td>
   <td class="giftcard_100">Carl Lester Justo</td>
  </tr>
  <tr>
  <td class="giftcard_100">Joen Castillo</td>
  <td class="giftcard_100">Lorie Domingo</td>
  </tr>
  <tr>
  <td class="giftcard_100">Conchita Lu</td>
   <td class="giftcard_100">Jessie Sanchez</td>
  </tr>
  <tr>
 <td class="giftcard_100">Dianne Hazel Do</td>
  <td class="giftcard_100">Von Ryan Masangkay</td>
  </tr>
  <tr>
  <td class="giftcard_100">Stephanie Go</td>
  <td class="giftcard_100">Glenn Dioneda</td>
  </tr>
  <tr>
  <td class="giftcard_100">Emy Sy</td>
  <td class="giftcard_100">Edward Co</td>
  </tr>
  <tr>
 <td class="giftcard_100">Reynaldo Autecio</td>
 <td class="giftcard_100">Ron Camara</td>
  </tr>
  </tbody>
 </table>

  <h2 class="promo_mechanics">ANNOUNCEMENT OF WINNERS AND CLAIMING OF PRIZES</h2> 
  <ol>
  <li>Winners will be notified via registered mail, email, and SMS message based on their raffle entry information. Their names will also be posted on our <a href="https://www.facebook.com/motoliteexpresshatid"> Facebook Page</a>.</li>
<li>Winners must present all of the following upon claiming the prize at the Motolite Philippines head office located at Ramcar Center 80-82 Roces Ave. Diliman, Q.C. from 10AM to 5PM, Mondays thru Fridays – Except on Holidays. Prizes may also be claimed at Motolite Outlets based on mutual agreement between Oriental & Motolite Marketing Corporation (OMMC) & the prize winner.</li>
  </ol>
  <ol type="A" style="margin-left: 20px;">
    <li>Valid ID (i.e. Driver’s license, Passport, SSS ID, TIN ID, Company or School ID). The name on the Valid ID must correspond to the registered name in the promo. Valid Motolite RES-Q app installed on their smartphone (with the registered mobile number), with the correct plate number and battery serial number details in the RES-Q app.</li>
<li>Official notification text sent to the registered mobile number. Support notification also sent to registered e-mail address (if provided).</li>
<li>Authorized representatives shall be allowed to claim in behalf of the winning subscriber provided that he/ she is able to present the following:</li>
  </ol>
<ul style="margin-left: 35px;">
  <li>Copy of the registered subscriber’s valid ID (original and photocopy)</li>
<li>Authorized representative’s valid ID (original and photocopy)</li>
<li>Authorization letter (signature should match with the signature in the valid ID)</li>
<li>Official notification sent via email or text message from Motolite Philippines</li>
</ul>
  