{% section 'winners-navigation' %}
{{ 'raffle-winners.css' | asset_url | stylesheet_tag }}

 <!-- BANNER-->
<div class="container">
  <img src="https://cdn.shopify.com/s/files/1/0615/7982/1304/files/16.png?v=1712827254" class="img-fluid">
  <center>


<!-- Toyota Fortuner-->
  <center>
  <img src="https://cdn.shopify.com/s/files/1/0615/7982/1304/files/FORTUNER.png?v=1712827211" class="img-fluid">
</center>

  <table width="100%" style="border: 1px solid white; box-shadow: none;text-align: center;color:#000;">
    <tr>
  <td style="font-family: Raleway;font-size: 2rem;font-weight: 700">JOHN DELA CRUZ</td>
  </tr>
  </table>

 <!-- SAMSUNG A34-->
  <img src="https://cdn.shopify.com/s/files/1/0615/7982/1304/files/A34.png?v=1706783947" class="img-fluid">
</center>

<table width="100%" style="border: 1px solid white; box-shadow: none;text-align: center;color:#000;">
<tbody>
  <tr>
  <td style="font-family: Raleway;font-size: 2rem;font-weight: 700;">Jun Justiniani</td>
  <td style="font-family: Raleway;font-size: 2rem;font-weight: 700">Zeny Punongbayan</td>
  </tr>
  </table>
  <table width="100%" style="border: 1px solid white; box-shadow: none;text-align: center;color:#000;">
    <tr>
  <td style="font-family: Raleway;font-size: 2rem;font-weight: 700">Hershey Baluyot</td>
  </tr>
  </table>
  
  <!-- 600 KFC GC-->
  
  <table width="100%" style="border: 1px solid white; box-shadow: none;text-align: center;color:#000;">
   <img src="https://cdn.shopify.com/s/files/1/0615/7982/1304/files/prize-BANNER3--1200X400.jpg?v=1681403020" class="img-fluid">
  <tr>
  <td class="giftcard_500">Quitin Santiago</td>
  <td class="giftcard_500">Yvonne Marie Mañego</td>
  </tr>
    <tr>
  <td class="giftcard_500">Alyssa Aguas</td>
  <td class="giftcard_500">Rolan  Barbero </td>
  </tr>
    <tr>
  <td class="giftcard_500">Shyra Bornilla</td>
  <td class="giftcard_500">Alvin Suñiga</td>
  </tr>
    <tr>
  <td class="giftcard_500">Romualdo Chan</td>
  <td class="giftcard_500">Jun Sanchez</td>
  </tr>
    <tr>
  <td class="giftcard_500">Christoper  Cutangco</td>
  <td class="giftcard_500">Glenda Lumanlan</td>
  </tr>
    <tr>
  <td class="giftcard_500">Edmon  M Calma</td>
   <td class="giftcard_500">Rodrigo Bondok</td>
  </tr>
    <tr>
  <td class="giftcard_500">Bong Marasigan</td>
   <td class="giftcard_500">Cristopher Del Mundo</td>
  </tr>
    <tr>
 <td class="giftcard_500">Marcelino llanenas jr</td>
  <td class="giftcard_500">Milagros Maregmen</td>
  </tr>
    <tr>
   <td class="giftcard_500">Jose Maria Santos</td>
   <td class="giftcard_500">Gelacio Rivera</td>
  </tr>
    <td class="giftcard_500">Vina Lita</td>
  <td class="giftcard_500">Honorato Dimaquibo</td>
  </tr>
    <tr>
  <td class="giftcard_500">Marie Delapaz</td>
  <td class="giftcard_500">Florence  Mondala </td>
  </tr>
    <tr>
  <td class="giftcard_500">Philip Añonuevo</td>
  <td class="giftcard_500">Abpullah Linog</td>
  </tr>
  <tr>
    
  </table>
  <table width="100%" style="border: 1px solid white; box-shadow: none;text-align: center;color:#000;">
  <tr>
  <td class="giftcard_500">Jocelyn Holasca</td>
  </tr>
  </table>

   <!-- 100 KFC GC-->
  
  <table width="100%" style="border: 1px solid white; box-shadow: none;text-align: center;color:#000;">
  <img src="https://cdn.shopify.com/s/files/1/0615/7982/1304/files/prize-BANNER4--1200X400.jpg?v=1681403019" class="img-fluid">
  <tr>
  <td class="giftcard_100">Maureen  Masana</td>
  <td class="giftcard_100">May Talaga</td>
  </tr>
  <tr>
  <td class="giftcard_100">Carlo Gonzaga</td>
  <td class="giftcard_100">Dennis Niño</td>
  </tr>
  <tr>
  <td class="giftcard_100">Edward De Leon</td>
  <td class="giftcard_100">Eric  Carlos</td>
  </tr>
  
  <tr>
  <td class="giftcard_100">Joey Mina</td>
   <td class="giftcard_100">Guianne Guballa</td>
  </tr>
  <tr>
 <td class="giftcard_100">Harry Celeridad</td>
 <td class="giftcard_100">Gilbert Salvador</td>
  </tr>
  <tr>
  <td class="giftcard_100">Keith Ian Quijalvo</td>
  <td class="giftcard_100">Naggie Maglasang</td>
  </tr>
  <tr>
  <td class="giftcard_100">Roberto Ortega</td>
  <td class="giftcard_100">Joms Francis</td>
  </tr>
 
  <tr>
  <td class="giftcard_100">Martin Sibal</td>
  <td class="giftcard_100">Greg  aguijon</td>
  </tr>
  <tr>
  <td class="giftcard_100">Mary Angelic  Celiz</td>
  <td class="giftcard_100">Deanmart Tabingo</td>
  </tr>
  <tr>
  <td class="giftcard_100">Roland Nabong</td>
  <td class="giftcard_100">Gabriel  Ozaita</td>
  </tr>
  <tr>
  <td class="giftcard_100">Lester Nicasio</td>
  <td class="giftcard_100">Ed Santos</td>
  </tr>
  
  <tr>
  <td class="giftcard_100">Ian Torres</td>
  <td class="giftcard_100">Karen Magabo</td>
  </tr>
  <tr>
  <td class="giftcard_100">Erwin Desembrana</td>
  <td class="giftcard_100">Kevin John  Dela Torre</td>
  </tr>
  <tr>
  <td class="giftcard_100">Manuelito Misa</td>
  <td class="giftcard_100">Henry Anima II</td>
  </tr>
  <tr>
  <td class="giftcard_100">Ivy Valera</td>
  <td class="giftcard_100">Henry Vinas</td>
  </tr>
  <tr>
  <td class="giftcard_100">Olimpio Loyola jr</td>
   <td class="giftcard_100">Jerold Reyes</td>
  </tr>
  <tr>
 <td class="giftcard_100">Diana Mariano</td>
 <td class="giftcard_100">Bryan De Castro</td>
  </tr>
  <tr>
  <td class="giftcard_100">Bernardo Zapanta</td>
  <td class="giftcard_100">Joel Dela Cruz</td>
  </tr>
  <tr>
  <td class="giftcard_100">Roderick Closa</td>
   <td class="giftcard_100">Alex Flores</td>
  </tr>
  <tr>
  <td class="giftcard_100">Allan  noble</td>
  <td class="giftcard_100">Anelia Navarro</td>
  </tr>
  <tr>
  <td class="giftcard_100">Antonio Mercado</td>
   <td class="giftcard_100">Bryan Lim</td>
  </tr>
  <tr>
 <td class="giftcard_100">Butchik evangelista</td>
  <td class="giftcard_100">Christopher Tamayo</td>
  </tr>
  <tr>
  <td class="giftcard_100">Cynthia Villarroya</td>
  <td class="giftcard_100">Doris  Tan</td>
  </tr>
  <tr>
  <td class="giftcard_100">Emmanuel Bondoc</td>
  <td class="giftcard_100">Karina Angela Bautista</td>
  </tr>
  <tr>
 <td class="giftcard_100">Miguel Angelo Garcia</td>
 <td class="giftcard_100">Gina Hapitan</td>
  </tr>
  </tbody>
 </table>

  <h2 class="promo_mechanics">ANNOUNCEMENT OF WINNERS AND CLAIMING OF PRIZES</h2> 
  <ol>
  <li>Winners will be notified via registered mail, email, and SMS message based on their raffle entry information. Their names will also be posted on our <a href="https://www.facebook.com/motoliteexpresshatid"> Facebook Page</a>.</li>
<li>Winners must present all of the following upon claiming the prize at the Motolite Philippines head office located at Ramcar Center 80-82 Roces Ave. Diliman, Q.C. from 10AM to 5PM, Mondays thru Fridays – Except on Holidays. Prizes may also be claimed at Motolite Outlets based on mutual agreement between Oriental & Motolite Marketing Corporation (OMMC) & the prize winner.</li>
  </ol>
  <ol type="A" style="margin-left: 20px;">
    <li>Valid ID (i.e. Driver’s license, Passport, SSS ID, TIN ID, Company or School ID). The name on the Valid ID must correspond to the registered name in the promo. Valid Motolite RES-Q app installed on their smartphone (with the registered mobile number), with the correct plate number and battery serial number details in the RES-Q app.</li>
<li>Official notification text sent to the registered mobile number. Support notification also sent to registered e-mail address (if provided).</li>
<li>Authorized representatives shall be allowed to claim in behalf of the winning subscriber provided that he/ she is able to present the following:</li>
  </ol>
<ul style="margin-left: 35px;">
  <li>Copy of the registered subscriber’s valid ID (original and photocopy)</li>
<li>Authorized representative’s valid ID (original and photocopy)</li>
<li>Authorization letter (signature should match with the signature in the valid ID)</li>
<li>Official notification sent via email or text message from Motolite Philippines</li>
</ul>
  