<style>
  .text-policy {
    color: #d5232b;
    font-size:5rem;
    font-weight: 700;
  }
  .text-privacy {
    font-size:5rem;
    text-align: center;
    margin-top: 1.5rem !important;
    font-weight: 700;
  }
  p
  {
    font-family: sans-serif;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    font-size: 1.5rem;
  }
  .mt-5 {
  margin-top: 4rem !important;
  font-weight: 700;
  font-size: 2rem;
  }
  .mb-2 {
   font-family: sans-serif;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    font-size: 1.5rem;
  
  }
</style>


<section class="section pt-4 pb-5 pb-lg-6">
		<div class="container">
<h1 class="text-uppercase mb-5 text-privacy">Privacy <span class="text-policy">Policy</span></h1>
<p>
Oriental and Motolite Marketing Corporation ("OMMC"), is committed to protecting the privacy and security of all personal and/or sensitive information ("Personal Data") related to its employees, customers, business partners, suppliers, contractors, and other parties with whom OMMC will and is engaged. For this reason, uniform practices and procedures for collecting, processing, retaining, and disposing of Personal Data by OMMC are hereby adopted in order to process Personal Data fairly, appropriately, and lawfully.
</p>
<p>
This Privacy Policy sets out how the Company uses, protects and controls any Personal Data that you will provide in our mobile application and other related solutions. OMMC may change this policy from time to time by updating it in accordance with subsequent Laws and Implementing Rules and Regulations. The terms of this Privacy Policy apply to all employees, customers, business partners, suppliers, contractors, and other parties who agree to the stated conditions of this policy.
</p>

<h4 class="mt-5">DATA COLLECTION AND INTENDED USE</h4>
<p>
The Company uses the Internet to collect and process your personal information. This involves the processing and transmission of your personal information nationwide.
</p>
<p>
In our platforms, we collect data on our customers for service purposes:
</p>
<ul>
    <li class="mb-2">Active data (such as name, e-mail address, vehicle information, etc.) when voluntarily submitted by application visitors for registration, contests, etc.;</li>
</ul>
<p>
The personal information we collect includes the following:
</p>
<ul>
    <li class="mb-2">Full Name</li>
    <li class="mb-2">Address Type (Home/Work/Other Address)</li>
    <li class="mb-2">Delivery Address</li>
    <li class="mb-2">E-mail</li>
    <li class="mb-2">Contact Number</li>
    <li class="mb-2">Vehicle Information</li>
    <li class="mb-2">Marketing Communication Subscription Status (Opted in for Email, SMS, Social Media or all)</li>
</ul>
<p>
The data you share will be used for the following:
</p>
<ul>
    <li class="mb-2">Create your online ID for the OMMC customer database</li>
    <li class="mb-2">Process your orders</li>
    <li class="mb-2">Personalized marketing communication content and offers delivered to you</li>
    <li class="mb-2">Process your warranty claims</li>
</ul>

<p>
The personal data you have submitted are used only for business purposes within the Company, which may include its communication to our affiliates and subsidiaries.
</p>
<p>
We do not share data collected from the systems with third parties, except for the limited instances set out below:
</p>
<ul>
    <li class="mb-2">For purposes of maintaining this site, our app, and systems.</li>
<li class="mb-2">In order to enable us to update you on our special offers and to customize content for you for a better customer experience. For purposes of identifying the battery dealer outlet who will prepare and deliver your   order.</li>
    <li class="mb-2">For purposes of providing the assigned dealer rider with the information necessary to deliver your order to you.</li>
    <li class="mb-2">For purposes of improving our product and services.</li>
</ul>

<p>
    All these third parties are contractually bound to keep your data private and secure.
</p>

<p>
    We may also disclose personal data in the following instances:
</p>
<ul>
    <li class="mb-2">Whenever required by law or lawful order of a court or if in our good faith judgment, such action is reasonably necessary to comply with legal processes, to respond to any claims, or to protect the rights of    Oriental and Motolite Marketing Corporation, its customers and the public; or</li>
    <li class="mb-2">In the event of an acquisition of all or part of Oriental and Motolite Marketing Corp. or its business, such that the acquirer may have access to the data maintained by that Oriental and Motolite Marketing Corp business, which could include personal data, subject to applicable law. Similarly, data may be transferred as part of reorganization (business merging) or insolvency proceedings.</li>
</ul>

<h4 class="mt-5">COOKIES</h4>
<p>
We make use of tracking technology (‘Cookies’) to gather data for analysis to understand and improve how users use this application and to remarket to visitors of www.motolite.com through sending customized communications to users via Motolite ads shown across the internet.
</p>
<p>
If you prefer not to receive cookies while browsing our application, you can set your browser to warn you before accepting cookies and refuse the cookie when your browser alerts you to its presence. You can also refuse all cookies by turning them off in your browser, although you may not be able to take full advantage of some application features if you do so. You do not need to have cookies turned on, however, to use or navigate through many parts of our application.
</p>

<h4 class="mt-5">SERVER</h4>
<p>
The server that makes this application available may be located outside the country from which you accessed this application. We will collect, process and use personal data only in accordance with this Privacy Policy.
</p>

<h4 class="mt-5">RESTRICTED ACCESS</h4>
<p>
Processing of personal data (such as vehicle information, mobile number, etc.) may be mandatory for the purposes of consultation, modification or deletion of your personal data and/or of the online services offered by OMMC.
</p>

<h4 class="mt-5">CONTROL OF YOUR PERSONAL INFORMATION</h4>
<p>
When you give us your personal information, we will not share that information to third parties without your consent, apart from the limited exceptions listed above. Registering also allows you to tell us how or whether you want the Company to communicate with you.
</p>

<h4 class="mt-5">ACCESS TO YOUR PERSONAL INFORMATION</h4>
<p>
Registered users of Motolite RES-Q app and Motolite batteries, may edit and delete personal data by contacting our Motolite Express Hatid Hotline, +63(2) 8370-6686.
</p>

<h4 class="mt-5">SECURITY PERSONAL INFORMATION</h4>
<p>
The Company employs adequate organizational, physical and technical security measures such as password protection, encryption, firewalls and other controls, to ensure and preserve the confidentiality, integrity and availability of your Personal Data. We work to protect the security of your information during transmission by using Secure Sockets Layer (SSL) software, which encrypts information you input online. Only authorized persons from the Company will have access to your Personal Data. Employees who misuse any information are subject to disciplinary action, including termination.
</p>
<p>
Oriental and Motolite Marketing Corp. is committed to protecting and safeguarding the privacy of users of our website, mobile application and hotline callers.
</p>

<h4 class="mt-5">MARKETING COMMUNICATIONS</h4>
<p>
Oriental and Motolite Marketing Corp. will reach out to customers to send announcements and marketing communications via email, app notification and SMS from time to time. Only customers who have opted in to this service will receive such notification. Customers are also given the option to opt out of the mailing list by calling the Motolite Express Hatid Hotline and SMS sent by Motolite.
</p>
<p>
We do not practice 'spamming'. Spamming is where unsolicited emails are sent to recipients containing advertisement or marketing related materials without the prior consent of the recipient. If for some reason you believe you have received SPAM email or SMS, you may unsubscribe through calling our Motolite Express Hatid Hotline, +63(2) 8370-6686.
</p>
<p>
The data collected from registered users through our mobile application, hotline, e-mail or mobile SMS are kept secure for a period of five (5) years, after which the data will be deleted. Customers will be notified at least 1 month before their account expires to request consent to retain their information for another 5 years. Customer data will be deleted unless consent is provided by the customer.
</p>

<h4 class="mt-5">SPECIAL NOTE TO CHILDREN UNDER THE AGE OF 18</h4>
<p>
If you are under the age of 18, you should consult your parent or guardian BEFORE giving out your personal data. If you are uncertain about anything written in this section, you should consult your parent or guardian for help.
</p>

<h4 class="mt-5">SPECIAL NOTE TO PARENTS OF CHILDREN UNDER THE AGE OF 18</h4>
<p>
We recommend that parents/guardians regularly check and monitor your children's use of email and other online activities. Please be sure to inform your child not to provide personally identifiable data online, prior to obtaining your consent.
</p>

<h4 class="mt-5">PRIVACY NOTICE UPDATES</h4>
<p>
We reserve the right to make any changes and corrections to this Privacy Notice. It is the responsibility of visitors to this application to refer to this page from time to time to review any subsequent amendments.
</p>

<h4 class="mt-5">GOVERNING LAW</h4>
<p>
The Company upholds compliance with Republic Act No. 10173 or the Data Privacy Act of 2012 (DPA), its Implementing Rules and Regulations, and other relevant policies, including issuances by the National Privacy Commission. The Company acknowledges your right to be informed, object processing, access and rectify, suspend or withdraw Personal Data, and be indemnified in case of damages pursuant to the provisions of DPA.
</p>
<h4 class="mt-5">HOW TO CONTACT US</h4>
<p>
We have designated a team to oversee all matters related to data privacy. If you have any questions, comments, or concerns about how we manage your personal information, please contact our Data Privacy Office at <a href="mailto:dpo@motolite.com">dpo@motolite.com</a>.</p>

        </div>
    </section>
{% section 'footer' %} 