{% section 'winners-navigation' %}
{{ 'raffle-winners.css' | asset_url | stylesheet_tag }}

 <!-- BANNER-->
<div class="container">
  <img src="https://cdn.shopify.com/s/files/1/0615/7982/1304/files/12.png?v=1706783947" class="img-fluid">
  <center>


<!-- Greenlight-->
  <center>
  <img src="https://cdn.shopify.com/s/files/1/0615/7982/1304/files/prize-BANNER1--1200X400.jpg?v=1681403019" class="img-fluid">
</center>

  <table width="100%" style="border: 1px solid white; box-shadow: none;text-align: center;color:#000;">
    <tr>
  <td style="font-family: Raleway;font-size: 2rem;font-weight: 700">Melissa Abarentos</td>
  </tr>
  </table>
    
 <!-- SAMSUNG A34-->
  <img src="https://cdn.shopify.com/s/files/1/0615/7982/1304/files/A34.png?v=1706783947" class="img-fluid">
</center>

<table width="100%" style="border: 1px solid white; box-shadow: none;text-align: center;color:#000;">
<tbody>
  <tr>
  <td style="font-family: Raleway;font-size: 2rem;font-weight: 700;">Tim Villasor</td>
  <td style="font-family: Raleway;font-size: 2rem;font-weight: 700">Eric Nicolas</td>
  </tr>
  </table>
  <table width="100%" style="border: 1px solid white; box-shadow: none;text-align: center;color:#000;">
    <tr>
  <td style="font-family: Raleway;font-size: 2rem;font-weight: 700">Richard Bautista</td>
  </tr>
  </table>
  
  <!-- 600 KFC GC-->
  
  <table width="100%" style="border: 1px solid white; box-shadow: none;text-align: center;color:#000;">
   <img src="https://cdn.shopify.com/s/files/1/0615/7982/1304/files/prize-BANNER3--1200X400.jpg?v=1681403020" class="img-fluid">
  <tr>
  <td class="giftcard_500">Ernesto Uy</td>
  <td class="giftcard_500">Hanz Arellano</td>
  </tr>
    <tr>
  <td class="giftcard_500">Mark- Arriol</td>
  <td class="giftcard_500">Mary Grace Co</td>
  </tr>
    <tr>
  <td class="giftcard_500">Aileen Conde</td>
  <td class="giftcard_500">Len Hernande</td>
  </tr>
    <tr>
  <td class="giftcard_500">Francis Mendoza</td>
  <td class="giftcard_500">Sherwin Sio</td>
  </tr>
    <tr>
  <td class="giftcard_500">Lawrence Castro</td>
  <td class="giftcard_500">Philip Santiago</td>
  </tr>
    <tr>
  <td class="giftcard_500">Shooters</td>
   <td class="giftcard_500">Joey Valles</td>
  </tr>
    <tr>
  <td class="giftcard_500">Victorino Sardia</td>
   <td class="giftcard_500">Rowena Valerio</td>
  </tr>
    <tr>
 <td class="giftcard_500">Homer Puzon</td>
  <td class="giftcard_500">Tonar Medina</td>
  </tr>
    <tr>
   <td class="giftcard_500">Julian Ganir</td>
   <td class="giftcard_500">Samuel Ramiscal</td>
  </tr>
    <td class="giftcard_500">Nicole Abesamis</td>
  <td class="giftcard_500">Ryan Tan</td>
  </tr>
    <tr>
  <td class="giftcard_500">Jefferson Valerio</td>
  <td class="giftcard_500">Joselito Obina</td>
  </tr>
    <tr>
  <td class="giftcard_500">Edwin Mendez</td>
  <td class="giftcard_500">Jojo Baterna</td>
  </tr>
  <tr>
  
  </table>
  <table width="100%" style="border: 1px solid white; box-shadow: none;text-align: center;color:#000;">
  <tr>
  <td class="giftcard_500">Violeta Ventulan</td>
  </tr>
  </table>

   <!-- 100 KFC GC-->
  
  <table width="100%" style="border: 1px solid white; box-shadow: none;text-align: center;color:#000;">
  <img src="https://cdn.shopify.com/s/files/1/0615/7982/1304/files/prize-BANNER4--1200X400.jpg?v=1681403019" class="img-fluid">
  <tr>
  <td class="giftcard_100">Karlos Macan</td>
  <td class="giftcard_100">Dwight Adrajado</td>
  </tr>
  <tr>
  <td class="giftcard_100">Jonuel Alejandrino</td>
  <td class="giftcard_100">Linda Cabral</td>
  </tr>
  <tr>
  <td class="giftcard_100">Mac Cordel</td>
  <td class="giftcard_100">Ian Core</td>
  </tr>
  
  <tr>
  <td class="giftcard_100">Joanne De Guzman</td>
   <td class="giftcard_100">Sean Lao</td>
  </tr>
  <tr>
 <td class="giftcard_100">Gino Macapagal</td>
 <td class="giftcard_100">Johnsent Morados</td>
  </tr>
  <tr>
  <td class="giftcard_100">Celine Lope</td>
  <td class="giftcard_100">Jay Pascual</td>
  </tr>
  <tr>
  <td class="giftcard_100">Salvador Zamora</td>
  <td class="giftcard_100">Rodolfo Manoso</td>
  </tr>
 
  <tr>
  <td class="giftcard_100">Alvin Canlas</td>
  <td class="giftcard_100">Rafael Reprado</td>
  </tr>
  <tr>
  <td class="giftcard_100">Florante De Gracia</td>
  <td class="giftcard_100">Jonathan Castillo</td>
  </tr>
  <tr>
  <td class="giftcard_100">Benjamin Bautista</td>
  <td class="giftcard_100">Donald Lirio</td>
  </tr>
  <tr>
  <td class="giftcard_100">Gracie Rutao</td>
  <td class="giftcard_100">Maria Rowena Fresto</td>
  </tr>
  
  <tr>
  <td class="giftcard_100">Midel Mirasol</td>
  <td class="giftcard_100">Ortellio Torres Jr. </td>
  </tr>
  <tr>
  <td class="giftcard_100">Fidel Vicencio Jr.</td>
  <td class="giftcard_100">Antonio Gopez</td>
  </tr>
  <tr>
  <td class="giftcard_100">Julia Basangan</td>
  <td class="giftcard_100">Marites Frias</td>
  </tr>
  <tr>
  <td class="giftcard_100">Richard Salvatera</td>
  <td class="giftcard_100">Paul Fernandez</td>
  </tr>
  <tr>
  <td class="giftcard_100">FedilitoTombukan</td>
   <td class="giftcard_100">Melody Querrel</td>
  </tr>
  <tr>
 <td class="giftcard_100">Rolando Calazora</td>
 <td class="giftcard_100">JP Enriquez</td>
  </tr>
  <tr>
  <td class="giftcard_100">Albert Asuncion</td>
  <td class="giftcard_100">Regina Campo</td>
  </tr>
  <tr>
  <td class="giftcard_100">Gil Villaflor</td>
   <td class="giftcard_100">Vicente Bonito Jr.</td>
  </tr>
  <tr>
  <td class="giftcard_100">Richard Khan</td>
  <td class="giftcard_100">Joey Mendez</td>
  </tr>
  <tr>
  <td class="giftcard_100">Malou Lominoque</td>
   <td class="giftcard_100">Dennis Inneg</td>
  </tr>
  <tr>
 <td class="giftcard_100">Karl Ferref</td>
  <td class="giftcard_100">Joffrey Bacudio</td>
  </tr>
  <tr>
  <td class="giftcard_100">Ricardo Sanchez</td>
  <td class="giftcard_100">Roderick Recomono</td>
  </tr>
  <tr>
  <td class="giftcard_100">Ryan De Guzman</td>
  <td class="giftcard_100">Cowillington Eslao Chua</td>
  </tr>
  <tr>
 <td class="giftcard_100">Rosanne Posugac</td>
 <td class="giftcard_100">Marie Gonzales</td>
  </tr>
  </tbody>
 </table>

  <h2 class="promo_mechanics">ANNOUNCEMENT OF WINNERS AND CLAIMING OF PRIZES</h2> 
  <ol>
  <li>Winners will be notified via registered mail, email, and SMS message based on their raffle entry information. Their names will also be posted on our <a href="https://www.facebook.com/motoliteexpresshatid"> Facebook Page</a>.</li>
<li>Winners must present all of the following upon claiming the prize at the Motolite Philippines head office located at Ramcar Center 80-82 Roces Ave. Diliman, Q.C. from 10AM to 5PM, Mondays thru Fridays – Except on Holidays. Prizes may also be claimed at Motolite Outlets based on mutual agreement between Oriental & Motolite Marketing Corporation (OMMC) & the prize winner.</li>
  </ol>
  <ol type="A" style="margin-left: 20px;">
    <li>Valid ID (i.e. Driver’s license, Passport, SSS ID, TIN ID, Company or School ID). The name on the Valid ID must correspond to the registered name in the promo. Valid Motolite RES-Q app installed on their smartphone (with the registered mobile number), with the correct plate number and battery serial number details in the RES-Q app.</li>
<li>Official notification text sent to the registered mobile number. Support notification also sent to registered e-mail address (if provided).</li>
<li>Authorized representatives shall be allowed to claim in behalf of the winning subscriber provided that he/ she is able to present the following:</li>
  </ol>
<ul style="margin-left: 35px;">
  <li>Copy of the registered subscriber’s valid ID (original and photocopy)</li>
<li>Authorized representative’s valid ID (original and photocopy)</li>
<li>Authorization letter (signature should match with the signature in the valid ID)</li>
<li>Official notification sent via email or text message from Motolite Philippines</li>
</ul>
  