{% section 'company-navigation' %}
<style>
td.country__list {
  text-align:center;
}
  .export__list {
    text-align: center;
    margin-top: 10px;
    margin-bottom:20px;
    color: #000;
    font-size: 18px;
  }
</style>


<script type="text/javascript">

      window.ymConfig = {"bot":"x1722944534597","host":"https://r3.cloud.yellow.ai"};

    (function() {

        var w = window,

            ic = w.YellowMessenger;

        if ("function" === typeof ic) ic("reattach_activator"), ic("update", ymConfig);

        else {

            var d = document,

                i = function() {

                    i.c(arguments)

                };

            function l() {

                var e = d.createElement("script");

                e.type = "text/javascript", e.async = !0, e.src = "https://cdn.yellowmessenger.com/plugin/widget-v2/latest/dist/main.min.js";

                var t = d.getElementsByTagName("script")[0];

                t.parentNode.insertBefore(e, t)

            }

            i.q = [], i.c = function(e) {

                i.q.push(e)

            }, w.YellowMessenger = i, w.attachEvent ? w.attachEvent("onload", l) : w.addEventListener("load", l, !1)}

    })();

    </script>
<h1 style="text-align: center;margin-top:60px;"><strong><span style="color: #f21818;">COUNTRY</span> LIST</strong></h1>
<div class="export__list">Motolite's international caliber batteries are distributed around the world to the following countries.</div>
<div class="table-responsive" style="border-top:1px solid #b3b3b3;padding-top:10px;"></div>
<table width="100%" style="border: 1px solid white; box-shadow: none;">
<tbody style="border: none;">
<tr style="height: 17.6786px; border: none;">
<td class="country__list" style="height: 17.6786px; width: 60%; border: none; color: #000; fon-size: 18px;">Australia</td>
<td class="country__list" style="height: 17.6786px; width: 60%; border: none; color: #000; fon-size: 18px;">Hong Kong</td>
<td class="country__list" style="height: 17.6786px; width: 60%; border: none; color: #000; fon-size: 18px;">Malaysia</td>
<td class="country__list" style="height: 17.6786px; width: 60%; border: none; color: #000; fon-size: 18px;">Singapore</td>
</tr>
<tr class="country__list" style="height: 17.6786px;">
<td class="country__list" style="height: 17.6786px; width: 60%; border: none; color: #000; fon-size: 18px;">Brunei</td>
<td class="country__list" style="height: 17.6786px; width: 60%; border: none; color: #000; fon-size: 18px;">Indonesia</td>
<td class="country__list" style="height: 17.6786px; width: 60%; border: none; color: #000; fon-size: 18px;">New Zealand</td>
<td class="country__list" style="height: 17.6786px; width: 60%; border: none; color: #000; fon-size: 18px;">United States</td>
</tr>
<tr style="height: 17.6786px;">
<td class="country__list" style="height: 17.6786px; width: 60%; border: none; color: #000; fon-size: 18px;">Bolivia</td>
<td class="country__list" style="height: 17.6786px; width: 60%; border: none; color: #000; fon-size: 18px;">Myanmar</td>
<td class="country__list" style="height: 17.6786px; width: 60%; border: none; color: #000; fon-size: 18px;">Philippines</td>
<td class="country__list" style="height: 17.6786px; width: 60%; border: none; color: #000; fon-size: 18px;">Vietnam</td>
</tr>
<tr style="height: 17.6786px;">
<td class="country__list" style="height: 17.6786px; width: 60%; border: none; color: #000; fon-size: 18px;">Cambodia</td>
<td class="country__list" style="height: 17.6786px; width: 60%; border: none; color: #000; fon-size: 18px;">Mauritius</td>
<td class="country__list" style="height: 17.6786px; width: 60%; border: none; color: #000; fon-size: 18px;">Papua New Guinea</td>

</tr>
<tr class="country__list" style="height: 17.6786px;">
<td class="country__list" style="height: 17.6786px; width: 60%; border: none; color: #000; fon-size: 18px;">Canada</td>
<td class="country__list" style="height: 17.6786px; width: 60%; border: none; color: #000; fon-size: 18px;">Maldives</td>
<td class="country__list" style="height: 17.6786px; width: 60%; border: none; color: #000; fon-size: 18px;">Russia</td>
</tr>
</tbody>
</table>
{% section 'footer' %}