{% section 'winners-navigation' %}
<STYLE>
  h2.outlets_title {
  font-weight: 600;
  font-family: sans-serif;
  margin-top: 70px;
  margin-bottom: 30px;
  color:red;
}
  .giftcard_500 {
   font-family: raleway;
  font-size: 2rem;
  font-weight: 700;    
  }
  .giftcard_100 {
   font-family: raleway;
    font-size: 2rem;
    font-weight: 700;
  }
  .img-fluid {
    width: 100%!important;
    height: auto;
    margin-top: 55px;
    margin-bottom: 7px;
  }
  .promo_mechanics {
  color: red;
    font-weight: 700;
    font-size: 33px;
    margin-top: 29px;
    margin-bottom: 14px;
    background-color: #d3dbe2;
    padding: 8px;
}
</STYLE>
<div class="container">
  <img src="https://cdn.shopify.com/s/files/1/0615/7982/1304/files/DRAW_DATE_COPY5.png?v=1682998194" class="img-fluid">
  <center>
<!--<h2 class="outlets_title">CUSTOMER E-WARRANTY RAFFLE - 1ST DRAW</h2>-->
  <img src="https://cdn.shopify.com/s/files/1/0615/7982/1304/files/prize-BANNER2--1200X400.jpg?v=1681403019" class="img-fluid">
</center>

<table width="100%" style="border: 1px solid white; box-shadow: none;text-align: center;color:#000;">
<tbody>
  <!-- SAMSUNG A53-->
   <tr>
  <td style="font-family: Raleway;font-size: 2rem;font-weight: 700;">Dennis Leveriza</td>
  <td style="font-family: Raleway;font-size: 2rem;font-weight: 700">Roxanne Nobles</td>
  </tr>
  </table>
  <table width="100%" style="border: 1px solid white; box-shadow: none;text-align: center;color:#000;">
    <tr>
  <td style="font-family: Raleway;font-size: 2rem;font-weight: 700">Raymund Villanueva</td>
  </tr>
  </table>
  
  <!-- 600 KFC GC-->
  
  <table width="100%" style="border: 1px solid white; box-shadow: none;text-align: center;color:#000;">
   <img src="https://cdn.shopify.com/s/files/1/0615/7982/1304/files/prize-BANNER3--1200X400.jpg?v=1681403020" class="img-fluid">
  <tr>
  <td class="giftcard_500">Rafael Flores</td>
  <td class="giftcard_500">Jane Regala</td>
  </tr>
    <tr>
  <td class="giftcard_500">Alexander Lee</td>
  <td class="giftcard_500">Michael Ng</td>
  </tr>
    <tr>
  <td class="giftcard_500">Agnes Magallanes</td>
  <td class="giftcard_500">Edna Olivario </td>
  </tr>
    <tr>
  <td class="giftcard_500">Mikhaela Jaylo</td>
  <td class="giftcard_500">Dennis Garcia</td>
  </tr>
    <tr>
  <td class="giftcard_500">Arnold Allan Moreno</td>
  <td class="giftcard_500">Movie Arquiza</td>
  </tr>
    <tr>
  <td class="giftcard_500">Flordeliza Cruz</td>
   <td class="giftcard_500">Billy Bajo</td>
  </tr>
    <tr>
  <td class="giftcard_500">Sharmay Patimo</td>
   <td class="giftcard_500">Arsenio Samaniego</td>
  </tr>
    <tr>
 <td class="giftcard_500">Glenndie Gigante</td>
  <td class="giftcard_500">Felipe Cahayon</td>
  </tr>
    <tr>
   <td class="giftcard_500">Erwin Patrick Candare</td>
   <td class="giftcard_500">Aileen Bautista</td>
  </tr>
    <td class="giftcard_500">Kathleen Mae Abenion</td>
  <td class="giftcard_500">Geral Jake Agustin</td>
  </tr>
    <tr>
  <td class="giftcard_500">Jam Boree</td>
  <td class="giftcard_500">Mar Nicholas</td>
  </tr>
    <tr>
  <td class="giftcard_500">Jerick Limoanco</td>
  <td class="giftcard_500">Bong Sanchez</td>
  </tr>
  </table>
  <table width="100%" style="border: 1px solid white; box-shadow: none;text-align: center;color:#000;">
  <tr>
  <td class="giftcard_500">Jun Ursal</td>
  </tr>
  </table>

   <!-- 100 KFC GC-->
  
  <table width="100%" style="border: 1px solid white; box-shadow: none;text-align: center;color:#000;">
  <img src="https://cdn.shopify.com/s/files/1/0615/7982/1304/files/prize-BANNER4--1200X400.jpg?v=1681403019" class="img-fluid">
  <tr>
  <td class="giftcard_100">Claro Arellano</td>
  <td class="giftcard_100">Michael Batac</td>
  </tr>
  <tr>
  <td class="giftcard_100">Francis Bryan San Diego</td>
  <td class="giftcard_100">Jill Pantano</td>
  </tr>
  <tr>
  <td class="giftcard_100">Einstein Rojas </td>
  <td class="giftcard_100">Adrian Hernaes </td>
  </tr>
  
  <tr>
  <td class="giftcard_100">Cyril Coscos</td>
   <td class="giftcard_100">Michael Silvala</td>
  </tr>
  <tr>
 <td class="giftcard_100">Maria Linda Lagdameo</td>
 <td class="giftcard_100">Paolo Licuana</td>
  </tr>
  <tr>
  <td class="giftcard_100">Erwin Patrick Candare</td>
  <td class="giftcard_100">Samantha San Miguel</td>
  </tr>
  <tr>
  <td class="giftcard_100">Eugene Tinsay</td>
  <td class="giftcard_100">Fransisco Bagnes II</td>
  </tr>
 
  <tr>
  <td class="giftcard_100">Monique Arrienda</td>
  <td class="giftcard_100">Bianca Isabelle Caruncho</td>
  </tr>
  <tr>
  <td class="giftcard_100">Jocelyn Monte </td>
  <td class="giftcard_100">Dick Pabillo</td>
  </tr>
  <tr>
  <td class="giftcard_100">Rene Retuerne</td>
  <td class="giftcard_100">Maureen Manialac</td>
  </tr>
  <tr>
  <td class="giftcard_100">Fernando Enriquez </td>
  <td class="giftcard_100">Maricar Amparo</td>
  </tr>
  
  <tr>
  <td class="giftcard_100">Danilo Tan</td>
  <td class="giftcard_100">Jun Biag</td>
  </tr>
  <tr>
  <td class="giftcard_100">Jose Cruz</td>
  <td class="giftcard_100">Chelsea Sullivan</td>
  </tr>
  <tr>
  <td class="giftcard_100">Alan Bacayana</td>
  <td class="giftcard_100">Roger Madrona</td>
  </tr>
  <tr>
  <td class="giftcard_100">Ms. Jean</td>
  <td class="giftcard_100">Alyzza Slaazar</td>
  </tr>
  <tr>
  <td class="giftcard_100">Elenita Deala</td>
   <td class="giftcard_100">Robert Senir</td>
  </tr>
  <tr>
 <td class="giftcard_100">Gabriel Macalalad</td>
 <td class="giftcard_100">Aracelli Prieto</td>
  </tr>
  <tr>
  <td class="giftcard_100">Mela Mercado</td>
  <td class="giftcard_100">Nathaniel Gardner</td>
  </tr>
  <tr>
  <td class="giftcard_100">Harry Ilano</td>
   <td class="giftcard_100">Melchor Balmes</td>
  </tr>
  <tr>
  <td class="giftcard_100">Roselle Nicolas</td>
  <td class="giftcard_100">Andria Go</td>
  </tr>
  <tr>
  <td class="giftcard_100">Noah Amaya</td>
   <td class="giftcard_100">Noel Tingco</td>
  </tr>
  <tr>
 <td class="giftcard_100">Garry Deleon</td>
  <td class="giftcard_100">Maria Antonette Noo</td>
  </tr>
  <tr>
  <td class="giftcard_100">Tony Francisco</td>
  <td class="giftcard_100">Ricky Algarme</td>
  </tr>
  <tr>
  <td class="giftcard_100">Reynaldo Manansala</td>
  <td class="giftcard_100">Leopoldo Dicto</td>
  </tr>
  <tr>
 <td class="giftcard_100">Grace Saveron</td>
 <td class="giftcard_100">Rodolfo Enverga Jr.</td>
  </tr>
  </tbody>
 </table>

  <h2 class="promo_mechanics">ANNOUNCEMENT OF WINNERS AND CLAIMING OF PRIZES</h2> 
  <ol>
  <li>Winners will be notified via registered mail, email, and SMS message based on their raffle entry information. Their names will also be posted on our <a href="https://www.facebook.com/motoliteexpresshatid"> Facebook Page</a>.</li>
<li>Winners must present all of the following upon claiming the prize at the Motolite Philippines head office located at Ramcar Center 80-82 Roces Ave. Diliman, Q.C. from 10AM to 5PM, Mondays thru Fridays – Except on Holidays. Prizes may also be claimed at Motolite Outlets based on mutual agreement between Oriental & Motolite Marketing Corporation (OMMC) & the prize winner.</li>
  </ol>
  <ol type="A" style="margin-left: 20px;">
    <li>Valid ID (i.e. Driver’s license, Passport, SSS ID, TIN ID, Company or School ID). The name on the Valid ID must correspond to the registered name in the promo. Valid Motolite RES-Q app installed on their smartphone (with the registered mobile number), with the correct plate number and battery serial number details in the RES-Q app.</li>
<li>Official notification text sent to the registered mobile number. Support notification also sent to registered e-mail address (if provided).</li>
<li>Authorized representatives shall be allowed to claim in behalf of the winning subscriber provided that he/ she is able to present the following:</li>
  </ol>
<ul style="margin-left: 35px;">
  <li>Copy of the registered subscriber’s valid ID (original and photocopy)</li>
<li>Authorized representative’s valid ID (original and photocopy)</li>
<li>Authorization letter (signature should match with the signature in the valid ID)</li>
<li>Official notification sent via email or text message from Motolite Philippines</li>
</ul>
  