{% section 'batteries-services-navigation' %}
<style>
  
  .title-warranty h1 {
    font-size:5rem;
    text-align: center;
    font-weight: 700;
    padding-top: 3rem;
  }
  
   .text-policy {
     color: #d5232b;
     font-weight: 700;
     font-size: 5rem;
  }
  h1 {
    font-weight: bolder;
  }
  h4 {
  font-weight: bolder;
  font-size: 1.75rem;
   margin-bottom: 0.5rem;
  margin-top: 0;
  font-family: sans-serif;
  }
  p {
  font-family: sans-serif;
    font-size: 1.5rem;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    margin-bottom: 1rem;
  }
  ul {
   font-family: sans-serif;
    font-size: 1.5rem;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    margin-bottom: 1rem;
  
  }
  section li {
    display: list-item;
    text-align: -webkit-match-parent;
    font-family: sans-serif;
    font-size: 1.5rem;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    margin-bottom: 1rem;
  
  }
</style>

<script type="text/javascript">

      window.ymConfig = {"bot":"x1722944534597","host":"https://r3.cloud.yellow.ai"};

    (function() {

        var w = window,

            ic = w.YellowMessenger;

        if ("function" === typeof ic) ic("reattach_activator"), ic("update", ymConfig);

        else {

            var d = document,

                i = function() {

                    i.c(arguments)

                };

            function l() {

                var e = d.createElement("script");

                e.type = "text/javascript", e.async = !0, e.src = "https://cdn.yellowmessenger.com/plugin/widget-v2/latest/dist/main.min.js";

                var t = d.getElementsByTagName("script")[0];

                t.parentNode.insertBefore(e, t)

            }

            i.q = [], i.c = function(e) {

                i.q.push(e)

            }, w.YellowMessenger = i, w.attachEvent ? w.attachEvent("onload", l) : w.addEventListener("load", l, !1)}

    })();

    </script>


<section class="section py-5 py-lg-6">
		<div class="warranty-policy">
		<div class="container">
            <div class="h1 font-weight-bold text-uppercase mb-5 title-warranty"><h1>Warranty <span class="text-policy">Policy</span></h1></div>
			<div class="row">
				<div class="col-xl-5">
                    <h4 id="terms-and-conditions">Terms and Conditions</h4>

                  <p>ORIENTAL AND MOTOLITE MARKETING CORPORATION guarantees the Original Owner of the battery that such shall be free from factory defects which are due to faulty materials and workmanship. If the battery fails within the specified warranty period due to workmanship and / or material defects and the guarantee limitations do not apply, the battery will be replaced with a new one of the same size, type and brand.</p>

<p>The battery will be replaced with a unit of the same type and brand, free of charge. The warranty period of replacement battery will be computed as the warranty period of the original battery, less the actual service life of the original battery.</p>

<h4 id="battery-safety-and-maintenance-tips">Battery Safety and Maintenance Tips</h4>

<ul>
<li>Check for cracks or deformations of battery cases and covers, which may be a result of:

<ul>
<li>Excessive tightening of hold down attachment</li>
<li>Loose hold down attachment causing vibrations</li>
<li>Buckled battery plates</li>
<li>Battery mishandling</li>
</ul></li>
<li>Check your vehicle’s electrical system regularly. Make sure that your alternator / generator and voltage regulators are functioning properly. Charging voltage limits of the alternator should be between 13.1 volts to 14.8 volts.</li>
<li>Electrical wirings should be checked regularly. Electrical leakages or shorts will drain the power of the battery.</li>
<li>Keep battery, cables and terminal connectors clean and tight all the times.</li>
<li>Do not overload your battery. Always use specified battery as determined in the OMMC Replacement Chart. Should you add electrical devices in your vehicle, use a battery with a higher electrical capacity.</li>
<li>Use only this battery for automotive use. Using this for Deep Cycle Applications (e.g. Radio, TV, Fishing, etc.) will shorten the battery’s service life and void the warranty.</li>
<li>Keep sparks and flames away from the battery. The battery generates explosive gases.</li>
<li>Keep vent caps tight. Do not overfill your battery with distilled water. (For Low Maintenance Batteries only)</li>
<li>Battery acid is corrosive, avoid contact.</li>
<li>To ensure your battery’s optimum performance, visit OMMC Tire and Battery Centers of any OMMC Authorized Dealer nearest you. For more information, call (02)-8370-6686 for Metro Manila, for calls outside Metro manila: 1-800-10-8370-6686 or consult your local Yellow pages for your respective authorized provincial outlets.</li>
</ul>

                </div>
				<div class="col-xl-5 offset-xl-2 mt-4 mt-xl-0">
                    <h4 id="limitations">Limitations</h4>

<p>The warranty is not valid if on the sole judgment of the manufacturer or its representatives, the following conditions exist:</p>

<ol>
<li>The automobile or vehicle where in the battery is supposed to be installed is not present or cannot be inspected by a representative of the dealer. The warranty period will automatically be the commercial warranty as stated in the warranty arrangement.</li>
<li>Battery cases and / or covers are broken after installation due to mishandling of battery.</li>
<li>Battery fails because of overcharging or undercharging due to faulty electrical system of the vehicle.</li>
<li>There is evidence that chemical additives and / or incorrect grades of battery sulfuric acid were used in the battery.</li>
<li>Battery of lower capacity and / or smaller size than required was used.</li>
<li>There is evidence that the top label sticker was tampered. (Applicable only for batteries labelled as Maintenance Free or MF).</li>
<li>There is evidence of tampering of codes and other official markings on the battery.</li>
<li>There is evidence that the battery has been transferred for use in another vehicle.</li>
<li>There has been transfer of ownership of vehicle.</li>
<li>There is evidence of failure to add distilled or demineralised water (for topping) when the electrolyte level falls below the top of plates (not applicable for Maintenance Free or MF labelled batteries).</li>
<li>The battery is just discharged.</li>
<li>The battery (for Maintenance-Free types only) dried up as a result of overcharging.</li>
<li>The battery exploded and any of the following conditions are present:

<ul>
<li>The battery has a low acid level</li>
<li>The battery was overcharged</li>
<li>The battery has poor or loose external connectors</li>
<li>The battery has a clogged venting system (due to poor maintenance)</li>
</ul></li>
<li>If one of above conditions is present and there is no evident problem on the workmanship and on the materials used in the product, the above condition present is then considered the cause of explosion. Explosion is excluded from the Motolite warranty in these cases.</li>
<li>The battery terminals are found to be broken or corroded due to negligence.</li>
</ol>
				</div>
			</div>
		</div>
	</div>
 
</section>
 {% section 'footer' %}