{% section 'winners-navigation' %}
<STYLE>
  h2.outlets_title {
  font-weight: 600;
  font-family: sans-serif;
  margin-top: 70px;
  margin-bottom: 30px;
  color:red;
}
  .giftcard_500 {
   font-family: raleway;
  font-size: 2rem;
  font-weight: 700;    
  }
  .giftcard_100 {
   font-family: raleway;
    font-size: 2rem;
    font-weight: 700;
  }
  .img-fluid {
    width: 100%!important;
    height: auto;
    margin-top: 55px;
    margin-bottom: 7px;
  }
  .promo_mechanics {
  color: red;
    font-weight: 700;
    font-size: 33px;
    margin-top: 29px;
    margin-bottom: 14px;
    background-color: #d3dbe2;
    padding: 8px;
}
</STYLE>
<div class="container">
  <img src="https://cdn.shopify.com/s/files/1/0615/7982/1304/files/DRAW_DATE_copy4.png?v=1681403005" class="img-fluid">
  
<table width="100%" style="border: 1px solid white; box-shadow: none;text-align: center;color:#000;">
<tbody>
  <img src="https://cdn.shopify.com/s/files/1/0615/7982/1304/files/prize-BANNER2--1200X400.jpg?v=1681403019" class="img-fluid">
   <tr>
  <td style="font-family: Raleway;font-size: 2rem;font-weight: 700;">Edison Taduran
</td>
  <td style="font-family: Raleway;font-size: 2rem;font-weight: 700">Willan Lee
</td>
  </tr>
  </table>
  <table width="100%" style="border: 1px solid white; box-shadow: none;text-align: center;color:#000;">
    <tr>
  <td style="font-family: Raleway;font-size: 2rem;font-weight: 700">Alvin Polancos
</td>
  </tr>
  </table>
    
  <table width="100%" style="border: 1px solid white; box-shadow: none;text-align: center;color:#000;">
   <img src="https://cdn.shopify.com/s/files/1/0615/7982/1304/files/prize-BANNER3--1200X400.jpg?v=1681403020" class="img-fluid">
  <tr>
  <td class="giftcard_500">Rodolfo Enverga
</td>
  <td class="giftcard_500">Don Ferrer
</td>
  </tr>
    <tr>
  <td class="giftcard_500">Lani San Juan
</td>
  <td class="giftcard_500">Ronald Bustos
</td>
  </tr>
    <tr>
  <td class="giftcard_500">Wallcrown Design Center
</td>
  <td class="giftcard_500">Angelica Jandoc
</td>
  </tr>
    <tr>
  <td class="giftcard_500">Alex Aromin
</td>
  <td class="giftcard_500">Guillermo Thelmo
</td>
  </tr>
    <tr>
  <td class="giftcard_500">Junxiang Ouyang
</td>
  <td class="giftcard_500">Roxanne Peralta
</td>
  </tr>
    <tr>
  <td class="giftcard_500">Ma. Emeren Vallente
</td>
   <td class="giftcard_500">Nila Pilares
</td>
  </tr>
    <tr>
  <td class="giftcard_500">Marilyn Gan
</td>
   <td class="giftcard_500">Jaidon Del Rosario
</td>
  </tr>
    <tr>
 <td class="giftcard_500">Alexis Remo
</td>
  <td class="giftcard_500">Buddy Buddy
</td>
  </tr>
    <tr>
   <td class="giftcard_500">Robert Joseph Torres
</td>
   <td class="giftcard_500">Romeo Waquiz
</td>
  </tr>
  <td class="giftcard_500">Bryan Punongbayan
</td>
  <td class="giftcard_500">Elvin Laclacan
</td>
  </tr>
    <tr>
  <td class="giftcard_500">Marc Decepeda
</td>
  <td class="giftcard_500">Stephen Tan
</td>
  </tr>
    <tr>
  <td class="giftcard_500">Manuel Robin Hartmann
</td>
  <td class="giftcard_500">Brian Medina
</td>
  </tr>
  </table>
  <table width="100%" style="border: 1px solid white; box-shadow: none;text-align: center;color:#000;">
  <tr>
  <td class="giftcard_500">Gene Gregorio
</td>
  </tr>
  </table>

  <table width="100%" style="border: 1px solid white; box-shadow: none;text-align: center;color:#000;">
  <img src="https://cdn.shopify.com/s/files/1/0615/7982/1304/files/prize-BANNER4--1200X400.jpg?v=1681403019" class="img-fluid">
  <tr>
  <td class="giftcard_100">Chris Rosales
</td>
  <td class="giftcard_100">Reginaldo Lagman
</td>
  </tr>
  <tr>
  <td class="giftcard_100">Carlo Flores
</td>
  <td class="giftcard_100">Ridgie Orina
</td>
  </tr>
  <tr>
  <td class="giftcard_100">Phylda Bacud
</td>
  <td class="giftcard_100">Ryan Sycip
</td>
  </tr>
  
  <tr>
  <td class="giftcard_100">Randy Ragaza
</td>
   <td class="giftcard_100">Loremy Alagano
</td>
  </tr>
  <tr>
 <td class="giftcard_100">Louie Placido
</td>
 <td class="giftcard_100">Mark Vincent Co
</td>
  </tr>
  <tr>
  <td class="giftcard_100">Alvin Kim Mendoza
</td>
  <td class="giftcard_100">Renebal Pagaduan
</td>
  </tr>
  <tr>
  <td class="giftcard_100">Grace Briones
</td>
  <td class="giftcard_100">Carla Orfiano
</td>
  </tr>
 
  <tr>
  <td class="giftcard_100">Analiza Tribunal
</td>
  <td class="giftcard_100">Bernadine Mahinay
</td>
  </tr>
  <tr>
  <td class="giftcard_100">Renato Reside Jr.
</td>
  <td class="giftcard_100">Jill Lapuz
</td>
  </tr>
  <tr>
  <td class="giftcard_100">Lilibeth Tiongco
</td>
  <td class="giftcard_100">Raymond Hernandez
</td>
  </tr>
  <tr>
  <td class="giftcard_100">Michael Lawrence Sia
</td>
  <td class="giftcard_100">Jaime Cacho
</td>
  </tr>
  
  <tr>
  <td class="giftcard_100">Beng Manzon
</td>
  <td class="giftcard_100">Miguel Paolo Raymundo
</td>
  </tr>
  <tr>
  <td class="giftcard_100">Jerricho Dela Cruz
</td>
  <td class="giftcard_100">Tristan Hao
</td>
  </tr>
  <tr>
  <td class="giftcard_100">Unica Angelica Diaz
</td>
  <td class="giftcard_100">Mario Villacorta
</td>
  </tr>
  <tr>
  <td class="giftcard_100">Vilma Medina
</td>
  <td class="giftcard_100">Ana Jemina Breis
</td>
  </tr>
  <tr>
  <td class="giftcard_100">Nicky Villasenor
</td>
   <td class="giftcard_100">Jinky Ustare
</td>
  </tr>
  <tr>
 <td class="giftcard_100">Eduardo Lamson
</td>
 <td class="giftcard_100">Sisme Maranan
</td>
  </tr>
  <tr>
  <td class="giftcard_100">Kim Bo Ram
</td>
  <td class="giftcard_100">Gene Empinado
</td>
  </tr>
  <tr>
  <td class="giftcard_100">Ren Ren Tuazon
</td>
   <td class="giftcard_100">Napoleon Osorio
</td>
  </tr>
  <tr>
  <td class="giftcard_100">Jazzy Friaz
</td>
  <td class="giftcard_100">Bern Llanes
</td>
  </tr>
  <tr>
  <td class="giftcard_100">Rupert Gamban
</td>
   <td class="giftcard_100">Victorino Dizon
</td>
  </tr>
  <tr>
 <td class="giftcard_100">Anna Ricamata
</td>
  <td class="giftcard_100">Cris Andres
</td>
  </tr>
  <tr>
  <td class="giftcard_100">Roanna Ngo
</td>
  <td class="giftcard_100">Carlo Claridad
</td>
  </tr>
  <tr>
  <td class="giftcard_100">Shiela Alonzo
</td>
  <td class="giftcard_100">Benjie Lara
</td>
  </tr>
  <tr>
 <td class="giftcard_100">Raymund De Vera
</td>
 <td class="giftcard_100">Lemuel Labeste
</td>
  </tr>
  </tbody>
 </table>

  <h2 class="promo_mechanics">ANNOUNCEMENT OF WINNERS AND CLAIMING OF PRIZES</h2> 
  <ol>
  <li>Winners will be notified via registered mail, email, and SMS message based on their raffle entry information. Their names will also be posted on our <a href="https://www.facebook.com/motoliteexpresshatid"> Facebook Page</a>.</li>
<li>Winners must present all of the following upon claiming the prize at the Motolite Philippines head office located at Ramcar Center 80-82 Roces Ave. Diliman, Q.C. from 10AM to 5PM, Mondays thru Fridays – Except on Holidays. Prizes may also be claimed at Motolite Outlets based on mutual agreement between Oriental & Motolite Marketing Corporation (OMMC) & the prize winner.</li>
  </ol>
  <ol type="A" style="margin-left: 20px;">
    <li>Valid ID (i.e. Driver’s license, Passport, SSS ID, TIN ID, Company or School ID). The name on the Valid ID must correspond to the registered name in the promo. Valid Motolite RES-Q app installed on their smartphone (with the registered mobile number), with the correct plate number and battery serial number details in the RES-Q app.</li>
<li>Official notification text sent to the registered mobile number. Support notification also sent to registered e-mail address (if provided).</li>
<li>Authorized representatives shall be allowed to claim in behalf of the winning subscriber provided that he/ she is able to present the following:</li>
  </ol>
<ul style="margin-left: 35px;">
  <li>Copy of the registered subscriber’s valid ID (original and photocopy)</li>
<li>Authorized representative’s valid ID (original and photocopy)</li>
<li>Authorization letter (signature should match with the signature in the valid ID)</li>
<li>Official notification sent via email or text message from Motolite Philippines</li>
</ul>
  