{% section 'winners-navigation' %}
<STYLE>
  h2.outlets_title {
  font-weight: 600;
  font-family: sans-serif;
  margin-top: 70px;
  margin-bottom: 30px;
  color:red;
}
  .giftcard_500 {
   font-family: raleway;
  font-size: 2rem;
  font-weight: 700;    
  }
  .giftcard_100 {
   font-family: raleway;
    font-size: 2rem;
    font-weight: 700;
  }
  .img-fluid {
    width: 100%!important;
    height: auto;
    margin-top: 55px;
    margin-bottom: 7px;
  }
  .promo_mechanics {
  color: red;
    font-weight: 700;
    font-size: 33px;
    margin-top: 29px;
    margin-bottom: 14px;
    background-color: #d3dbe2;
    padding: 8px;
}
</STYLE>
<div class="container">
  <img src="https://cdn.shopify.com/s/files/1/0615/7982/1304/files/DRAW_DATE_COPY6.png?v=1685702314" class="img-fluid">

  <!-- Greenlight-->
  <center>
<!--<h2 class="outlets_title">CUSTOMER E-WARRANTY RAFFLE - 1ST DRAW</h2>-->
  <img src="https://cdn.shopify.com/s/files/1/0615/7982/1304/files/prize-BANNER1--1200X400_270c6de4-2cd1-4d6a-ba58-5b87509eac47.jpg?v=1686030864" class="img-fluid">
</center>

  <table width="100%" style="border: 1px solid white; box-shadow: none;text-align: center;color:#000;">
    <tr>
  <td style="font-family: Raleway;font-size: 2rem;font-weight: 700">Josephine Musico</td>
  </tr>
  </table>
  
  <center>
<!--<h2 class="outlets_title">CUSTOMER E-WARRANTY RAFFLE - 1ST DRAW</h2>-->
  <img src="https://cdn.shopify.com/s/files/1/0615/7982/1304/files/prize-BANNER2--1200X400.jpg?v=1681403019" class="img-fluid">
</center>

<table width="100%" style="border: 1px solid white; box-shadow: none;text-align: center;color:#000;">
<tbody>
  <!-- SAMSUNG A53-->
   <tr>
  <td style="font-family: Raleway;font-size: 2rem;font-weight: 700;">Aivan Armyl BaÃ'ez</td>
  <td style="font-family: Raleway;font-size: 2rem;font-weight: 700">Ricardo Alenton</td>
  </tr>
  </table>
  <table width="100%" style="border: 1px solid white; box-shadow: none;text-align: center;color:#000;">
    <tr>
  <td style="font-family: Raleway;font-size: 2rem;font-weight: 700">Nicole Mirate</td>
  </tr>
  </table>
  
  <!-- 600 KFC GC-->
  
  <table width="100%" style="border: 1px solid white; box-shadow: none;text-align: center;color:#000;">
   <img src="https://cdn.shopify.com/s/files/1/0615/7982/1304/files/prize-BANNER3--1200X400.jpg?v=1681403020" class="img-fluid">
  <tr>
  <td class="giftcard_500">Ervin Ola</td>
  <td class="giftcard_500">Andy Maningo</td>
  </tr>
    <tr>
  <td class="giftcard_500">Jazz Andrew Mayor</td>
  <td class="giftcard_500">Jimbo Tiru</td>
  </tr>
    <tr>
  <td class="giftcard_500">Alexander Bitong</td>
  <td class="giftcard_500">Jon Calda</td>
  </tr>
    <tr>
  <td class="giftcard_500">Andy Bartolome</td>
  <td class="giftcard_500">Evangeline Daloran</td>
  </tr>
    <tr>
  <td class="giftcard_500">Jay Vitto</td>
  <td class="giftcard_500">Isa Silva</td>
  </tr>
    <tr>
  <td class="giftcard_500">Caroline Laguinto</td>
   <td class="giftcard_500">Jorge Barrot</td>
  </tr>
    <tr>
  <td class="giftcard_500">Aurora Highwarden</td>
   <td class="giftcard_500">Catherine Malco</td>
  </tr>
    <tr>
 <td class="giftcard_500">Antonio Maronilla</td>
  <td class="giftcard_500">Chester Luna</td>
  </tr>
    <tr>
   <td class="giftcard_500">Grace Magbanua</td>
   <td class="giftcard_500">Cherry Pamilaga</td>
  </tr>
    <td class="giftcard_500">Expidito Mendez</td>
  <td class="giftcard_500">Bong Umali</td>
  </tr>
    <tr>
  <td class="giftcard_500">Edwin Mamenta</td>
  <td class="giftcard_500">Emmanuel Boreta</td>
  </tr>
    <tr>
  <td class="giftcard_500">Chrisher Mercado</td>
  <td class="giftcard_500">Lemcy Uy Abellanida</td>
  </tr>
  </table>
  <table width="100%" style="border: 1px solid white; box-shadow: none;text-align: center;color:#000;">
  <tr>
  <td class="giftcard_500">Marlouie Biag</td>
  </tr>
  </table>

   <!-- 100 KFC GC-->
  
  <table width="100%" style="border: 1px solid white; box-shadow: none;text-align: center;color:#000;">
  <img src="https://cdn.shopify.com/s/files/1/0615/7982/1304/files/prize-BANNER4--1200X400.jpg?v=1681403019" class="img-fluid">
  <tr>
  <td class="giftcard_100">Homer Arellano</td>
  <td class="giftcard_100">Alvino Ferreras</td>
  </tr>
  <tr>
  <td class="giftcard_100">Arnold Sanchez</td>
  <td class="giftcard_100">Rodel Cruz</td>
  </tr>
  <tr>
  <td class="giftcard_100">Ian Mecina</td>
  <td class="giftcard_100">Victor Reyes </td>
  </tr>
  
  <tr>
  <td class="giftcard_100">Eugene Tucay</td>
   <td class="giftcard_100">Rowel Ganaban </td>
  </tr>
  <tr>
 <td class="giftcard_100">Jun Perez</td>
 <td class="giftcard_100">Andrei Aquino</td>
  </tr>
  <tr>
  <td class="giftcard_100">Ramir Jaucian</td>
  <td class="giftcard_100">Roselyn Pagunsan</td>
  </tr>
  <tr>
  <td class="giftcard_100">Ogie Galang</td>
  <td class="giftcard_100">Eric Morales</td>
  </tr>
 
  <tr>
  <td class="giftcard_100">Red Garcia  </td>
  <td class="giftcard_100">Rodolfo Ressurection</td>
  </tr>
  <tr>
  <td class="giftcard_100">Richard Dela Vega</td>
  <td class="giftcard_100">Elizabeth Pronto</td>
  </tr>
  <tr>
  <td class="giftcard_100">Clarence Romasola </td>
  <td class="giftcard_100">Mark Mijares</td>
  </tr>
  <tr>
  <td class="giftcard_100">Cris Villano</td>
  <td class="giftcard_100">Manny Magsaysay </td>
  </tr>
  
  <tr>
  <td class="giftcard_100">Lean Adriano</td>
  <td class="giftcard_100">Edwin Gloria</td>
  </tr>
  <tr>
  <td class="giftcard_100">Micahel Villar</td>
  <td class="giftcard_100">Shan Geraldizo</td>
  </tr>
  <tr>
  <td class="giftcard_100">Robertson James Charles</td>
  <td class="giftcard_100">Med Mationg</td>
  </tr>
  <tr>
  <td class="giftcard_100">Kenny Seng</td>
  <td class="giftcard_100">Ariel Gonzales</td>
  </tr>
  <tr>
  <td class="giftcard_100">Arniel Ong</td>
   <td class="giftcard_100">Marc Castro</td>
  </tr>
  <tr>
 <td class="giftcard_100">Lito Tilbe</td>
 <td class="giftcard_100">Jomar Abaygar</td>
  </tr>
  <tr>
  <td class="giftcard_100">Mario Natanaun</td>
  <td class="giftcard_100">Junard Christian Benitez</td>
  </tr>
  <tr>
  <td class="giftcard_100">Angelica Garcia</td>
   <td class="giftcard_100">Benx Zabal</td>
  </tr>
  <tr>
  <td class="giftcard_100">Maria Guadalupe Teresa Villanueva</td>
  <td class="giftcard_100">Allan Fabella</td>
  </tr>
  <tr>
  <td class="giftcard_100">Armida Hernandez</td>
   <td class="giftcard_100">Germidel Vergara</td>
  </tr>
  <tr>
 <td class="giftcard_100">Vincent Fortez</td>
  <td class="giftcard_100">Adam Nelson</td>
  </tr>
  <tr>
  <td class="giftcard_100">Carlo Surabia</td>
  <td class="giftcard_100">Liza Muñoz</td>
  </tr>
  <tr>
  <td class="giftcard_100">Hannah Ruth Razon</td>
  <td class="giftcard_100">Kenneth Chua</td>
  </tr>
  <tr>
 <td class="giftcard_100">Candice Manalo</td>
 <td class="giftcard_100">Den Mulles</td>
  </tr>
  </tbody>
 </table>

  <h2 class="promo_mechanics">ANNOUNCEMENT OF WINNERS AND CLAIMING OF PRIZES</h2> 
  <ol>
  <li>Winners will be notified via registered mail, email, and SMS message based on their raffle entry information. Their names will also be posted on our <a href="https://www.facebook.com/motoliteexpresshatid"> Facebook Page</a>.</li>
<li>Winners must present all of the following upon claiming the prize at the Motolite Philippines head office located at Ramcar Center 80-82 Roces Ave. Diliman, Q.C. from 10AM to 5PM, Mondays thru Fridays – Except on Holidays. Prizes may also be claimed at Motolite Outlets based on mutual agreement between Oriental & Motolite Marketing Corporation (OMMC) & the prize winner.</li>
  </ol>
  <ol type="A" style="margin-left: 20px;">
    <li>Valid ID (i.e. Driver’s license, Passport, SSS ID, TIN ID, Company or School ID). The name on the Valid ID must correspond to the registered name in the promo. Valid Motolite RES-Q app installed on their smartphone (with the registered mobile number), with the correct plate number and battery serial number details in the RES-Q app.</li>
<li>Official notification text sent to the registered mobile number. Support notification also sent to registered e-mail address (if provided).</li>
<li>Authorized representatives shall be allowed to claim in behalf of the winning subscriber provided that he/ she is able to present the following:</li>
  </ol>
<ul style="margin-left: 35px;">
  <li>Copy of the registered subscriber’s valid ID (original and photocopy)</li>
<li>Authorized representative’s valid ID (original and photocopy)</li>
<li>Authorization letter (signature should match with the signature in the valid ID)</li>
<li>Official notification sent via email or text message from Motolite Philippines</li>
</ul>
  