{% section 'company-navigation' %}
{% section 'image-company-banner' %}
<style>
  @media (min-width: 1600px){
    .container {
      max-width: 1560px;
    }
  }
  h1 {
    font-size: 6rem!important;
    color: #212529;
    font-weight: 800;
    padding-top: 3rem;
      padding-bottom: 2rem;
  }
  .text-motolite {
    color: #d5232b;
  }
  .mb-5 {
  margin-bottom: 3rem !important;
  margin-top: 0;
  /*padding-left: 6rem;
    padding-right: 6rem;*/
    font-size: 1.75rem;
    color: #212529;
  }
  p.about { 
  color: #212529;
  font-family: Raleway!important;
    padding-left:6rem;
      padding-right: 6rem;
    font-size:1.2em;
  }
  .text-danger {
    font-size: 2rem;
    
  }
  p {
  color: #212529;
    font-family: raleway!important;
  }
  .btn-motolite:hover {
    background-color: #bf1f27;
    color: #fff;
  }
  .btn-motolite {
    background-color: #d5232b;
    color: #fff;
    text-transform: uppercase;
    border-radius: 0;
    font-weight: 700;
    font-size: 3rem;
  }
  .section-timeline .timeline-item:hover .badge-pill {
    background-color: #d5232b !important;
    border-color: #d5232b !important;
  }
  .border-right {
    border-right: 1px solid #dee2e6 !important;
  }
  .pt-40 {
    padding-top: 40px;
  }
  .banner__heading {
    margin-bottom: 0;
    font-family: system-ui;
    font-weight: 700;
    color: #fff;
  }
   @media screen and (min-width: 750px){
.banner__box>*+.banner__text {
    margin-top: 0;
    color: #fff;
    font-size: 2.2rem;
  font-family: system-ui;
}}
.banner__content {
    padding: 0;
    display: flex;
    position: relative;
    width: 100%;
    align-items: center;
    justify-content: center;
    z-index: 0;
}
@media all and (min-width: 1366px) {
 p.about {
    color: #212529;
    font-family: Raleway!important;
    padding-left: 3rem;
    padding-right: 3rem;
    font-size: 1.5em;
  }
}
@media all and (min-width: 1400px) {
}
</style>

<script type="text/javascript">

      window.ymConfig = {"bot":"x1722944534597","host":"https://r3.cloud.yellow.ai"};

    (function() {

        var w = window,

            ic = w.YellowMessenger;

        if ("function" === typeof ic) ic("reattach_activator"), ic("update", ymConfig);

        else {

            var d = document,

                i = function() {

                    i.c(arguments)

                };

            function l() {

                var e = d.createElement("script");

                e.type = "text/javascript", e.async = !0, e.src = "https://cdn.yellowmessenger.com/plugin/widget-v2/latest/dist/main.min.js";

                var t = d.getElementsByTagName("script")[0];

                t.parentNode.insertBefore(e, t)

            }

            i.q = [], i.c = function(e) {

                i.q.push(e)

            }, w.YellowMessenger = i, w.attachEvent ? w.attachEvent("onload", l) : w.addEventListener("load", l, !1)}

    })();

    </script>
<div class="row">
  <div class="container">
    <h1 class="text-uppercase mb-5 text-center mt-40">About <span class="text-motolite">Motolite</span></h1>
  <p class="mb-5 font-size-lg about">
    Motolite Batteries are proudly manufactured by Philippine Batteries Inc., one of the largest manufacturers, exporters and distributors of automotive, motorcycle, and industrial battery products and solutions in the Asia-Pacific Region.
  </p>
  <p class="mb-5 font-size-lg about">
    The company, founded in 1919, is celebrating 100 years of providing consumers with world-class power solutions, making it one of the region’s longest-serving battery manufacturers. 
  </p>
    <p class="mb-5 font-size-lg about">
      PBI is currently the largest, most fully integrated, and technologically advanced battery manufacturer in the region with a state-of-the-art manufacturing plant located in (CITY). The TS16969 and ISO-certified facility has the potential to produce almost 750,000 battery units per month.   Housed in an 18-hectare fully engineered facility, the plant produces world-class maintenance-free automotive and motorcycle batteries. The plant also produces dry-charged low maintenance batteries, industrial batteries, plates, sulfuric acid and separators. PBI employs a fully-integrated closed-loop manufacturing and distribution process that covers material sourcing, component design and production, assembly, charging, distribution and recycling.
    </p>
    <p class="mb-5 font-size-lg about">
      PBI is also the biggest investor in manufacturing facilities in the entire ASEAN region, giving Motolite a formidable edge over its competitors. PBI exports its products to North America, Australia and the Asia-Pacific Region and proudly serves the US, European, Australian, Middle East, and Asian markets. PBI is considered the industry leader in productivity, capacity, technology and innovation.
    </p>
  <!--<div class="text-center">
    <button class="btn btn-motolite btn-expand" type="button" data-toggle="collapse" data-target="#about-motolite-expanded" aria-expanded="false" aria-controls="about-motolite-expanded">Learn More
    </button>
  </div>-->
  </div>
</div>
{% section 'footer' %}