{{ 'section-career-footer.css' | asset_url | stylesheet_tag }}
{{ 'popup-modal-button.css' | asset_url | stylesheet_tag }}
{{ 'share-list-social-media.css' | asset_url | stylesheet_tag }}
{{ 'career-footer.css' | asset_url | stylesheet_tag }}

<style>
 
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}
  
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
  
#backButton {
  height: 45px;
  width: 60px;
  line-height: inherit;
  padding-right: 0px;
  padding-left: 0px; 
  width: 60px;
  border-radius: 10px;
  margin-top: 10px;
  background: #FFFFFF;
  border: 1px solid #808080;
  color: #848884;
}

@media all and (min-width: 1440px) {}
@media all and (max-width: 1439px) {}
@media all and (max-width: 767px) {
  #backButton {
    height: auto;
    width: 40px !important;
    line-height: inherit;
    padding-right: 0px !important;
    padding-left: 0px !important; 
     margin-left: 11px;
    

  }
}
</style>
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
<div class="min-hieght">
<div class="container">
  <div class="row">
     <button  id="backButton" onclick="window.location.href='https://www.motolite.com/pages/career'" class="col-1 dropbtn"><i class="fa fa-arrow-left"></i></button>
  </div>

<!-- JOB ROLE TITLE -->

  <div class="container">
<span style="color: #d3363d; font-weight: 600; font-size: 42px; line-height: 51px; font-family: Raleway; position: relative; top:28px; margin-left: 5px;">CADET ENGINEER </span>
  </div>
    {% section 'career-page-career-details' %}
</div>
</div>

<!-- JOB SUMMARY -->

<div class="hide-on-small">
  <div class="container job_description" >
  <div class="row">
    <div class="col-9">
<h2 style="font-style: raleway;"><strong>Cadet Engineering Training Program
</strong></h2>
<p>A premium leadership program designed to shape the future leaders of our organization.As a Cadet Engineer, you will undergo rigorous classroom and on-the-job training, aimed at equipping high-potential individuals and recent graduates with the essential skills and knowledge to excel as leaders.</p>
<p>
This program provides a deep understanding of our organization's products, services, and business operations, with a specific focus on the Battery Group. Qualified candidates will receive hands-on experience and practical training across various departments, gaining exposure to key aspects of our business.
 </p>

<!-- RESPONSIBILITIES -->

<h2 style="font-style: raleway;"><strong>PROGRAM TRACKS</strong></h2>
<ul style="font-style: raleway;">
<li>Battery Manufacturing</li>
<li>Engineering and Fabrication</li>
<li>Engineering Recycling</li>
</ul>

<!-- QUALIFICATIONS -->

      <h2 style="font-style: raleway;"><strong>QUALIFICATIONS</strong></h2>
<ul style="font-style: raleway;">
<li>Graduate of any of the following Engineering fields: Civil, Chemical, Electrical, Electronics, Industrial, Materials, Mechanical, or Metallurgical.
</li>
<li>Professionals with a maximum of one year of work experience, excellent academic records, and notable achievements, particularly in key organizational roles.
</li>
<li>Recent graduates are highly encouraged to apply.
</li>
<li>Strong communication skills, with the ability to confidently interact with individuals at all levels.
</li>
<li>Willingness to work and stay in Bulacan (accommodation will be provided).
</li>
</ul>

</div>

    
  <div class="col-3 right mt-5">
    <img src="https://cdn.shopify.com/s/files/1/0615/7982/1304/files/ApplicationProcess.png" width="" height="800px">
    {% comment %}
          {% section 'career-page-related-pages' %}
        {% endcomment %}
    </div>
  </div>
  </div>
		</div>
  
<div id="popup2" class="modal">
	<div class="popup_modal_apply">
		<a class="close" onclick="closeModal('popup2')">&times;</a>
		<div class="content">
			<div style="margin:0 auto;" class="pxFormGenerator" id="LiYyol5t1ytt6lXXy5xb_Q"></div>
          <img src="https://cdn.shopify.com/s/files/1/0615/7982/1304/files/Excel_Battery_430x.png?v=1711508391#" class="motolite-preview">
		</div>
	</div>
</div>
  
</div>

<!-- MOBILE VIEW -->

 <div class="show-on-small">
<div class="container job_description" >
  <div class="row">
    <div class="col-12">

<!-- JOB SUMMARY -->

      <div class="container" style="margin-top: 30px;">
<h2 style="font-style: raleway;"><strong>Cadet Engineering Training Program
</strong></h2>
<p>A premium leadership program designed to shape the future leaders of our organization.As a Cadet Engineer, you will undergo rigorous classroom and on-the-job training, aimed at equipping high-potential individuals and recent graduates with the essential skills and knowledge to excel as leaders.</p>
<p>
This program provides a deep understanding of our organization's products, services, and business operations, with a specific focus on the Battery Group. Qualified candidates will receive hands-on experience and practical training across various departments, gaining exposure to key aspects of our business.
 </p>

<br />

<!-- RESPONSIBILITIES -->

<h2 style="font-style: raleway;"><strong>PROGRAM TRACKS</strong></h2>
<ul style="font-style: raleway;">
<li>Battery Manufacturing</li>
<li>Engineering and Fabrication</li>
<li>Engineering Recycling</li>

</ul>

<!-- QUALIFICATIONS -->

<h2 style="font-style: raleway;"><strong>QUALIFICATIONS</strong></h2>
<ul style="font-style: raleway;">
<li>Graduate of any of the following Engineering fields: Civil, Chemical, Electrical, Electronics, Industrial, Materials, Mechanical, or Metallurgical.
</li>
<li>Professionals with a maximum of one year of work experience, excellent academic records, and notable achievements, particularly in key organizational roles.
</li>
<li>Recent graduates are highly encouraged to apply.
</li>
<li>Strong communication skills, with the ability to confidently interact with individuals at all levels.
</li>
<li>Willingness to work and stay in Bulacan (accommodation will be provided).
</li>

</ul>
</h2>
      </div>
</div>

    
  <div class="col-3 center mt-5">
    <img src="https://cdn.shopify.com/s/files/1/0615/7982/1304/files/Application_Process_2_1.png?v=1716282154"  style="margin-bottom: -206px;    max-width: 89%;">
    {% comment %}
          {% section 'career-page-related-pages' %}
        {% endcomment %}
    </div>
  </div>
</div>
 </div>

    
    <div class="row" style="margin-top: 39px;">
      <div class="col-12">
    <div class="box">
	<a class="popup" onclick="openPopup1()">Share<span class="material-symbols-outlined share_icon">share</span></a>
</div>
      </div>
      <div class="col-11">
    <div class="box">
	<a class="apply_button" onclick="openPopup2()">Apply</a>
</div>
      </div>
    </div>
<div id="popup1" class="modal">
	<div class="popup_modal">
		<a class="close" onclick="closeModal('popup1')">&times;</a>
		<div class="content">
          <div>
          <img src="https://cdn.shopify.com/s/files/1/0615/7982/1304/files/logo_5686d5b2-4c14-4341-be3a-3a20c42e067c.jpg?v=1678348530" class="motolite__logo" >
          </div>
          <div class="content-text">	 
          <p class="popup_text">Share this job</p>
                <p class="job__text">Job link:</p>
        </div>
          <div class="row">
                <div class="col-8 copy-text">
		<input type="text" class="input_text" value="https://www.motolite.com/pages/cadet-engineer" id="myInput">
                </div>
                <div class="col-3">
                <button class="copy_link" onclick="myFunction()">Copy</button>
                </div>
              </div>
          </div>
          

<!-- Social Sharing -->
  <div class="row">
    <div class="col-12">
  <ul class="share__list">
    <li class="share__item ">
      <a class="button facebook">
        <i class="fab fa-facebook-f fa-2x"></i></a>
        <span class="sr-only">Share on Facebook</span>
    </li>
    <li class="share__item">
      <a class="button facebook-messenger">
        <i class="fab fa-facebook-messenger"></i></a>
        <span class="sr-only">Share via Messenger</span>
    </li>
   
    <li class="share__item ">
     <a class="button linkedin">
        <i class="fab fa-linkedin-in fa-2x"></i></a>
        <span class="sr-only">Share on Linkedin</span>
    </li>
    <li class="share__item">
      <a class="button google">
        <i class="fab fa-google"></i></a>
        <span class="sr-only">Share via Mail</span>
    </li>
    <!--
     <li class="share__item ">
     <a class="button twitter">
        <i class="fab fa-twitter fa-2x"></i></a>
        <span class="sr-only">Share on Twitter</span>
    </li>
    <li class="share__item">
      <a class="button viber">
        <i class="fab fa-viber"></i></a>
        <span class="sr-only">Share via Mail</span>
    </li>
    <li class="share__item">
      <a class="button telegram">
        <i class="fab fa-telegram"></i></a>
        <span class="sr-only">Share via Mail</span>
    </li>-->
  </ul>
  </div>
</div>
      
</div>
		</div>
  
<div id="popup2" class="modal">
	<div class="popup_modal_apply">
		<a class="close" onclick="closeModal('popup2')">&times;</a>
		<div class="content">
			<div style="margin:0 auto;" class="pxFormGenerator" id="LiYyol5t1ytt6lXXy5xb_Q"></div>
          <img src="https://cdn.shopify.com/s/files/1/0615/7982/1304/files/Excel_Battery_430x.png?v=1711508391#" class="motolite-preview">
		</div>
	</div>
</div>

{% section 'career-footer' %}
  <script>
    
 function myFunction() {
  // Get the text field
  let copyText = document.getElementById("myInput");

  // Select the text field
  copyText.select();
  copyText.setSelectionRange(0, 99999); // For mobile devices

  // Copy the text inside the text field
  navigator.clipboard.writeText(copyText.value);
  
  // Alert the copied text
  alert("Copied the text: " + copyText.value);
}
</script>

<script>

let popup1 = document.getElementById('popup1');
let popup2 = document.getElementById('popup2');

/*Close when clicked outside of modal*/
window.onclick = function(event) {
  if (event.target == popup1) 
    popup1.style.display = 'none';
  else if (event.target == popup2)
    popup2.style.display = 'none';
};

function closeModal(modalName) {
  if (modalName == 'popup1') 
    popup1.style.display = 'none';
  else if (modalName == 'popup2')
    popup2.style.display = 'none';
}
  
function openPopup1() {
  popup1.style.display = 'block';
}

function openPopup2() {
  popup2.style.display = 'block';
}

  
let shareLink = document.getElementById("myInput");
  

let facebook = document.querySelector(".facebook");
facebook.addEventListener ("click",()=>{
  const navUrl = 'https://www.facebook.com/sharer/sharer.php?u=' + shareLink.value;
  window.open(navUrl , '_blank');
})

const encodedUrl = encodeURI(shareLink.value);
const message = `Check out this link: ${encodedUrl}`;
  
let facebookMessenger = document.querySelector(".facebook-messenger");
facebookMessenger.addEventListener ("click",()=>{

  let messengerUrl = 'https://www.messenger.com/';
  window.open(messengerUrl, '_blank');
  
  /*FB.ui({
    method: 'send',
    link: shareLink.value,
  })*/
})
  
let twitter = document.querySelector(".twitter");
twitter.addEventListener ("click", ()=>{
  const navUrl =
    'https://twitter.com/intent/tweet?text=' + shareLink.value;
  window.open(navUrl, '_blank');
})

let linkedin = document.querySelector(".linkedin");
linkedin.addEventListener ("click", ()=>{
  
  let encodedUrl = encodeURIComponent(shareLink.value);
  let shareUrl = 'https://www.linkedin.com/sharing/share-offsite/?url=' + encodedUrl;

  /*let encodedTitle = encodeURIComponent("Motolite");
  let encodedSummary = encodeURIComponent("research and development engineer power electronics");
  if (title) {
    shareUrl += '&title=' + encodedTitle;
  }
  if (summary) {
    shareUrl += '&summary=' + encodedSummary;
  }*/

  window.open(shareUrl, '_blank');
})

let google = document.querySelector(".google");
google.addEventListener ("click", ()=>{
  
  let encodedEmail = encodeURIComponent("");
  let encodedSubject = encodeURIComponent("");
  let encodedBody = encodeURIComponent(shareLink.value);

  let mailtoUrl = 'mailto:' + encodedEmail + '?subject=' + encodedSubject + '&body=' + encodedBody;

  window.location.href = mailtoUrl;
})

let viber = document.querySelector(".viber");
viber.addEventListener ("click", ()=>{

  let encodedUrl = encodeURIComponent(shareLink.value);
  let encodedText = encodeURIComponent("");

  let viberUrl = 'viber://forward?text=' + encodedText + '%20' + encodedUrl;

  window.location.href = viberUrl;
})

let telegram = document.querySelector(".telegram");
telegram.addEventListener ("click", ()=>{

  let encodedUrl = encodeURIComponent(shareLink.value);
  /*let encodedText = encodeURIComponent(text);*/

  /*let telegramUrl = 'https://web.telegram.org/#/im?p=@' + chatId;*/
  let telegramUrl = 'https://web.telegram.org/#/';
  window.open(telegramUrl, '_blank');
  
  /*let encodedUrl = encodeURIComponent(shareLink.value); 
  let shareUrl = 'https://t.me/share/url?url=' + encodedUrl;
  let encodedText = encodeURIComponent(text);
  if (text) {
    shareUrl += '&text=' + encodedText;
  }

  window.open(shareUrl, '_blank');*/
  
})
</script>
<script>
  window.fbAsyncInit = function() {
    FB.init({
      appId            : '753914736457880',
      autoLogAppEvents : true,
      xfbml            : true,
      version          : 'v16.0'
    });
  };
</script>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js"></script>


