<div style="margin:0 auto;" class="pxFormGenerator" id="fy1EEZR2cZ3M5M6SZRuofQ"></div>

<!--<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
* {
  box-sizing: border-box;
}

input[type=text], select, textarea {
  width: 100%;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
  font-size:1.5rem;
  color: #000;
  font-family: raleway;
}

label {
    padding: 12px 12px 12px 0;
    display: inline-block;
    font-size: 1.3rem;
    color: #000;
    font-weight: 700;
}

input[type=submit] {
  width: 1000%;
  background-color: red;
  color: white;
  padding: 8px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  text-align: center;
  font-size:1.5rem;
}

input[type=submit]:hover {
  background-color: #45a049;
}

.container-background {
  border-radius: 5px;
  background-color: lightgray;
  padding: 20px 180px;
  justify-content:center;
  color: #000;
}

.col-25 {
  float: left;
  width: 25%;
  margin-top: 6px;
}

.col-75 {
  float: left;
  width: 100%;
  margin-top: 6px;
  margin-bottom: 6px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
  .lets-connect {
    text-align: center;
    padding:10px 0;
    color:#000;
}
  
  input[type=file]{
    font-size: 1.5rem;
  }

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .col-25, .col-75, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
}
  #wrapper .join-form .lcp-form .resume-wrapper .col-md-12 p[i18n="text"] {
    display: none;
}
  
</style>


<div class="container container-background">
   
  <h2 class="lets-connect">Let's Connect!</h2>
  <form>
        <label for="file-select"> Resume </label>
        <input type="file" name="upload" id="file-select">
    </form>
  
  <form action="/page.thank-you.liquid" method="GET">
    <div class="row">
      <div class="col-25">
        <label for="fname">Position Applied for</label>
      </div>
      <div class="col-75">
        <input type="text" id="fname" name="firstname" placeholder="">
      </div>
    </div>
    <div class="row">
      <div class="col-25">
        <label for="text">Desired Salary</label>
      </div>
       <div class="col-75">
        <input type="text" id="desired-salary" name="desired-salary" placeholder="">
      </div>
    </div>
    <div class="row">
      <div class="col-25">
        <label for="fname">Fullname (Last, First, Middle)</label>
      </div>
      <div class="col-75">
        <input type="text" id="fname" name="fname" placeholder="">
      </div>
    </div>
    <div class="row">
      <div class="col-25">
        <label for="house">House  Number</label>
      </div>
      <div class="col-75">
        <input type="text" id="house" name="house" placeholder="">
      </div>
    </div>
    <div class="row">
      <div class="col-25">
        <label for="street">Street</label>
      </div>
      <div class="col-75">
        <input type="text" id="street" name="street" placeholder="">
      </div>
    </div>
    <div class="row">
      <div class="col-25">
        <label for="subdivision">Subdivision</label>
      </div>
      <div class="col-75">
        <input type="text" id="subdivision" name="subdivision" placeholder="">
      </div>
    </div>
    <div class="row">
      <div class="col-25">
        <label for="brgy">Barangay/Town</label>
      </div>
      <div class="col-75">
        <input type="text" id="brgy" name="brgy" placeholder="">
      </div>
    </div>
    <div class="row">
      <div class="col-25">
        <label for="city">City</label>
      </div>
      <div class="col-75">
        <input type="text" id="city" name="city" placeholder="">
      </div>
    </div>
    <div class="row">
      <div class="col-25">
        <label for="province">Province</label>
      </div>
      <div class="col-75">
        <input type="text" id="province" name="province" placeholder="">
      </div>
    </div>
    
    
    <div class="row">
      <div class="col-25">
        <label for="location">Amenable to work in</label>
      </div>
      <div class="col-75">
        <select id="location" name="location">
          <option value="---">---</option>
          <option value="bulacan" >Bulacan</option>
          <option value="quezon" >Quezon City</option>
          <option value="both">Both</option>
        </select>
      </div>
    </div>
    
    <div class="row">
      <input type="submit" value="Submit">
    </div>
  </form>
</div>

-->