{% section 'raffle-navigation' %}
<style>
h2.outlets_title {
  font-weight: 600;
  font-family: sans-serif;
  margin-top: 66px;
}
  table:not([class]) td, table:not([class]) th {
     padding: 0em;
    border:none;
}
  table:not([class]) {
    box-shadow: none;
}
</style>

<div class="container">
  <center>
<h2 class="outlets_title">ANNEX A</h2>
<h2 style="color:red;font-weight:600;margin-bottom:30px;">LIST OF PARTICIPATING OUTLETS</h2>
</center>

 <table width="100%" style="border: 1px solid white; box-shadow: none;text-align: center;color:#000;">
   <tbody>
  <tr>
    <td>1 Stop Battery Shop - Bacoor</td>
    <td>Cebu Car Quickfix (Banawa) </td>
    <td>G-Six Tunasan, Muntinlupa 1 </td>
    <td>MEG Auto Services Antipolo</td>
  </tr>
  <tr>
    <td>1 Stop Battery Shop - Bacoor 2</td>
    <td>Cebu Massive Auto Parts Center</td>
    <td>Kingstown -Bagong-Ilog </td>
    <td>E D Battery Tarlac 1
</td>
  </tr>
  <tr>
  <td>1 Stop Battery Shop - Banawe</td>
  <td>Cebu Massive Auto Parts Inc</td>
  <td>Kingstown -Banaba 2 </td>
  <td>Trinalica Dasmarinas</td>
  </tr>
<tr>
  <td>1 Stop Battery Shop - Camarin</td>
  <td>Cebu Massive Auto Parts Inc.- Carcar </td>
  <td>Kingstown -Capitol Hills </td>
  <td>Goldexen Power Marketing - Alangilan
</td>
</tr>
  <tr>
  <td>1 Stop Battery Shop - E. Rod </td>
  <td>Cebu Massive Auto Parts Inc.- Mambaling </td>
  <td>Kingstown -Marikina</td>
  <td>P.A Jasareno San Roque</td>

  </tr>
  <tr>
  <td>1 Stop Battery Shop - Imus </td>
  <td>Cebu Massive Auto Parts Inc.- Talisay 1 </td>
  <td>Kingstown -Montalban </td>
  <td>Goldexen Power Marketing - Ortigas(Cainta)</td>
</tr>
   <tr>
  <td>1 Stop Battery Shop - Mindanao Ave </td>
  <td>Cebu Massive Auto Parts Inc.- Talisay 2</td>
  <td>Kingstown -Pag-Asa</td>
     <td>San Pablo Battery Depot- Nasugbu</td>
</tr>
  <tr>
  <td>1 Stop Battery Shop - Novaliches </td>
  <td>Centroparts Auto Supply & GM </td>
  <td>Kingstown -Project 4 </td>
    <td>San Pablo Battery Depot- Infanta</td>
</tr> 
  <tr>
  <td>1 Stop Battery Shop - Nueva Ecija </td>
  <td>Chrisden Marketing Philippines Inc </td>
  <td>Kingstown -San Mateo </td>
  <td>San Pablo Battery Depot- Malvar</td>
</tr>
  <tr>
  <td>1 Stop Battery Shop - Roosevelt </td>
  <td>Chucky Auto Supply </td>
  <td>Kingstown -Taytay 1</td>
  <td>San Pablo Battery Depot- San Felipe
</td>
</tr>
  <tr>
  <td>1 Stop Battery Shop - Susano </td>
  <td>City Roaders Ent. </td>
  <td>Kingstown -Tikling</td>
  <td>Asian Ring Point Malolos</td>
  </tr> 
  <tr>
  <td>1 Stop Battery Shop - Valenzuela </td>
  <td>CJ Automotive</td>
  <td>Kingstown- Zambales </td>
  <td>San Pablo Battery Depot- Sta Cruz 2</td>
</tr> 
   <tr>
  <td>1 Stop Battery Shop - Valenzuela 1 </td>
  <td>CJF Battery Depot Inc - La Union </td>
  <td>Kingsway -A61 Tanay 2</td>
  <td>San Pablo Battery Depot- Bolbok 2</td>
</tr><tr>
  <td>1 Stop Battery Shop - Gapan - Talavera </td>
  <td>CJF Battery Depot Pangasinan </td>
  <td>Kingsway- Cogeo </td>
  <td>BatParts - Kalentong</td>
</tr> <tr>
  <td>1 Stop Battery Shop Inc. (Novaliches) </td>
  <td>Click Start Battery Center Inc. </td>
  <td>La Suerte Mdsg. Corp.</td>
  <td>San Pablo Battery Depot- San Roque</td>
</tr> <tr>
  <td>1 Stop Battery Shop North (Talavera) </td>
  <td>CMA Auto Electrical Shop </td>
  <td>Legazpi Willem Marketing Inc</td>
  <td>BATTERYWORKZ MARKETING INC. (CAINTA)- not</td>
</tr> <tr>
  <td>1Click Raymundo </td>
  <td>CMC Tire Center  </td>
  <td>Legs Trading Company </td>
  <td>BATTERYWORLD INC. (PASONG)</td>
</tr>
  <tr>
  <td>1Click Sandoval </td>
  <td>CML Auto Supply </td>
  <td>LG Cruz Tire Supply </td>
  <td>FGR Angeles</td>
</tr>
<tr>
  <td>4-ABC Battery Charging Services </td>
  <td>Cotabato Auto Supply </td>
  <td>Lipeno's Auto Supply </td>
  <td>BDOCLI -San Narciso not</td>
</tr> <tr>
  <td>5 Star Auto Supply </td>
  <td>Cotabato Union Hardware</td>
  <td>Majextic King </td>
  <td>San Pablo Battery Depot- Sta Cruz 3</td>
</tr> <tr>
  <td>5J1R Battery Trading </td>
  <td>CR3ME Marketing Corporation</td>
  <td>Maning Batt</td>
  <td>CAGAYAN VALLEY BATTERY SALES, INC.</td>
</tr> <tr>
  <td>A.B. Faustino Tires and Auto Parts </td>
  <td>CRRV Trading </td>
  <td>Marben Auto Supply</td>
  <td>San Pablo Battery Depot- Bolbok 1</td>
</tr> <tr>
  <td>Acheivers Sales </td>
  <td>CTU & Sons Distribution, Inc</td>
  <td>Maxemega Bagong Barrio </td>
  <td>CHRISDEN MARKETING PHILIPPINES INC.</td>
</tr> <tr>
  <td>ACM Battery Center </td>
  <td>D2 AFPOVAI Retail </td>
  <td>Maxemega Caloocan </td>
  <td>MLG MANUEL AUTOMOTIVE BATTERY SUPPLY</td>
</tr> <tr>
  <td>ADB27 Trading </td>
  <td>D2 Battery Inc. - Kalayaan </td>
  <td>Maxemega Del Monte</td>
  <td>San Pablo Battery Depot- Alaminos</td>
</tr> <tr>
  <td>Aileen Battery Center </td>
  <td>D2 Battery Karport </td>
  <td>Maxemega Inc (Araneta) </td>
  <td>San Pablo Battery Depot- Blumentritt</td>
</tr> <tr>
  <td>Aljimson Auto Supply </td>
  <td>D2 Battery Macapagal </td>
  <td>Maxemega Las Pinas</td>
  <td>BatParts - E.Rodriguez </td>
</tr> <tr>
  <td>Andy's Auto Supply </td>
  <td>Dan Mars Auto Supply</td>
  <td>Maxemega Valenzuela</td>
  <td>ECSD TRADING -not </td>
</tr> <tr>
  <td>ANR Auto Supply </td>
  <td>Davao Max Power Enterprise  </td>
  <td>MDJJ Marketing WH1 </td>
  <td>F1 WINNER CORPORATION</td>
</tr> <tr>
  <td>Arkhelon Battery Shop </td>
  <td>Derricks Cycle Parts & Accessories</td>
  <td>MDJJ Marketing WH2 </td>
  <td>San Pablo Battery Depot- Colago</td>
</tr> <tr>
  <td>Arthur's Tire & Battery Supply </td>
  <td>Don Pedro Battery Center </td>
  <td>Meg Car Aircon Services </td>
  <td>G- Six Mindanao Ave.- not</td>
</tr> <tr>
  <td>ASD Battery and Vulcanizing Shop </td>
  <td>DSD Battery & Tire Supply Inc. </td>
  <td>Mega Blaze Marketing </td>
  <td>G-Six MacArthur Valenzuela not</td>
</tr> <tr>
  <td>Asian Ring Point Bacoor 1</td>
  <td>Dynamic Tire Trading </td>
  <td>Mercury Cebu </td>
  <td>G-Six Sampaloc, Manila</td>
</tr> <tr>
  <td>Asian Ring Point Bacoor 2 </td>
  <td>E D Battery Tarlac 1 </td>
  <td>Mercury Davao </td>
  <td>G-Six West Ave. not</td>
</tr> <tr>
  <td>Asian Ring Point Batangas 1 </td>
  <td>EBR Marketing </td>
  <td>Mercury Manresa </td>
  <td>San Pablo Battery Depot- Sto Tomas</td>
</tr> <tr>
  <td>Asian Ring Point Batangas 2 </td>
  <td>EBR-SN Tire Plaza </td>
  <td>Mercury Pantranco </td>
  <td>FGR Taguig 2</td>
</tr> <tr>
  <td>Asian Ring Point Batangas 3 </td>
  <td>ECCO Hardware</td>
  <td>Mercury Tarlac </td>
  <td>MEG Auto Services Antipolo
</td>
</tr> <tr>
  <td>Asian Ring Point Cainta 1 </td>
  <td>ECSD Trading </td>
  <td>MGK3 Battery Sales Inc</td>
  <td>FGR Bocaue</td>
</tr> <tr>
  <td>Asian Ring Point Cainta 5 </td>
  <td>Edgar's Battery Center </td>
  <td>Mighty Power Battery Center </td>
  <td>FGR Binondo 2</td>
</tr> <tr>
  <td>Asian Ring Point EDSA</td>
  <td>ELI Enterprise </td>
  <td>MOT-OR County Enterprise </td>
  <td>FGR Barangka</td>
</tr> <tr>
  <td>Asian Ring Point Malabon </td>
  <td>Elip Enterprises </td>
  <td>Motoway Inc.</td>
  <td>Infinity C-5 Taguig</td>
</tr> 
     <tr>
  <td>Asian Ring Point Marketing Inc. </td>
  <td>Elite Battery (ESJ Battery) </td>
  <td>Mountain Ridge Battery Depot & T/S </td>
  <td>P A Jasareno Trading Mayon Avenue </td>
</tr> <tr>
  <td>Asian Ring Point Taytay </td>
  <td>EMC Tire Center </td>
  <td>MultiLink Tire Exchange and Service Center </td>
  <td>P A Jasareno Trading Palestina Pili</td>
</tr> <tr>
  <td>Asian Ringpoint Cainta 3 </td>
  <td>Everstrong Enterprise</td>
  <td>Myracle Trading </td>
  <td>P.A Jasareno Trading Francia</td>
</tr> <tr>
  <td>Asian Ringpoint Cainta 4 </td>
  <td>F & E (Iloilo) Inc. WH2</td>
  <td>NCS Trading</td>
  <td>P.A Jasareno Trading New San Roque</td>
</tr> <tr>
  <td>Asian Ringpoint Dasmarinas </td>
  <td>F & E Enterprises Inc. - ILOILO</td>
  <td>Negros Marketing 328, Inc. </td>
  <td>Pilibat-Sta.Cruz</td>
</tr> <tr>
  <td>Asian Ringpoint Guiguinto 1</td>
  <td>F1 Winner Corporation </td>
  <td>New Bian Yek Commercial </td>
  <td>BatParts - Tambo</td>
</tr> <tr>
  <td>Asian Ringpoint Karuhatan </td>
  <td>FCRM Sales Center </td>
  <td>New Era Auto Supply </td>
  <td>RGD VEHICLE TIRES AND BATTERIES TRA</td>
</tr> <tr>
  <td>Asian Ringpoint Kumintang </td>
  <td>FGR Antipolo 1 </td>
  <td>New Hi-Lite Electrical </td>
  <td>San Pablo Battery Depot Inc - Sta Cruz</td>
</tr> <tr>
  <td>Asian Ringpoint Malolos </td>
  <td>FGR Antipolo 2</td>
  <td>New Laoag Auto Supply 1 </td>
  <td>TIRE ASIA GROUP INC.</td>
</tr> <tr>
  <td>Asian Ringpoint Pacita </td>
  <td>FGR Baay</td>
  <td>New Laoag Auto Supply 2 </td>
  <td>Trina Lica Marketing -  Molino
</td>
</tr> <tr>
  <td>Asian Ringpoint San Pedro </td>
  <td>FGR Bagong Ilog </td>
  <td>New Mario's Auto Supply, Inc. </td>
  <td>Trinalica Dasmarinas</td>
</tr> <tr>
  <td>Asian Ringpoint Sta Rosa 1 </td>
  <td>FGR Binondo</td>
  <td>Nosol Tire Supply </td>
  <td>Kingsway - Teresa</td>
</tr> <tr>
  <td>Asian Ringpoint Sta Rosa 2 </td>
  <td>FGR Boni</td>
  <td>Oldrich Car Clinic </td>
  <td>Pili Batt - Balayan</td>
</tr>
   <tr>
  <td>Asian Ringpoint Tabang </td>
  <td>FGR Capitolyo</td>
  <td>OLM Merchandising </td>
  <td>Battman Trading</td>
</tr>
   <tr>
  <td>Astronic Multi-Trade Corporation </td>
  <td>FGR Dagupan </td>
  <td>One Click Antipolo </td>
  <td>GNG Battery</td>
</tr> 
   <tr>
  <td>Astronic Multi-Trade Corporation WH2</td>
  <td>FGR Lingayen</td>
  <td>One Click Battery Depot Inc. </td>
  <td>LSDD BATTERY CENTER</td>
</tr>
 <tr>
  <td>Autophil Marketing Corporation</td>
  <td>FGR Lingayen </td>
  <td>One Click Greenland</td>
  <td>CATL</td>
</tr> <tr>
  <td>Autopro Central </td>
  <td>FGR Manaoag</td>
  <td>One Click Greenwoods </td>
</tr><tr>
  <td>Autoquick Auto & Motorcycle Supply </td>
  <td>FGR Mangaldan </td>
  <td>One Click Ortigas</td>
  </tr> <tr>
  <td>Avila Battery Hauz </td>
  <td>FGR Marilao</td>
  <td>Orient Star Marketing </td>
</tr>
   <tr>
  <td>AVM Batteries Center </td>
  <td>FGR Mercedes</td>
  <td>P A Jasareno Sorsogon </td>
</tr> <tr>
  <td>Bateryahan Batasan </td>
  <td>FGR Mercedes 2</td>
  <td>P A Jasareno Trading Naga </td>
</tr><tr>
  <td>Bateryahan C6 </td>
  <td>FGR Navotas</td>
  <td>PAM Apex Venture Inc. </td>
</tr> <tr>
  <td>Bateryahan Concepcion </td>
  <td>FGR Pateros</td>
  <td>Picarah A/S </td>
</tr> <tr>
  <td>Bateryahan San Mateo  </td>
  <td>FGR San Pedro</td>
  <td>Pili Batt - Lemery </td>
</tr> <tr>
  <td>Bateryahan Tanong </td>
  <td>FGR Southwoods </td>
  <td>Pili Batt - Calamba</td>
</tr> <tr>
  <td>Bateryahan, Inc.  (St. Benedict)</td>
  <td>FGR Taguig</td>
  <td>Pili Batt - Lipa </td>
</tr><tr>
  <td>BatParts - Baesa</td>
  <td>FGR Tambo</td>
  <td>Pili Batt - Los Banos </td>
</tr> <tr>
  <td>BatParts - Benitez </td>
  <td>FGR Taytay </td>
  <td>Pili Batt - Makati </td>
</tr> <tr>
  <td>BatParts - Carino </td>
  <td>FGR Tondo </td>
  <td>Pili Batt - Marawoy </td>
</tr><tr>
  <td>BatParts - Nagtahan </td>
  <td>Fredlite Battery </td>
  <td>Pili Batt - Molino </td>
</tr><tr>
  <td>BatParts - NAIA </td>
  <td>Fredzen Gen. Mdse. And Car Aircon </td>
  <td>Pili Batt - Sta. Cruz</td>
</tr><tr>
  <td>BatParts - Novaliches </td>
  <td>G- Six Mindanao Ave.</td>
  <td>Pili Batt - Sto Tomas </td>
</tr> <tr>
  <td>BatParts - Onyx </td>
  <td>Gellie Anne Trading </td>
  <td>Pili Batt - Calamba </td>
</tr><tr>
  <td>BatParts - Paco </td>
  <td>Gemini Auto Supply</td>
  <td>Pili Batt - Inosloban </td>
</tr></tr> <tr>
  <td>BatParts - Pasay </td>
  <td>GENASCO Marketing Corpora</td>
  <td>Pili Batt - San Pedro </td>
</tr> <tr>
  <td>BatParts - Pasig</td>
  <td>Glan Commercial </td>
  <td>Pilibat - Sta.Cruz </td>
</tr> <tr>
  <td>BatParts - Sangandaan </td>
  <td>Global Line Tire & Battery Center </td>
  <td>Power Trust Trade Sales </td>
</tr><tr>
  <td>BatParts - Visayas </td>
  <td>Goldexen Power Marketing - Ortigas (Cainta) </td>
  <td>Powerstart Auto Care Inc.</td>
</tr><tr>
  <td>Batparts Supply Co Inc. (North) </td>
  <td>Great Eastern Parts and Supply</td>
  <td>PRIMEX Trade Sales </td>
</tr><tr>
  <td>Batparts Tondo</td>
  <td>Grupo Uvero Inc.</td>
  <td>PRIMEX Trade Sales Inc (Bacolod) </td>
</tr><tr>
  <td>Battery Depot of Central Luzon </td>
  <td>G-Six Abad Santos</td>
  <td>PRIMEX Trade Sales (Iloilo) </td>
</tr> <tr>
  <td>Battery Master Binan </td>
  <td>G-Six Aurora, E. Rodriguez </td>
  <td>PRIMEX Trade Sales, Inc (Bacolod) </td>
</tr><tr>
  <td>Battery Master Binan 2  </td>
  <td>G-Six Bayanbayan, Marikina </td>
  <td>R System </td>
</tr> <tr>
  <td>Battery Master Cavite  </td>
  <td>G-Six Better Living, Bicutan 1 </td>
  <td>R.M. Aves Jr. Trading </td>
</tr><tr>
  <td>Battery Master Cavite 3  </td>
  <td>G-Six Better Living, Bicutan 2 </td>
  <td>R.V. Flores Enterprises </td>
</tr> <tr>
  <td>Battery Master Cavite 4 </td>
  <td>G-Six BF 1 (Sucat, President's Avenue)</td>
  <td>RBO United Autoparts and Hardware </td>
</tr> <tr>
  <td>Battery Master Cavite 5 </td>
  <td>G-Six BF 2 Sucat, President's Avenue </td>
  <td>RC Lubes Trading </td>
</tr><tr>
  <td>Battery Master Cavite 6 </td>
  <td>G-Six Bicutan 4 </td>
  <td>RC Trading </td>
</tr><tr>
  <td>Battery Master Cavite 7 </td>
  <td>G-Six Bonny Serrano, Cubao </td>
  <td>REYLITE Battery Center </td>
</tr>
  <tr>
  <td>Battery Master Gen Trias  </td>
  <td>G-Six Cabuyao </td>
  <td>RGD Vehicle tires and batteries 2</td>
</tr><tr>
  <td>Battery Master Head Office Cavite</td>
  <td>G-Six Cainta, Rizal, Ortigas Extension </td>
  <td>RGD Vehicles Tires and Batteries Trading</td>
</tr><tr>
  <td>Battery Master Las Pinas </td>
  <td>G-Six Carmona </td>
  <td>RGV Auto Supply </td>
</tr><tr>
  <td>Battery Master Las Pinas 2 </td>
  <td>G-Six Commonwealth North Fairview </td>
  <td>RJN Auto Supply </td>
</tr> <tr>
  <td>Battery Master Las Pinas 5  </td>
  <td>G-Six Commonwealth Regalado (Dahlia) </td>
  <td>RJV AUTO SUPPLY</td>
</tr> <tr>
  <td>Battery Master Las Pinas 7 </td>
  <td>G-Six Evangelista </td>
  <td>RMKV Auto Supply </td>
</tr></tr> <tr>
  <td>Battery Master Naga </td>
  <td>G-Six F. Blumintritt</td>
  <td>Roadway Motor Parts </td>
</tr><tr>
  <td>Battery Master Naga 2</td>
  <td>G-Six Gloria Diaz </td>
  <td>Robert Auto Parts </td>
</tr><tr>
  <td>Batparts Onyx </td>
  <td>G-Six H. Lopez, Tondo </td>
  <td>RoDario Ar Batasan </td>
</tr> <tr>
  <td>Battery Master's Depot - Bacolod</td>
  <td>G-Six Jedik, Quirino Highway 2 </td>
  <td>Rodcar Batasan</td>
</tr> <tr>
  <td>Battery Master's Depot - Cebu </td>
  <td>G-Six Jupiter </td>
  <td>Rodcar Kamias</td>
</tr><tr>
  <td>Battery Master's Depot - Davao  </td>
  <td>G-Six Lower Bicutan </td>
  <td>Rodcar MARKETING</td>
</tr> <tr>
  <td>Battery Master's Inc.  (Las Pinas)</td>
  <td>G-Six MacArthur Valenzuela </td>
  <td>Roger's Electrical </td>
</tr> <tr>
  <td>Battery Master's Inc. (Mindoro) </td>
  <td>G-Six Malabon 2 </td>
  <td>Roshel Apung Boy A/S </td>
</tr> 
    <tr>
  <td>Battery Master's Inc. (Mindoro 2)</td>
  <td>G-Six Masinag  </td>
  <td>RPG Distribution Ventures </td>
</tr>
   <tr>
  <td>Battery Master's Inc.(Palawan) </td>
  <td>G-Six Mayamot </td>
  <td>RPS Auto Supply </td>
</tr></tr> <tr>
  <td>Battery Workz Maybunga </td>
  <td>G-Six Merville, Pasay </td>
  <td>S 3 E Marketing Corporation </td>
</tr></tr> <tr>
  <td>Battery Workz Meralco Ave</td>
  <td>G-Six Meycauayan  </td>
  <td>San Pablo Battery Depot Inc - Calicanto </td>
</tr> <tr>
  <td>Battery Workz Pasay </td>
  <td>G-Six Molino </td>
  <td>San Pablo Battery Depot Inc - Calihan </td>
</tr></tr> <tr>
  <td>Batteryworkz Marketing Inc. (Cainta) </td>
  <td>G-Six N. Domingo </td>
  <td>San Pablo Battery Depot Inc - Main </td>
</tr><tr>
  <td>BatteryWorld, Inc. (Katipunan)</td>
  <td>G-Six Pasig </td>
  <td>San Pablo Battery Depot Inc - Pagsanjan </td>
</tr><tr>
  <td>BatteryWorld, Inc. (Maceda) </td>
  <td>G-Six Quezon Ave.</td>
  <td>San Pablo Battery Depot Inc - Real Calamba </td>
</tr> <tr>
  <td>BDOCLI Angeles </td>
  <td>G-Six Sampaloc Manila</td>
  <td>San Pablo Battery Depot Inc - Siniloan </td>
</tr> <tr>
  <td>BDOCLI Angeles 2 </td>
  <td>G-Six San Pedro</td>
  <td>San Pablo Battery Depot Inc - Wawa </td>
</tr> <tr>
  <td>BDOCLI CaMarc Ling </td>
  <td>G-Six Tandang Sora </td>
  <td>San Pablo Battery Depot Inc. </td>
</tr> 
    <tr>
  <td>BDOCLI Castillejos </td>
  <td>G-Six Tunasan, Muntinlupa 2 </td>
  <td>Sanjo Battery Depot Inc. </td>
</tr>
   <tr>
  <td>BDOCLI Cleofers  </td>
  <td>G-Six Tungko</td>
  <td>Searton Marketing - Naga </td>
</tr><tr>
  <td>BDOCLI Dinalupihan </td>
  <td>G-Six V. Luna </td>
  <td></td>
</tr> <tr>
  <td>BDOCLI Dolores (Retail Sales) </td>
  <td>G-Six West Ave. </td>
  <td>Searton Marketing Corporation </td>
</tr> <tr>
  <td>BDOCLI Henson  </td>
  <td>G-Six West Service </td>
  <td>Searton Mktg. Corp. - Antipolo </td>
</tr><tr>
  <td>BDOCLI Hermosa </td>
  <td>Harry's Performance Center, Inc</td>
  <td>Searton Urdaneta </td>
</tr><tr>
  <td>BDOCLI Iba </td>
  <td>Highway Tire Supply </td>
  <td>Seguro Marketing </td>
</tr> <tr>
  <td>BDOCLI Lubao </td>
  <td>ILIGAN Dennie So</td>
  <td>Series & Parallel Marketing </td>
</tr> <tr>
  <td>BDOCLI Mabalacat </td>
  <td>ILOILO Tractor Parts </td>
  <td>Somar Tire & Vulcanizing Shop </td>
</tr> <tr>
  <td>BDOCLI Mangatarem</td>
  <td>Independent Battery Center </td>
  <td>Stalwart Battery Center - Calamba </td>
</tr><tr>
  <td>BDOCLI Mariveles  </td>
  <td>Iriga Joe Motors Inc</td>
  <td>STC Tire & Battery Center</td>
</tr><tr>
  <td>BDOCLI Nepo </td>
  <td>J & J The Dreamers Gen. Mdse.  </td>
  <td>Surestart Battery Corporation </td>
</tr> <tr>
  <td>BDOCLI Olongapo</td>
  <td>Jairusdun Auto Supply </td>
  <td>Tierodman Auto Center Inc.</td>
</tr><tr>
  <td>BDOCLI Paniqui </td>
  <td>Jardiel Battery Shop </td>
  <td>Timog Tire Haus Corporation </td>
</tr><tr>
  <td>BDOCLI San Fernando</td>
  <td>JC Brothers </td>
  <td>Tiujongco Battery Philippines, Corp </td>
</tr>
   <tr>
  <td>BDOCLI San Manuel </td>
  <td>JDL AS</td>
  <td>Tonguia Electrical Shop & Gen. Mdse </td>
</tr>
   <tr>
  <td>BDOCLI San Matias  </td>
  <td>JDT Trading</td>
  <td>Trina Lica Marketing -  Molino </td>
</tr>
   <tr>
  <td>BDOCLI San Narciso</td>
  <td>Jericho Sabile Battery & Auto Supply </td>
  <td>Trina Lica Marketing - Bayanihan</td>
</tr>
   <tr>
  <td>BDOCLI Sta Cruz </td>
  <td>Jerry Auto Supply </td>
  <td>Trina Lica Marketing - Cainta 3 </td>
</tr>
   <tr>
  <td>BDOCLI Sta Rita</td>
  <td>JESOLLY - WILSON </td>
  <td>Trina Lica Marketing - Kumintang </td>
</tr>
   <tr>
  <td>BDOCLI Tarlac 2 </td>
  <td>JGT Tire Supply </td>
  <td>Trina Lica Marketing - Santolan </td>
</tr>
   <tr>
  <td>BDOCLI Victoria </td>
  <td>JLB La Trinidad </td>
  <td>Trina Lica Marketing - Sta Rosa </td>
</tr>
   <tr>
  <td>BDOCLI Zambales </td>
  <td>JM Cunanan Gen. Mdse. </td>
  <td>Trina Lica Marketing -  Molino </td>
</tr>
   <tr>
  <td>BFF Battery Center</td>
  <td>Joven Tire Supply </td>
  <td>Triple R Battery Trading</td>
</tr>
   <tr>
  <td>BG Rosel Trading Corp.</td>
  <td>JRB Calibration Legazpi </td>
  <td>Twin B Battery Marketing Inc </td>
</tr>
   <tr>
  <td>Boltcar Batteries Trading </td>
  <td>JRB Calibration Naga</td>
  <td>Ultravolts Corp. WH1 - Davao</td>
</tr>
<tr>
  <td>Braza Marketing </td>
  <td>JRYG Auto Parts </td>
  <td>Ultravolts Corp. WH1 DAVAO </td>
</tr>
   <tr>
  <td>C-A Lim Trading </td>
  <td>Kan Ping Commercial </td>
  <td>Ultravolts Corp. WH2 - General Santos </td>
</tr>
   <tr>
  <td>Cagayan Valley Battery Sales Inc 2 (2) </td>
  <td>Kapitan Parts Center Co.</td>
  <td>Universal Automart </td>
</tr>
   <tr>
  <td>Cagayan Valley Battery Sales Inc 4 </td>
  <td>Kapitan Parts Center - Cebu </td>
  <td>Uy Marketing </td>
</tr>
   <tr>
  <td>Cagayan Valley Battery Sales Inc. 1</td>
  <td>Kingstown </td>
  <td>Vargas Motorworld </td>
</tr>
   <tr>
  <td>Cagayan Valley Battery Sales Inc. 2</td>
  <td>Kingstown - Burgos </td>
  <td>VICSON Auto Supply </td>
</tr>
     <tr>
  <td>Cagayan Valley Battery Sales Inc. 3 </td>
  <td>Kingstown - Cavite </td>
  <td>Vien A/S & Welding Shop</td>
</tr>
   <tr>
  <td>Capital Industries Inc.</td>
  <td>Kingstown - E. Rodriguez </td>
  <td>VJM Tire Supply </td>
</tr>
   <tr>
  <td>Carworks </td>
  <td>Kingstown - Eastwood Libis </td>
  <td>Volts Plus Battery Center </td>
</tr>
   <tr>
  <td>Carworks Commonwealth </td>
  <td>Kingstown - Fairlane </td>
  <td>YBL Battery Supply Inc. </td>
</tr>
   <tr>
  <td>Carworks Marikina </td>
  <td>Kingstown - Jala - Jala Rizal </td>
  <td>Zambales Viajero Tire Clinic </td>
</tr>
   <tr>
  <td>Battery Master Las Pinas 4  </td>
  <td>G-Six Commonwealth Regalado (Commonwealth) </td>
  <td>Battery Master Amadeo</td>
</tr>
   <tr>
  <td>Carworks Panay</td>
  <td>Kingstown - Montalban 2 </td>
  <td>TIRE ASIA GROUP INC.
</td>
</tr>
   <tr>
  <td>CASI Marketing</td>
  <td>Kingstown - Morong  </td>
  <td>San Pablo Battery Depot Inc - Sta Cruz
</td>
</tr>
   <tr>
  <td>Cebu Car Quickfix Corp. (Tacloban) </td>
  <td>Kingstown -AFP Housing </td>
  <td>CAGAYAN VALLEY BATTERY SALES, INC.
</td>
</tr>
   <tr>
  <td>Cebu Car Quickfix Corp. WH2 </td>
  <td>Kingstown -Antipolo </td>
  <td>BATTERYWORLD INC. (PASONG TAMO)
</td>
   </tr>
   </tbody>
 </table>
</div>