{% section 'winners-navigation' %}
<STYLE>
  h2.outlets_title {
  font-weight: 600;
  font-family: sans-serif;
  margin-top: 70px;
  margin-bottom: 30px;
  color:red;
}
  .giftcard_500 {
   font-family: raleway;
  font-size: 2rem;
  font-weight: 700;    
  }
  .giftcard_100 {
   font-family: raleway;
    font-size: 2rem;
    font-weight: 700;
  }
  .img-fluid {
    width: 100%!important;
    height: auto;
    margin-top: 55px;
    margin-bottom: 7px;
  }
  .promo_mechanics {
  color: red;
    font-weight: 700;
    font-size: 33px;
    margin-top: 29px;
    margin-bottom: 14px;
    background-color: #d3dbe2;
    padding: 8px;
}
</STYLE>
<div class="container">
  <img src="https://cdn.shopify.com/s/files/1/0615/7982/1304/files/DRAW_DATE_copy.png?v=1681403005" class="img-fluid">
  <center>
<!--<h2 class="outlets_title">CUSTOMER E-WARRANTY RAFFLE - 1ST DRAW</h2>-->
  <img src="https://cdn.shopify.com/s/files/1/0615/7982/1304/files/prize-BANNER2--1200X400.jpg?v=1681403019" class="img-fluid">
</center>

<table width="100%" style="border: 1px solid white; box-shadow: none;text-align: center;color:#000;">
<tbody>
  <!--
  <tr>
  <td style="font-weight:700;background:#0079ff8c;font-size:20px;font-family: sans-serif;">Name of Winners</td>
  <td style="font-weight:700;background:#0079ff8c;font-size:20px;font-family: sans-serif;">Price List</td>
  </tr>
  -->
   <tr>
  <td style="font-family: Raleway;font-size: 2rem;font-weight: 700;">Reby Ann Rico</td>
  <td style="font-family: Raleway;font-size: 2rem;font-weight: 700">Nicanor M. Santos</td>
  </tr>
  </table>
  <table width="100%" style="border: 1px solid white; box-shadow: none;text-align: center;color:#000;">
    <tr>
  <td style="font-family: Raleway;font-size: 2rem;font-weight: 700">Reynaldo Magpantay</td>
  </tr>
  </table>
    
  <table width="100%" style="border: 1px solid white; box-shadow: none;text-align: center;color:#000;">
   <img src="https://cdn.shopify.com/s/files/1/0615/7982/1304/files/prize-BANNER3--1200X400.jpg?v=1681403020" class="img-fluid">
  <tr>
  <td class="giftcard_500">Ma. Christina L. Calidro</td>
  <td class="giftcard_500">Jimmy Fernandez</td>
  </tr>
    <tr>
  <td class="giftcard_500">Valeriano Riel</td>
  <td class="giftcard_500">Rommel Savillo</td>
  </tr>
    <tr>
  <td class="giftcard_500">Jeric Morales</td>
  <td class="giftcard_500">Charlie Galos</td>
  </tr>
    <tr>
  <td class="giftcard_500">Paolo Feraren</td>
  <td class="giftcard_500">Manuel Carlos</td>
  </tr>
    <tr>
  <td class="giftcard_500">Godfey Alex</td>
  <td class="giftcard_500">Voltaire Lagasca</td>
  </tr>
    <tr>
  <td class="giftcard_500">Jianne Libunao</td>
   <td class="giftcard_500">Dindo De Jesus</td>
  </tr>
    <tr>
  <td class="giftcard_500">Charlie Espino</td>
   <td class="giftcard_500">Rolly Cabarles</td>
  </tr>
    <tr>
 <td class="giftcard_500">Jonathan Jan Lapuz</td>
  <td class="giftcard_500">Idolor Jophil</td>
  </tr>
    <tr>
   <td class="giftcard_500">Jerico Yacar</td>
   <td class="giftcard_500">Jac Plaza</td>
  </tr>
    <td class="giftcard_500">Paolo Virata</td>
  <td class="giftcard_500">Tsukasa Kiuchi</td>
  </tr>
    <tr>
  <td class="giftcard_500">Virgilio Basco</td>
  <td class="giftcard_500">Tirzo Taguibao</td>
  </tr>
    <tr>
  <td class="giftcard_500">Juan Paolo Joaquin Reyes</td>
  <td class="giftcard_500">Gerald Villas</td>
  </tr>
  </table>
  <table width="100%" style="border: 1px solid white; box-shadow: none;text-align: center;color:#000;">
  <tr>
  <td class="giftcard_500">Alvin Ramos</td>
  </tr>
  </table>

  <table width="100%" style="border: 1px solid white; box-shadow: none;text-align: center;color:#000;">
  <img src="https://cdn.shopify.com/s/files/1/0615/7982/1304/files/prize-BANNER4--1200X400.jpg?v=1681403019" class="img-fluid">
  <tr>
  <td class="giftcard_100">Hazel Gomez</td>
  <td class="giftcard_100">Antero Catibayan</td>
  </tr>
  <tr>
  <td class="giftcard_100">Carlo Saquino</td>
  <td class="giftcard_100">Ma. Selina Bugayong</td>
  </tr>
  <tr>
  <td class="giftcard_100">Nica Sayago</td>
  <td class="giftcard_100">Michael Justin Valles</td>
  </tr>
  
  <tr>
  <td class="giftcard_100">Rosalinda Romero</td>
   <td class="giftcard_100">Melchor Raymundo</td>
  </tr>
  <tr>
 <td class="giftcard_100">Mark Teng</td>
 <td class="giftcard_100">Fernando Alarcon</td>
  </tr>
  <tr>
  <td class="giftcard_100">Raymond Torrijos</td>
  <td class="giftcard_100">Ramon Luis Sto Domingo</td>
  </tr>
  <tr>
  <td class="giftcard_100">Raleh Kiner Gadon</td>
  <td class="giftcard_100">Jack Robles</td>
  </tr>
 
  <tr>
  <td class="giftcard_100">Nyl Brian Ong</td>
  <td class="giftcard_100">M. Dela Rosa</td>
  </tr>
  <tr>
  <td class="giftcard_100">Color View CATV</td>
  <td class="giftcard_100">Debora Anne Pengson</td>
  </tr>
  <tr>
  <td class="giftcard_100">Reynaldo Taluzo</td>
  <td class="giftcard_100">Rodolfo (Randy) Fonte Jr.</td>
  </tr>
  <tr>
  <td class="giftcard_100">Orland Garcia</td>
  <td class="giftcard_100">Ryan Resurreccion</td>
  </tr>
  
  <tr>
  <td class="giftcard_100">Alvin Sangalang</td>
  <td class="giftcard_100">Richard Salinas</td>
  </tr>
  <tr>
  <td class="giftcard_100">Danilo Manzano</td>
  <td class="giftcard_100">Cecillia Gamos</td>
  </tr>
  <tr>
  <td class="giftcard_100">May Anne Sambo</td>
  <td class="giftcard_100">Jean Espina</td>
  </tr>
  <tr>
  <td class="giftcard_100">John Onas</td>
  <td class="giftcard_100">Stephen Cokehyeng</td>
  </tr>
  <tr>
  <td class="giftcard_100">Levi Delos Santos</td>
   <td class="giftcard_100">Herald Amarille</td>
  </tr>
  <tr>
 <td class="giftcard_100">Rolando Pelagio</td>
 <td class="giftcard_100">Pete Pascual</td>
  </tr>
  <tr>
  <td class="giftcard_100">Micheal Mateo</td>
  <td class="giftcard_100">Maureen Castillo</td>
  </tr>
  <tr>
  <td class="giftcard_100">Marize De Leon</td>
   <td class="giftcard_100">Kenneth Von Arzagon</td>
  </tr>
  <tr>
  <td class="giftcard_100">Raul Coralde</td>
  <td class="giftcard_100">Wilson Tang</td>
  </tr>
  <tr>
  <td class="giftcard_100">Noli Calicdan</td>
   <td class="giftcard_100">Martin Enrile</td>
  </tr>
  <tr>
 <td class="giftcard_100">KS Sunico</td>
  <td class="giftcard_100">Joey Chavez</td>
  </tr>
  <tr>
  <td class="giftcard_100">Maria Barbara Uy</td>
  <td class="giftcard_100">Rafael Aguilar</td>
  </tr>
  <tr>
  <td class="giftcard_100">Geraldine Hernandez</td>
  <td class="giftcard_100">Francisco Gabriel</td>
  </tr>
  <tr>
 <td class="giftcard_100">Fermin Francisco</td>
 <td class="giftcard_100">Enzo Magdato</td>
  </tr>
  </tbody>
 </table>

  <h2 class="promo_mechanics">ANNOUNCEMENT OF WINNERS AND CLAIMING OF PRIZES</h2> 
  <ol>
  <li>Winners will be notified via registered mail, email, and SMS message based on their raffle entry information. Their names will also be posted on our <a href="https://www.facebook.com/motoliteexpresshatid"> Facebook Page</a>.</li>
<li>Winners must present all of the following upon claiming the prize at the Motolite Philippines head office located at Ramcar Center 80-82 Roces Ave. Diliman, Q.C. from 10AM to 5PM, Mondays thru Fridays – Except on Holidays. Prizes may also be claimed at Motolite Outlets based on mutual agreement between Oriental & Motolite Marketing Corporation (OMMC) & the prize winner.</li>
  </ol>
  <ol type="A" style="margin-left: 20px;">
    <li>Valid ID (i.e. Driver’s license, Passport, SSS ID, TIN ID, Company or School ID). The name on the Valid ID must correspond to the registered name in the promo. Valid Motolite RES-Q app installed on their smartphone (with the registered mobile number), with the correct plate number and battery serial number details in the RES-Q app.</li>
<li>Official notification text sent to the registered mobile number. Support notification also sent to registered e-mail address (if provided).</li>
<li>Authorized representatives shall be allowed to claim in behalf of the winning subscriber provided that he/ she is able to present the following:</li>
  </ol>
<ul style="margin-left: 35px;">
  <li>Copy of the registered subscriber’s valid ID (original and photocopy)</li>
<li>Authorized representative’s valid ID (original and photocopy)</li>
<li>Authorization letter (signature should match with the signature in the valid ID)</li>
<li>Official notification sent via email or text message from Motolite Philippines</li>
</ul>
  