{% section 'raffle-navigation' %}
<br>
{% section 'image-raffle-banner' %}
<style>
.promo_mechanics {
  color: red;
  font-weight: 700;
  font-size: 25px;  
  margin-top:15px;
  background-color: #d3dbe2;
}
  a.link {
    color:blue;
    text-decoration: none;
    font-size: 18px;
  }
 a.link:hover {
   color:red;
 }
</style>

<script type="text/javascript">

      window.ymConfig = {"bot":"x1722944534597","host":"https://r3.cloud.yellow.ai"};

    (function() {

        var w = window,

            ic = w.YellowMessenger;

        if ("function" === typeof ic) ic("reattach_activator"), ic("update", ymConfig);

        else {

            var d = document,

                i = function() {

                    i.c(arguments)

                };

            function l() {

                var e = d.createElement("script");

                e.type = "text/javascript", e.async = !0, e.src = "https://cdn.yellowmessenger.com/plugin/widget-v2/latest/dist/main.min.js";

                var t = d.getElementsByTagName("script")[0];

                t.parentNode.insertBefore(e, t)

            }

            i.q = [], i.c = function(e) {

                i.q.push(e)

            }, w.YellowMessenger = i, w.attachEvent ? w.attachEvent("onload", l) : w.addEventListener("load", l, !1)}

    })();

    </script>


<div class="container">
<h1 class="promo_mechanics">PROMO MECHANICS</h1>

<ol>
<li>Promo duration is December 12, 2022 to November 15, 2023, extended until March 15, 2024 as approved by DTI-FTEB</li>
<li>Customers gain raffle entries by: 
<ol type="a">
  <li>Purchasing automotive batteries at participating Motolite Outlets (full list on <a href="https://www.motolite.com">www.motolite.com</a>);</li>
<li>Purchasing automotive batteries through Motolite Express Hatid or the Motolite RES-Q app; or</li>
<li>Checking / updating / creating valid E-warranty entries via the Motolite RES-Q app.</li>
</ol>
<li>For a Raffle Entry to be valid, customers must provide their plate number, and mobile number to the Outlet, or Express Hatid / RES-Q rider, or through the RES-Q mobile app E-Warranty. Customers will be reminded to also provide e-mail address, and mailing address.</li>
<li>Monthly cutoffs are on the 15th of each month. Each valid Raffle Entry received prior to cutoff is automatically part of the pool of entries for the upcoming monthly and quarterly draws. All valid Raffle Entries received are automatically part of the pool of entries for the final grand prize draw.</li>
<li>On the 19th or 20th of every month, there will be a draw from all eligible raffle entries for Monthly and Quarterly Prizes. If it is the final month, a winner will be drawn from the current pool of Grand Prize entries.</li>
</ol>
  <h2 class="promo_mechanics">DRAW SCHEDULE & PRIZES</h2>
  <ol>
    <li>Monthly Prizes (for 16 months) are</li>
      <ol type="a">
    <li>50x P100 KFC Gift Certificates per month</li>
    <li>25x P600 KFC Gift Certificates per month</li>
    <li>3x Samsung Galaxy A50 (or equivalent model) per month</li>
    </ol>
    <li>Quarterly Prizes (for 4 quarters) are</li>
    <ol type="a">
        <li>1x Greenlight EV Cycle: M6 per quarter</li>
    </ol>
    <li>Grand Prize (for 1 year) is</li>
      <ol type="a">
    <li>Toyota Fortuner 4x2 2.4 L G A/T (2023)</li>
      </ol>
   </ol>
<h2 class="promo_mechanics">ANNOUNCEMENT OF WINNERS AND CLAIMING OF PRIZES</h2> 
  <ol>
  <li>Winners will be notified via registered mail, email, and SMS message based on their raffle entry information. Their names will also be posted on our <a href="https://www.facebook.com/motoliteexpresshatid"> Facebook Page</a>.</li>
<li>Winners must present all of the following upon claiming the prize at the Motolite Philippines head office located at Ramcar Center 80-82 Roces Ave. Diliman, Q.C. from 10AM to 5PM, Mondays thru Fridays – Except on Holidays. Prizes may also be claimed at Motolite Outlets based on mutual agreement between Oriental & Motolite Marketing Corporation (OMMC) & the prize winner.</li>
  </ol>
  <ol type="A" style="margin-left: 20px;">
    <li>Valid ID (i.e. Driver’s license, Passport, SSS ID, TIN ID, Company or School ID). The name on the Valid ID must correspond to the registered name in the promo. Valid Motolite RES-Q app installed on their smartphone (with the registered mobile number), with the correct plate number and battery serial number details in the RES-Q app.</li>
<li>Official notification text sent to the registered mobile number. Support notification also sent to registered e-mail address (if provided).</li>
<li>Authorized representatives shall be allowed to claim in behalf of the winning subscriber provided that he/ she is able to present the following:</li>
  </ol>
<ul style="margin-left: 35px;">
  <li>Copy of the registered subscriber’s valid ID (original and photocopy)</li>
<li>Authorized representative’s valid ID (original and photocopy)</li>
<li>Authorization letter (signature should match with the signature in the valid ID)</li>
<li>Official notification sent via email or text message from Motolite Philippines</li>
</ul>
  <ol>
<li>Prizes should be claimed within sixty (60) days from the receipt of registered notice, or it will be forfeited in favor of OMMC, with prior approval of DTI.</li>
<li>Customers may only win once per raffle. If a customer wins more than one prize in a monthly raffle, the winner gets the prize of higher value.</li>
<li>Any employees of OMMC, and any employees of its company-owned outlets, or their relatives up to the second degree of consanguinity or affinity, are disqualified from entering this promotion.</li>
  </ol>
<h2 class="promo_mechanics">TERMS AND CONDITIONS</h2>
<ol>
<li>By participating in this contest, participants agree that they have read the full mechanics of this promotion and agree to abide by the official rules and regulations set by Motolite Philippines.</li>
<li>Directors, management, and employees including their relatives up to 2nd degree of consanguinity or affinity, of Oriental & Motolite Marketing Corporation, Philippine Batteries Inc., Ramcar and their affiliates, or any of the distributors/dealers, agencies and companies associated with this promotion are not entitled to participate in this promotion for the CUSTOMER RAFFLE.</li>
<li>The organizers have the right to disqualify participants who manipulate or attempt to manipulate the contest or try to unfairly influence the contest or other participants in any way.</li>
<li>The results are final and no correspondence or inquiries about them will be entertained.</li>
<li>By participating in this promo, the participants also express their agreement to be published and be included in any advertising activity related to this contest.</li>
<li>By accepting the prizes, the winner also gives his/her permission to use their name for advertising purposes without any additional compensation unless prohibited by law.</li>
<li>Taxes for prizes exceeding P10,000 are to be shouldered by Oriental & Motolite Marketing Corporation.</li>
<li>Prizes are not convertible to cash, but are transferrable by the winner with proper documentation.</li>
</ol>
<p>PER DTI Fair Trade Permit No. FTEB-156783 Series of 2022. Check our website at <a href="https://www.motolite.com">www.motolite.com</a> for more details.</p>

<a class="link" href="https://www.motolite.com/pages/participating-outlets">View All Participating Outlets</a>


</div>
