{% section 'winners-navigation' %}
<STYLE>
  h2.outlets_title {
  font-weight: 600;
  font-family: sans-serif;
  margin-top: 70px;
  margin-bottom: 30px;
  color:red;
}
  .giftcard_500 {
   font-family: raleway;
  font-size: 2rem;
  font-weight: 700;    
  }
  .giftcard_100 {
   font-family: raleway;
    font-size: 2rem;
    font-weight: 700;
  }
  .img-fluid {
    width: 100%!important;
    height: auto;
    margin-top: 55px;
    margin-bottom: 7px;
  }
  .promo_mechanics {
  color: red;
    font-weight: 700;
    font-size: 33px;
    margin-top: 29px;
    margin-bottom: 14px;
    background-color: #d3dbe2;
    padding: 8px;
}
</STYLE>
<div class="container">
  <img src="https://cdn.shopify.com/s/files/1/0615/7982/1304/files/DRAW_DATE_copy3.png?v=1681403005" class="img-fluid">


  <table width="100%" style="border: 1px solid white; box-shadow: none;text-align: center;color:#000;">
   <img src="https://cdn.shopify.com/s/files/1/0615/7982/1304/files/prize-BANNER1--1200X400.jpg?v=1681403019" class="img-fluid">
    <tr>
  <td style="font-family: Raleway;font-size: 2rem;font-weight: 700">Paulo Zarate</td>
  </tr>
  </table>
    
  <img src="https://cdn.shopify.com/s/files/1/0615/7982/1304/files/prize-BANNER2--1200X400.jpg?v=1681403019" class="img-fluid">
<table width="100%" style="border: 1px solid white; box-shadow: none;text-align: center;color:#000;">
<tbody>
  
   <tr>
  <td style="font-family: Raleway;font-size: 2rem;font-weight: 700;">Edwin Sarmenta
</td>
  <td style="font-family: Raleway;font-size: 2rem;font-weight: 700">Corazon Penalosa
</td>
  </tr>
  </table>
  <table width="100%" style="border: 1px solid white; box-shadow: none;text-align: center;color:#000;">
    <tr>
  <td style="font-family: Raleway;font-size: 2rem;font-weight: 700">Garry Granil
</td>
  </tr>
  </table>
    
  <table width="100%" style="border: 1px solid white; box-shadow: none;text-align: center;color:#000;">
   <img src="https://cdn.shopify.com/s/files/1/0615/7982/1304/files/prize-BANNER3--1200X400.jpg?v=1681403020" class="img-fluid">
  <tr>
  <td class="giftcard_500">Marilou Montibon
</td>
  <td class="giftcard_500">Jessica Abaya
</td>
  </tr>
    <tr>
  <td class="giftcard_500">Ernesto Ordonez
</td>
  <td class="giftcard_500">Jimmy Convicto
</td>
  </tr>
    <tr>
  <td class="giftcard_500">Allsion Fallurion
</td>
  <td class="giftcard_500">Reuneer Regio
</td>
  </tr>
    <tr>
  <td class="giftcard_500">Octavio De Leon Jr.
</td>
  <td class="giftcard_500">Gary Louie Bylon
</td>
  </tr>
    <tr>
  <td class="giftcard_500">Ma Lourdes Fatima Layug
</td>
  <td class="giftcard_500">Rei Victor Dela Cruz
</td>
  </tr>
    <tr>
  <td class="giftcard_500">Rafael Pacheco Jr.
</td>
   <td class="giftcard_500">John Reantaso
</td>
  </tr>
    <tr>
  <td class="giftcard_500">Noel Ortega
</td>
   <td class="giftcard_500">Lester Lazaro
</td>
  </tr>
    <tr>
 <td class="giftcard_500">Lhessa Zyra Quirubin
</td>
  <td class="giftcard_500">Benjamin Alerda
</td>
  </tr>
    <tr>
   <td class="giftcard_500">Monaliza Dimalanta
</td>
   <td class="giftcard_500">Chito Mateo
</td>
  </tr>
    <td class="giftcard_500">Jan Carlo Ferrer
</td>
  <td class="giftcard_500">Lorenzo Febre
</td>
  </tr>
    <tr>
  <td class="giftcard_500">Harold Dave Narte
</td>
  <td class="giftcard_500">Gregorio De Roxaz
</td>
  </tr>
    <tr>
  <td class="giftcard_500">Cecilia Maoag Mabacua
</td>
  <td class="giftcard_500">Kelly Espera
</td>
  </tr>
  </table>
  <table width="100%" style="border: 1px solid white; box-shadow: none;text-align: center;color:#000;">
  <tr>
  <td class="giftcard_500">RJ Balandra
</td>
  </tr>
  </table>

  <table width="100%" style="border: 1px solid white; box-shadow: none;text-align: center;color:#000;">
  <img src="https://cdn.shopify.com/s/files/1/0615/7982/1304/files/prize-BANNER4--1200X400.jpg?v=1681403019" class="img-fluid">
  <tr>
  <td class="giftcard_100">Grace Munoz
</td>
  <td class="giftcard_100">KV Golamco
</td>
  </tr>
  <tr>
  <td class="giftcard_100">Frances May Calixto
</td>
  <td class="giftcard_100">Rafael Alunan
</td>
  </tr>
  <tr>
  <td class="giftcard_100">Richard Buan
</td>
  <td class="giftcard_100">Ma. Elenita Lazaro
</td>
  </tr>
  
  <tr>
  <td class="giftcard_100">Melinda Fetalco
</td>
   <td class="giftcard_100">Rosemary Salabsalo
</td>
  </tr>
  <tr>
 <td class="giftcard_100">Glenn Valdez
</td>
 <td class="giftcard_100">Divino Carlo Tominez
</td>
  </tr>
  <tr>
  <td class="giftcard_100">Nino Abogado
</td>
  <td class="giftcard_100">Oscar Ramos
</td>
  </tr>
  <tr>
  <td class="giftcard_100">Jeorge Mendiola
</td>
  <td class="giftcard_100">Eddie Mars Hate
</td>
  </tr>
 
  <tr>
  <td class="giftcard_100">Marie Mer Agnes Astejada
</td>
  <td class="giftcard_100">Kristine Ayon Ayon
</td>
  </tr>
  <tr>
  <td class="giftcard_100">Bryan Ramos
</td>
  <td class="giftcard_100">Benito Capulong
</td>
  </tr>
  <tr>
  <td class="giftcard_100">Bel Elma
</td>
  <td class="giftcard_100">Mae Lustre
</td>
  </tr>
  <tr>
  <td class="giftcard_100">Arlene Jimenez
</td>
  <td class="giftcard_100">Marjun Isidro
</td>
  </tr>
  
  <tr>
  <td class="giftcard_100">Amie Ramirez
</td>
  <td class="giftcard_100">Jaime Antonio Borbon
</td>
  </tr>
  <tr>
  <td class="giftcard_100">James Obsequio
</td>
  <td class="giftcard_100">Max Rerbrown
</td>
  </tr>
  <tr>
  <td class="giftcard_100">Reden Llaga
</td>
  <td class="giftcard_100">Nigel Delgado
</td>
  </tr>
  <tr>
  <td class="giftcard_100">Mary Grace Alcantara
</td>
  <td class="giftcard_100">Miriam Camille Chavez
</td>
  </tr>
  <tr>
  <td class="giftcard_100">Anna Arel
</td>
   <td class="giftcard_100">Jennifer De Roxas
</td>
  </tr>
  <tr>
 <td class="giftcard_100">Stepen Tumbaga
</td>
 <td class="giftcard_100">Bryan Carlo Sabillo
</td>
  </tr>
  <tr>
  <td class="giftcard_100">Agustin Gumawa
</td>
  <td class="giftcard_100">Jodar Capati
</td>
  </tr>
  <tr>
  <td class="giftcard_100">Joel German
</td>
   <td class="giftcard_100">Dinnes Matabang
</td>
  </tr>
  <tr>
  <td class="giftcard_100">Marve Cris Villanueva
</td>
  <td class="giftcard_100">Mario Reyes
</td>
  </tr>
  <tr>
  <td class="giftcard_100">Edwin San Juan
</td>
   <td class="giftcard_100">Midori Mata
</td>
  </tr>
  <tr>
 <td class="giftcard_100">Emerson Reyes
</td>
  <td class="giftcard_100">Vanessa Yoon
</td>
  </tr>
  <tr>
  <td class="giftcard_100">Allan Dampil
</td>
  <td class="giftcard_100">Nel Infante
</td>
  </tr>
  <tr>
  <td class="giftcard_100">Erwin Franz Sentillas
</td>
  <td class="giftcard_100">Cecille Richards
</td>
  </tr>
  <tr>
 <td class="giftcard_100">Joel Sablan
</td>
 <td class="giftcard_100">Marionne Lirios
</td>
  </tr>
  </tbody>
 </table>

  <h2 class="promo_mechanics">ANNOUNCEMENT OF WINNERS AND CLAIMING OF PRIZES</h2> 
  <ol>
  <li>Winners will be notified via registered mail, email, and SMS message based on their raffle entry information. Their names will also be posted on our <a href="https://www.facebook.com/motoliteexpresshatid"> Facebook Page</a>.</li>
<li>Winners must present all of the following upon claiming the prize at the Motolite Philippines head office located at Ramcar Center 80-82 Roces Ave. Diliman, Q.C. from 10AM to 5PM, Mondays thru Fridays – Except on Holidays. Prizes may also be claimed at Motolite Outlets based on mutual agreement between Oriental & Motolite Marketing Corporation (OMMC) & the prize winner.</li>
  </ol>
  <ol type="A" style="margin-left: 20px;">
    <li>Valid ID (i.e. Driver’s license, Passport, SSS ID, TIN ID, Company or School ID). The name on the Valid ID must correspond to the registered name in the promo. Valid Motolite RES-Q app installed on their smartphone (with the registered mobile number), with the correct plate number and battery serial number details in the RES-Q app.</li>
<li>Official notification text sent to the registered mobile number. Support notification also sent to registered e-mail address (if provided).</li>
<li>Authorized representatives shall be allowed to claim in behalf of the winning subscriber provided that he/ she is able to present the following:</li>
  </ol>
<ul style="margin-left: 35px;">
  <li>Copy of the registered subscriber’s valid ID (original and photocopy)</li>
<li>Authorized representative’s valid ID (original and photocopy)</li>
<li>Authorization letter (signature should match with the signature in the valid ID)</li>
<li>Official notification sent via email or text message from Motolite Philippines</li>
</ul>
  